openapi: 3.2.0
info:
  title: Kajabi API V1 Webhooks API
  version: 1.1.0
  description: '## Public API

    * Server URL `https://api.kajabi.com`

    * Endpoint paths are prefixed with `/v1`

    * Version endpoint `GET https://api.kajabi.com/v1/version`

    * See the Developers Site for documentation and examples.'
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Webhooks
paths:
  /v1/hooks:
    get:
      summary: List hooks
      description: 'Lists webhooks for a site


        ## Pagination

        Use `page[number]` and `page[size]` parameters to paginate results:

        ### Get first page of 10 items

        * `GET /v1/hooks?page[number]=1&page[size]=10`

        ### Get second page of 25 items

        * `GET /v1/hooks?page[number]=2&page[size]=25`


        The response includes pagination links and meta data:

        ```json

        {

        "links": {

        "self": "https://api.kajabi.com/v1/hooks?page[number]=2&page[size]=10",

        "first": "https://api.kajabi.com/v1/hooks?page[number]=1&page[size]=10",

        "prev": "https://api.kajabi.com/v1/hooks?page[number]=1&page[size]=10",

        "next": "https://api.kajabi.com/v1/hooks?page[number]=3&page[size]=10",

        "last": "https://api.kajabi.com/v1/hooks?page[number]=5&page[size]=10"

        },

        "meta": {

        "total_pages": 5,

        "total_count": 50,

        "current_page": 2

        }

        }

        ```

        ## Filtering

        Use `filter[event_eq]` parameter to filter webhooks by event type:

        ### Get webhooks for purchase events only

        * `GET /v1/hooks?filter[event_eq]=purchase`'
      tags:
      - Webhooks
      security:
      - Bearer: []
      parameters:
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: integer
      - name: filter[event_eq]
        in: query
        required: false
        schema:
          type: string
          enum:
          - purchase
          - form_submission
          - tag_added
          - tag_removed
          - payment_succeeded
          - order_created
        description: Filter by event type, for example ?filter[event_eq]=purchase
      responses:
        '200':
          description: Success, list of hooks which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/hooks_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1Hooks
      x-operation-id-source: derived
    post:
      summary: Create hook
      description: 'Creates a new webhook subscription


        ## Request Body

        The request must include:

        * `data` - parent object which includes the children/nested attributes:

        * `target_url` - The URL where webhook events will be sent

        * `event` - The type of event to subscribe to (see available events below), for example "tag_added"

        * `resource_id` (optional) - Specific resource ID to filter events for, for example the id of the Contact Tag. When the property is omitted, the webhook will be triggered for all events of the specified type, as a wildcard webhook.


        ## Available Event Types


        | Event | Description | Required API Scopes |

        |-------|-------------|-------------------|

        | `purchase` | Customer makes a purchase | `view:purchases` |

        | `payment_succeeded` | Payment transaction completes successfully | `view:transactions` |

        | `order_created` | New order is created | `view:transactions`, `view:orders` |

        | `form_submission` | Someone submits a form | `view:form_submissions` |

        | `tag_added` | Tag is added to a contact | `view:contacts` |

        | `tag_removed` | Tag is removed from a contact | `view:contacts` |


        **Note**: You can only create webhooks for events you have permission to access based on your API key scopes. For example to use tags you need the `view:contacts` scope, which is included in the account owner api key scope.


        ## Sample Payloads

        You can view sample webhook payloads for each event type:

        * `GET /v1/hooks/purchase_sample`

        * `GET /v1/hooks/payment_succeeded_sample`

        * `GET /v1/hooks/order_created_sample`

        * `GET /v1/hooks/form_submission_sample`

        * `GET /v1/hooks/tag_added_sample`

        * `GET /v1/hooks/tag_removed_sample`


        Example request targeting a specific tag:

        ```json

        {

        "data": {

        "type": "hooks",

        "attributes": {

        "target_url": "https://example.com/webhook",

        "event": "tag_added",

        "resource_id": "123"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "456",

        "type": "sites"

        }

        }

        }

        }

        }

        ```


        Example request using a wildcard webhook:

        ```json

        {

        "data": {

        "type": "hooks",

        "attributes": {

        "target_url": "https://example.com/webhook",

        "event": "tag_added"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "456",

        "type": "sites"

        }

        }

        }

        }

        }

        ```


        ## Actual Payloads

        The actual payloads are sent to the `target_url` as a POST request with the following JSON body:

        ```json

        {

        "id": "hash_id",

        "event": "tag_added",

        "payload": [],

        }

        ```

        The `id` is the ID of the resource that triggered the event.

        The `event` is the type of event that triggered the webhook.

        The `payload` is the actual payload of the event and the content will be similar to the sample payloads above.'
      tags:
      - Webhooks
      security:
      - Bearer: []
      parameters: []
      responses:
        '201':
          description: Success, webhook created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/hooks_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '422':
          description: Unprocessable Entity, invalid parameters
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unprocessable'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - hooks
                    attributes:
                      $ref: '#/components/schemas/hooks_attributes'
                    relationships:
                      type: object
                      properties:
                        site:
                          type: object
                          properties:
                            data:
                              $ref: '#/components/schemas/resource_identifier'
                      required:
                      - site
                  required:
                  - type
                  - attributes
                  - relationships
              required:
              - data
      operationId: postV1Hooks
      x-operation-id-source: derived
  /v1/hooks/{id}:
    get:
      summary: Hook details
      description: Returns specific hook based on it ID
      tags:
      - Webhooks
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, webhook retrieved
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/hooks_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not Found, webhook does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_not_found'
      operationId: getV1HooksById
      x-operation-id-source: derived
    delete:
      summary: Delete hook
      description: Deletes a webhook subscription
      tags:
      - Webhooks
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success, webhook deleted
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not Found, webhook does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_not_found'
      operationId: deleteV1HooksById
      x-operation-id-source: derived
  /v1/hooks/tag_added_sample:
    get:
      summary: Tag added sample
      description: 'Returns sample webhook payload for the `tag_added` event:

        ```

        [

        {

        "id": "0",

        "type": "contacts",

        "attributes": {

        "name": "Sample Recipient",

        "email": "sample@example.com",

        "address_line_1": "123 Kajabi Ln",

        "address_line_2": "Kajabi Suite 4",

        "address_city": "Kajabiwood",

        "address_country": "United Sites of Kajabi",

        "address_state": "Kajabifornia",

        "address_zip": "99999",

        "phone_number": "5555555555",

        "business_number": null,

        "subscribed": false,

        "external_user_id": null,

        "created_at": "2025-07-31T16:51:04.010Z",

        "updated_at": "2025-07-31T16:51:04.010Z"

        },

        "links": {

        "customer": ""

        },

        "relationships": {

        "site": {

        "data": {

        "id": "2",

        "type": "sites"

        }

        }

        }

        },

        {

        "id": "0",

        "type": "contact_tags",

        "attributes": {

        "name": "Tag"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "2",

        "type": "sites"

        }

        }

        }

        }

        ]

        ```

        ## Actual Payloads

        The actual payloads are sent to the `target_url` as a POST request with the following JSON body:

        ```json

        {

        "id": "hash_id",

        "event": "tag_added",

        "payload": [],

        }

        ```

        The `payload` array is the sample response above'
      tags:
      - Webhooks
      security:
      - Bearer: []
      responses:
        '200':
          description: Success, returns sample webhook payload
          content:
            application/vnd.api+json:
              schema:
                type: array
                items:
                  anyOf:
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - contacts
                      attributes:
                        $ref: '#/components/schemas/contacts_attributes'
                      relationships:
                        type: object
                        properties:
                          tags:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - contact_tags
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - contact_tags
                      attributes:
                        $ref: '#/components/schemas/contact_tags_attributes'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1HooksTagAddedSample
      x-operation-id-source: derived
  /v1/hooks/tag_removed_sample:
    get:
      summary: Tag removed sample
      description: 'Returns sample webhook payload for the `tag_removed` event:

        ```

        [

        {

        "id": "0",

        "type": "contacts",

        "attributes": {

        "name": "Sample Recipient",

        "email": "sample@example.com",

        "address_line_1": "123 Kajabi Ln",

        "address_line_2": "Kajabi Suite 4",

        "address_city": "Kajabiwood",

        "address_country": "United Sites of Kajabi",

        "address_state": "Kajabifornia",

        "address_zip": "99999",

        "phone_number": "5555555555",

        "business_number": null,

        "subscribed": false,

        "external_user_id": null,

        "created_at": "2025-07-31T16:51:04.010Z",

        "updated_at": "2025-07-31T16:51:04.010Z"

        },

        "links": {

        "customer": ""

        },

        "relationships": {

        "site": {

        "data": {

        "id": "2",

        "type": "sites"

        }

        }

        }

        },

        {

        "id": "0",

        "type": "contact_tags",

        "attributes": {

        "name": "Tag"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "2",

        "type": "sites"

        }

        }

        }

        }

        ]

        ```

        ## Actual Payloads

        The actual payloads are sent to the `target_url` as a POST request with the following JSON body:

        ```json

        {

        "id": "hash_id",

        "event": "tag_removed",

        "payload": [],

        }

        ```

        The `payload` array is the sample response above'
      tags:
      - Webhooks
      security:
      - Bearer: []
      responses:
        '200':
          description: Success, returns sample webhook payload
          content:
            application/vnd.api+json:
              schema:
                type: array
                items:
                  anyOf:
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - contacts
                      attributes:
                        $ref: '#/components/schemas/contacts_attributes'
                      relationships:
                        type: object
                        properties:
                          tags:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - contact_tags
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - contact_tags
                      attributes:
                        $ref: '#/components/schemas/contact_tags_attributes'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1HooksTagRemovedSample
      x-operation-id-source: derived
  /v1/hooks/form_submission_sample:
    get:
      summary: Form submission sample
      description: 'Returns sample webhook payload for the `form_submission` event:

        ```

        [

        {

        "id": "0",

        "type": "form_submissions",

        "attributes": {

        "name": "John Doe",

        "email": "john.doe@example.com",

        "address_line_1": null,

        "address_line_2": null,

        "address_city": null,

        "address_country": null,

        "address_state": null,

        "address_zip": null,

        "phone_number": null,

        "business_number": null,

        "mobile_phone_number": null

        },

        "relationships": {

        "site": {

        "data": {

        "id": "2",

        "type": "sites"

        }

        },

        "form": {

        "data": {

        "id": "0",

        "type": "forms"

        }

        }

        }

        },

        {

        "id": "0",

        "type": "forms",

        "attributes": {

        "url": "https://bill-heaton.kajabi-products.test/forms/0",

        "title": "Sample Form",

        "default": false,

        "webhook_url": null,

        "created_at": null,

        "updated_at": null

        },

        "relationships": {

        "site": {

        "data": {

        "id": "2",

        "type": "sites"

        }

        },

        "fields": {

        "data": []

        },

        "contact_tags": {

        "data": []

        }

        }

        }

        ]

        ```

        ## Actual Payloads

        The actual payloads are sent to the `target_url` as a POST request with the following JSON body:

        ```json

        {

        "id": "hash_id",

        "event": "form_submission",

        "payload": [],

        }

        ```

        The `payload` array is the sample response above'
      tags:
      - Webhooks
      security:
      - Bearer: []
      responses:
        '200':
          description: Success, returns sample webhook payload
          content:
            application/vnd.api+json:
              schema:
                type: array
                items:
                  anyOf:
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - form_submissions
                      attributes:
                        $ref: '#/components/schemas/form_submission_attributes'
                      relationships:
                        type: object
                        properties:
                          tags:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - forms
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - forms
                      attributes:
                        $ref: '#/components/schemas/form_attributes'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1HooksFormSubmissionSample
      x-operation-id-source: derived
  /v1/hooks/purchase_sample:
    get:
      summary: Purchase sample
      description: 'Returns sample webhook payload for the `purchase` event:

        ```

        [

        {

        "id": "0",

        "type": "purchases",

        "attributes": {

        "amount_in_cents": 1000,

        "payment_type": "single",

        "multipay_payments_made": null,

        "opt_in": false,

        "raw_extra_contact_information": {},

        "currency": "USD",

        "effective_start_at": null,

        "cardholder_name": null,

        "billing_address_zip": null,

        "deactivated_at": null,

        "deactivation_reason": null,

        "coupon_code": null,

        "source": null,

        "referrer": null,

        "quantity": 1,

        "created_at": "2025-07-31T16:59:27.580Z",

        "updated_at": "2025-07-31T16:59:27.580Z"

        },

        "relationships": {

        "customer": {

        "data": {

        "id": "0",

        "type": "customers"

        }

        },

        "offer": {

        "data": {

        "id": "0",

        "type": "offers"

        }

        },

        "products": {

        "data": []

        }

        }

        },

        {

        "id": "0",

        "type": "offers",

        "attributes": {

        "title": "Kajabi Test Offer",

        "description": null,

        "internal_title": null,

        "currency": "USD",

        "price_in_cents": 1000,

        "payment_type": "single",

        "token": "n8NtoHUZ",

        "image_url": null,

        "payment_method": "stripe_and_paypal",

        "price_description": "$10.00 USD",

        "checkout_url": "https://bill-heaton.kajabi-products.test/offers/n8NtoHUZ",

        "recurring_offer": false,

        "subscription": false,

        "one_time": true,

        "single": true,

        "free": false

        },

        "relationships": {

        "site": {

        "data": {

        "id": "2",

        "type": "sites"

        }

        },

        "products": {

        "data": []

        },

        "forms": {

        "data": []

        }

        }

        },

        {

        "id": "0",

        "type": "customers",

        "attributes": {

        "name": "John Doe",

        "email": "john.doe@example.com",

        "avatar": null,

        "external_user_id": null,

        "public_bio": null,

        "public_location": null,

        "public_website": null,

        "socials": null,

        "net_revenue": "0.0",

        "sign_in_count": 0,

        "last_request_at": null,

        "bounced_at": null,

        "created_at": "2025-07-31T16:59:27.552Z",

        "updated_at": "2025-07-31T16:59:27.552Z"

        },

        "links": {

        "contact": "https://www.kajabi.test/api/v1/contacts/0"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "2",

        "type": "sites"

        }

        },

        "contact": {

        "data": {

        "id": "0",

        "type": "contacts"

        }

        },

        "offers": {

        "data": [],

        "links": {

        "self": "https://www.kajabi.test/api/v1/customers/0/relationships/offers"

        }

        },

        "products": {

        "data": []

        }

        }

        }

        ]

        ```

        ## Actual Payloads

        The actual payloads are sent to the `target_url` as a POST request with the following JSON body:

        ```json

        {

        "id": "hash_id",

        "event": "purchase",

        "payload": [],

        }

        ```

        The `payload` array is the sample response above'
      tags:
      - Webhooks
      security:
      - Bearer: []
      responses:
        '200':
          description: Success, returns sample webhook payload
          content:
            application/vnd.api+json:
              schema:
                type: array
                items:
                  anyOf:
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - purchases
                      attributes:
                        $ref: '#/components/schemas/purchases_attributes'
                      relationships:
                        type: object
                        properties:
                          customer:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - customers
                          offers:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - offers
                          products:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - offers
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - customers
                      attributes:
                        $ref: '#/components/schemas/customers_attributes'
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - offers
                      attributes:
                        $ref: '#/components/schemas/offers_attributes'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1HooksPurchaseSample
      x-operation-id-source: derived
  /v1/hooks/payment_succeeded_sample:
    get:
      summary: Payment succeeded sample
      description: 'Returns sample webhook payload for the `payment_succeeded` event:

        ```

        [

        {

        "id": "0",

        "type": "transactions",

        "attributes": {

        "action": "charge",

        "state": "succeeded",

        "payment_type": "charge",

        "amount_in_cents": 1000,

        "sales_tax_in_cents": 0,

        "currency": "USD",

        "currency_symbol": "$",

        "formatted_amount": "$10.00",

        "created_at": "2025-07-31T17:10:19.285Z"

        },

        "relationships": {

        "customer": {

        "data": {

        "id": "0",

        "type": "customers"

        }

        },

        "offer": {

        "data": null

        }

        }

        },

        {

        "id": "0",

        "type": "customers",

        "attributes": {

        "name": "John Doe",

        "email": "john.doe@example.com",

        "avatar": null,

        "external_user_id": null,

        "public_bio": null,

        "public_location": null,

        "public_website": null,

        "socials": null,

        "net_revenue": "0.0",

        "sign_in_count": 0,

        "last_request_at": null,

        "bounced_at": null,

        "created_at": "2025-07-31T17:10:19.243Z",

        "updated_at": "2025-07-31T17:10:19.243Z"

        },

        "links": {

        "contact": "https://www.kajabi.test/api/v1/contacts/0"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "2",

        "type": "sites"

        }

        },

        "contact": {

        "data": {

        "id": "0",

        "type": "contacts"

        }

        },

        "offers": {

        "data": [],

        "links": {

        "self": "https://www.kajabi.test/api/v1/customers/0/relationships/offers"

        }

        },

        "products": {

        "data": []

        }

        }

        }

        ]

        ```

        ## Actual Payloads

        The actual payloads are sent to the `target_url` as a POST request with the following JSON body:

        ```json

        {

        "id": "hash_id",

        "event": "payment_succeeded",

        "payload": [],

        }

        ```

        The `payload` array is the sample response above'
      tags:
      - Webhooks
      security:
      - Bearer: []
      responses:
        '200':
          description: Success, returns sample webhook payload
          content:
            application/vnd.api+json:
              schema:
                type: array
                items:
                  anyOf:
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - transactions
                      attributes:
                        $ref: '#/components/schemas/transactions_attributes'
                      relationships:
                        type: object
                        properties:
                          customer:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - customers
                          offer:
                            type: object
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - offers
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - customers
                      attributes:
                        $ref: '#/components/schemas/customers_attributes'
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - offers
                      attributes:
                        $ref: '#/components/schemas/offers_attributes'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1HooksPaymentSucceededSample
      x-operation-id-source: derived
  /v1/hooks/order_created_sample:
    get:
      summary: Order created sample
      description: 'Returns sample webhook payload for the `order_created` event:

        ```

        [

        {

        "id": "0",

        "type": "transactions",

        "attributes": {

        "action": "charge",

        "state": "succeeded",

        "payment_type": "charge",

        "amount_in_cents": 1000,

        "sales_tax_in_cents": 0,

        "currency": "USD",

        "currency_symbol": "$",

        "formatted_amount": "$10.00",

        "created_at": "2025-07-31T17:13:05.247Z"

        },

        "relationships": {

        "customer": {

        "data": {

        "id": "0",

        "type": "customers"

        }

        },

        "offer": {

        "data": null

        }

        }

        },

        {

        "id": "0",

        "type": "customers",

        "attributes": {

        "name": "John Doe",

        "email": "john.doe@example.com",

        "avatar": null,

        "external_user_id": null,

        "public_bio": null,

        "public_location": null,

        "public_website": null,

        "socials": null,

        "net_revenue": "0.0",

        "sign_in_count": 0,

        "last_request_at": null,

        "bounced_at": null,

        "created_at": "2025-07-31T17:13:05.207Z",

        "updated_at": "2025-07-31T17:13:05.207Z"

        },

        "links": {

        "contact": "https://www.kajabi.test/api/v1/contacts/0"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "2",

        "type": "sites"

        }

        },

        "contact": {

        "data": {

        "id": "0",

        "type": "contacts"

        }

        },

        "offers": {

        "data": [],

        "links": {

        "self": "https://www.kajabi.test/api/v1/customers/0/relationships/offers"

        }

        },

        "products": {

        "data": []

        }

        }

        },

        {

        "id": "0",

        "type": "orders",

        "attributes": {

        "order_number": 0,

        "currency_code": "USD",

        "fulfilled_at": null,

        "created_at": "2025-07-31T17:13:05.207Z",

        "total_price_in_cents": 1000,

        "subtotal_in_cents": 800,

        "sales_tax_amount_in_cents": 200,

        "discount_amount_in_cents": 0,

        "formatted_total_price": "$10.00",

        "formatted_subtotal": "$8.00",

        "currency_symbol": "$"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "2",

        "type": "sites"

        }

        },

        "customer": {

        "data": {

        "id": "0",

        "type": "customers"

        }

        },

        "order_items": {

        "data": [

        {

        "id": "0",

        "type": "order_items"

        }

        ]

        },

        "payment_transactions": {

        "data": []

        }

        }

        },

        {

        "id": "0",

        "type": "order_items",

        "attributes": {

        "quantity": 1,

        "currency_code": "USD",

        "item_type": "Offer",

        "item_id": 0,

        "title": "Kajabi Test Offer",

        "fulfilled_at": null,

        "created_at": "2025-07-31T17:13:05.229Z",

        "total_price_in_cents": 1000,

        "subtotal_in_cents": 800,

        "sales_tax_amount_in_cents": 200,

        "discount_amount_in_cents": 0,

        "formatted_total_price": "$10.00",

        "formatted_subtotal": "$8.00",

        "currency_symbol": "$"

        },

        "relationships": {

        "order": {

        "data": {

        "id": "0",

        "type": "orders"

        }

        }

        }

        }

        ]

        ```

        ## Actual Payloads

        The actual payloads are sent to the `target_url` as a POST request with the following JSON body:

        ```json

        {

        "id": "hash_id",

        "event": "order_created",

        "payload": [],

        }

        ```

        The `payload` array is the sample response above'
      tags:
      - Webhooks
      security:
      - Bearer: []
      responses:
        '200':
          description: Success, returns sample webhook payload
          content:
            application/vnd.api+json:
              schema:
                type: array
                items:
                  anyOf:
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - transactions
                      attributes:
                        $ref: '#/components/schemas/transactions_attributes'
                      relationships:
                        type: object
                        properties:
                          customer:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - customers
                          offer:
                            type: object
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - offers
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - customers
                      attributes:
                        $ref: '#/components/schemas/customers_attributes'
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - offers
                      attributes:
                        $ref: '#/components/schemas/offers_attributes'
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - orders
                      attributes:
                        $ref: '#/components/schemas/orders_attributes'
                      relationships:
                        type: object
                        properties:
                          site:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - sites
                          customer:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - customers
                          order_items:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - order_items
                          payment_transactions:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - transactions
                  - type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - order_items
                      attributes:
                        $ref: '#/components/schemas/order_items_attributes'
                      relationships:
                        type: object
                        properties:
                          order:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - orders
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1HooksOrderCreatedSample
      x-operation-id-source: derived
components:
  schemas:
    hooks_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum:
                - hooks
              attributes:
                $ref: '#/components/schemas/hooks_attributes'
              relationships:
                type: object
                properties:
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
    errors_not_found:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    orders_attributes:
      type: object
      properties:
        order_number:
          type: integer
        currency_code:
          type: string
        fulfilled_at:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        total_price_in_cents:
          type: integer
        subtotal_in_cents:
          type: integer
        sales_tax_amount_in_cents:
          type: integer
        discount_amount_in_cents:
          type: integer
        formatted_total_price:
          type: string
        formatted_subtotal:
          type: string
        currency_symbol:
          type: string
    form_submission_attributes:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        phone_number:
          type:
          - string
          - 'null'
        business_number:
          type:
          - string
          - 'null'
        address_line_1:
          type:
          - string
          - 'null'
        address_line_2:
          type:
          - string
          - 'null'
        address_city:
          type:
          - string
          - 'null'
        address_state:
          type:
          - string
          - 'null'
        address_country:
          type:
          - string
          - 'null'
        address_zip:
          type:
          - string
          - 'null'
        custom_1:
          type:
          - string
          - 'null'
          description: Support depends on custom fields of a site
        custom_2:
          type:
          - string
          - 'null'
          description: Support depends on custom fields of a site
        custom_3:
          type:
          - string
          - 'null'
          description: Support depends on custom fields of a site
    hooks_attributes:
      type: object
      properties:
        event:
          type: string
          enum:
          - purchase
          - form_submission
          - tag_added
          - tag_removed
          - payment_succeeded
          - order_created
        target_url:
          type: string
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        resource_id:
          type:
          - integer
          - 'null'
      required:
      - event
      - target_url
    offers_attributes:
      type: object
      properties:
        title:
          type: string
        description:
          type:
          - string
          - 'null'
        internal_title:
          type:
          - string
          - 'null'
        currency:
          type: string
        price_in_cents:
          type: integer
        payment_type:
          type: string
        token:
          type: string
        payment_method:
          type: string
        price_description:
          type: string
        checkout_url:
          type: string
        recurring_offer:
          type: boolean
        subscription:
          type: boolean
        one_time:
          type: boolean
        single:
          type: boolean
        free:
          type: boolean
        image_url:
          type:
          - string
          - 'null'
      required:
      - title
    hooks_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - hooks
            attributes:
              $ref: '#/components/schemas/hooks_attributes'
            relationships:
              type: object
              properties:
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
    contacts_attributes:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        phone_number:
          type:
          - string
          - 'null'
        business_number:
          type:
          - string
          - 'null'
        subscribed:
          type: boolean
        address_line_1:
          type:
          - string
          - 'null'
        address_line_2:
          type:
          - string
          - 'null'
        address_city:
          type:
          - string
          - 'null'
        address_state:
          type:
          - string
          - 'null'
        address_country:
          type:
          - string
          - 'null'
        external_user_id:
          type:
          - string
          - 'null'
          description: Supported once contact is granted an offer or makes a purchase
        address_zip:
          type:
          - string
          - 'null'
        custom_1:
          type:
          - string
          - 'null'
          description: Support depends on custom fields of a site
        custom_2:
          type:
          - string
          - 'null'
          description: Support depends on custom fields of a site
        custom_3:
          type:
          - string
          - 'null'
          description: Support depends on custom fields of a site
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type:
          - object
          - 'null'
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    customers_attributes:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        avatar:
          type:
          - string
          - 'null'
        external_user_id:
          type:
          - string
          - 'null'
          description: Supported once contact is granted an offer or makes a purchase
        public_bio:
          type:
          - string
          - 'null'
        public_location:
          type:
          - string
          - 'null'
        public_website:
          type:
          - string
          - 'null'
        socials:
          type:
          - object
          - 'null'
          properties:
            twitter:
              type:
              - string
              - 'null'
            facebook:
              type:
              - string
              - 'null'
            instagram:
              type:
              - string
              - 'null'
        net_revenue:
          type:
          - string
          - 'null'
        sign_in_count:
          type:
          - integer
          - 'null'
          description: Read only
        last_request_at:
          type:
          - string
          - 'null'
          description: ISO 8601 date-time, read only
        bounced_at:
          type:
          - string
          - 'null'
          description: ISO 8601 date-time, read only
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    form_attributes:
      type: object
      properties:
        title:
          type:
          - string
          - 'null'
        default:
          type: boolean
        webhook_url:
          type:
          - object
          - 'null'
        url:
          type: string
        created_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    contact_tags_attributes:
      type: object
      properties:
        name:
          type: string
      required:
      - name
    errors_unprocessable:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    order_items_attributes:
      type: object
      properties:
        quantity:
          type: integer
        currency_code:
          type: string
        item_type:
          type: string
        item_id:
          type: integer
        title:
          type: string
        fulfilled_at:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        total_price_in_cents:
          type: integer
        subtotal_in_cents:
          type: integer
        sales_tax_amount_in_cents:
          type: integer
        discount_amount_in_cents:
          type: integer
        formatted_total_price:
          type: string
        formatted_subtotal:
          type: string
        currency_symbol:
          type: string
    purchases_attributes:
      type: object
      properties:
        amount_in_cents:
          type: integer
        payment_type:
          type: string
        multipay_payments_made:
          type:
          - integer
          - 'null'
        opt_in:
          type: boolean
        raw_extra_contact_information:
          type: object
        currency:
          type: string
        effective_start_at:
          type:
          - string
          - 'null'
        cardholder_name:
          type:
          - string
          - 'null'
        billing_address_zip:
          type:
          - string
          - 'null'
        deactivated_at:
          type:
          - string
          - 'null'
        deactivation_reason:
          type:
          - string
          - 'null'
        coupon_code:
          type:
          - string
          - 'null'
        source:
          type:
          - string
          - 'null'
        referrer:
          type:
          - string
          - 'null'
        quantity:
          type:
          - integer
          - 'null'
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    transactions_attributes:
      type: object
      properties:
        action:
          type: string
        state:
          type: string
        payment_type:
          type:
          - string
          - 'null'
        amount_in_cents:
          type: integer
        sales_tax_in_cents:
          type: integer
        currency:
          type: string
        currency_symbol:
          type: string
        formatted_amount:
          type: string
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
