openapi: 3.0.3
info:
  title: Kajabi API V1 Authentication Sites API
  version: 1.1.0
  description: "## Public API\n* Server URL `https://api.kajabi.com`\n* Endpoint paths are prefixed with `/v1`\n* Version endpoint `GET https://api.kajabi.com/v1/version`\n* See the [Developers Site](https://developers.kajabi.com) for documentation and examples.\n* Try the demo [Postman collection](https://www.postman.com/kajabi-apis/beta-public-api-demo/collection/fg4iyaz/kajabi-public-api-v1)\n## API Keys\n* Your API `client_id` and `client_secret` are available on the [User API Keys](https://app.kajabi.com/admin/settings/security) section of the Kajabi Admin Portal.\n  * Custom API Keys can be created with specific permissions.\n  * Click the \"Create User API Key\" button, enter a name (e.g. \"My project\"), select the user and permissions, and click \"Create\".\n  * For security purposes, you may \"Delete\" or \"Rotate\" the api credentials at any time; which will invalidate any access tokens granted with the credentials.\n## Video Walkthroughs\n* [Capabilities](https://drive.google.com/file/d/1Puc9B2sSdA-RQb7YMxmUXg4FVoEXytoc/view?usp=sharing)\n* [Getting Started](https://drive.google.com/file/d/1hbGRShkxven_QMWvgYrerHKURbcZrnvJ/view?usp=sharing)\n* [Error Examples](https://drive.google.com/file/d/1i0wQK71I1jpaZVsxYwsn62gVj40S_E7Y/view?usp=sharing)\n* [External Contact Form](https://drive.google.com/file/d/1HqpULXvan5TOK3LvM7nILCuCkCaX0kFT/view?usp=sharing)\n"
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Sites
paths:
  /v1/sites:
    get:
      summary: List sites
      description: "List of sites that the current user has access to\n## Pagination\nUse `page[number]` and `page[size]` parameters to paginate results:\n### Get first page of 10 items\n* `GET /v1/sites?page[number]=1&page[size]=10`\n### Get second page of 25 items\n* `GET /v1/sites?page[number]=2&page[size]=25`\n\nThe response includes pagination links and meta data:\n```json\n{\n  \"links\": {\n    \"self\": \"https://api.kajabi.com/v1/sites?page[number]=2&page[size]=10\",\n    \"first\": \"https://api.kajabi.com/v1/sites?page[number]=1&page[size]=10\",\n    \"prev\": \"https://api.kajabi.com/v1/sites?page[number]=1&page[size]=10\",\n    \"next\": \"https://api.kajabi.com/v1/sites?page[number]=3&page[size]=10\",\n    \"last\": \"https://api.kajabi.com/v1/sites?page[number]=5&page[size]=10\"\n  },\n  \"meta\": {\n    \"total_pages\": 5,\n    \"total_count\": 50,\n    \"current_page\": 2\n  }\n}\n```\n## Sorting\nUse the `sort` parameter to sort the results:\n### Sort by title in ascending order\n* `GET /v1/sites?sort=title`\n### Sort by title in descending order\n* `GET /v1/sites?sort=-title`\n\nResponse will include sites sorted by the specified field\n```json\n{\n  \"data\": [\n    {\n      \"id\": \"123\",\n      \"type\": \"sites\",\n      \"attributes\": {\n        \"title\": \"Advanced Training Site\",\n        \"subdomain\": \"advanced-training\"\n      }\n    },\n    {\n      \"id\": \"456\",\n      \"type\": \"sites\",\n      \"attributes\": {\n        \"title\": \"Beginner Training Site\",\n        \"subdomain\": \"beginner-training\"\n      }\n    }\n  ]\n}\n```\n## Sparse Fields\nUse the `fields[sites]` parameter to request only specific attributes:\n### Only return title and subdomain attributes\n* `GET /v1/sites?fields[sites]=title,subdomain`\n\nResponse will only include requested fields\n```json\n{\n  \"data\": [{\n    \"id\": \"123\",\n    \"type\": \"sites\",\n    \"attributes\": {\n      \"title\": \"Advanced Training Site\",\n      \"subdomain\": \"advanced-training\"\n    }\n  }]\n}\n```\n## Filter by Title Contains\nUse the `filter[title_cont]` parameter to find sites where the title contains specific text:\n### Get sites with titles containing \"training\"\n* `GET /v1/sites?filter[title_cont]=training`\n\nResponse will include sites with matching titles\n```json\n{\n  \"data\": [{\n    \"id\": \"123\",\n    \"type\": \"sites\",\n    \"attributes\": {\n      \"title\": \"Advanced Training Site\",\n      \"subdomain\": \"advanced-training\"\n    }\n  },\n  {\n    \"id\": \"456\",\n    \"type\": \"sites\",\n    \"attributes\": {\n      \"title\": \"Beginner Training Site\",\n      \"subdomain\": \"beginner-training\"\n    }\n  }]\n}\n```\n## Filter by Subdomain Contains\nUse the `filter[subdomain_cont]` parameter to find sites where the subdomain contains specific text:\n### Get sites with subdomains containing \"training\"\n* `GET /v1/sites?filter[subdomain_cont]=training`\n\nResponse will include sites with matching subdomains\n```json\n{\n  \"data\": [{\n    \"id\": \"123\",\n    \"type\": \"sites\",\n    \"attributes\": {\n      \"title\": \"Advanced Training Site\",\n      \"subdomain\": \"advanced-training\"\n    }\n  },\n  {\n    \"id\": \"456\",\n    \"type\": \"sites\",\n    \"attributes\": {\n      \"title\": \"Beginner Training Site\",\n      \"subdomain\": \"beginner-training\"\n    }\n  }]\n}\n```\n## Using Multiple Parameters Together\nYou can combine pagination, sorting and sparse fields in a single request:\n### Get page 2 of sites, sorted by title descending, including only title and subdomain fields\n* `GET /v1/sites?page[number]=2&page[size]=10&sort=-title&fields[sites]=title,subdomain`\n\nResponse will include paginated sites with sparse fields\n```json\n{\n  \"data\": [\n    {\n      \"id\": \"456\",\n      \"type\": \"sites\",\n      \"attributes\": {\n        \"title\": \"Beginner Training Site\",\n        \"subdomain\": \"beginner-training\"\n      }\n    }\n  ],\n  \"links\": {\n    \"self\": \"https://api.kajabi.com/v1/sites?page[number]=2&page[size]=10&sort=-title&fields[sites]=title,subdomain\",\n    \"first\": \"https://api.kajabi.com/v1/sites?page[number]=1&page[size]=10&sort=-title&fields[sites]=title,subdomain\",\n    \"prev\": \"https://api.kajabi.com/v1/sites?page[number]=1&page[size]=10&sort=-title&fields[sites]=title,subdomain\",\n    \"next\": null,\n    \"last\": \"https://api.kajabi.com/v1/sites?page[number]=2&page[size]=10&sort=-title&fields[sites]=title,subdomain\"\n  },\n  \"meta\": {\n    \"total_pages\": 2,\n    \"total_count\": 15,\n    \"current_page\": 2\n  }\n}\n```\n\n"
      tags:
      - Sites
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: title, subdomain, for descending order use ''-'' e.g. &sort=-title'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: number
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: number
      - name: fields[sites]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[sites]=title,subdomain
        schema:
          type: string
      - name: filter[title_cont]
        in: query
        required: false
        description: Filter by title contains, for example ?filter[title_cont]=training
        schema:
          type: string
      - name: filter[subdomain_cont]
        in: query
        required: false
        description: Filter by subdomain contains, for example ?filter[subdomain_cont]=training
        schema:
          type: string
      responses:
        '200':
          description: Success, lists sites which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/sites_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
  /v1/sites/{id}:
    get:
      summary: Site details
      description: "The site system is a fundamental part of Kajabi's platform, representing a customer's branded presence and serving as the container for their products, courses, and other content. Each site can be customized extensively while maintaining the core functionality needed for e-learning and digital product delivery.\n\n## Site Attributes\n* `title` (string) - A required field that represents the name of the site\n* `subdomain` (string) - The subdomain of the site, used for routing and site identification\n* `created_at` (string) - A read-only timestamp, ISO date string format, that indicates when the site was created\n* `updated_at` (string) - A read-only timestamp, ISO date string format, that indicates when the site was last modified\n\n## Sparse Fields\nUse the `fields[sites]` parameter to request only specific attributes:\n### Only return title and subdomain attributes\n* `GET /v1/sites/123?fields[sites]=title,subdomain`\n\nResponse will only include requested fields\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"sites\",\n    \"attributes\": {\n      \"title\": \"Advanced Training Site\",\n      \"subdomain\": \"advanced-training\"\n    }\n  }\n}\n```\n"
      tags:
      - Sites
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: fields[sites]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[sites]=title,subdomain
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of a specified site
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/sites_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
  /v1/website_pages:
    get:
      summary: List website pages
      description: 'Returns a list of website pages which the current user may access

        ## Pagination

        Use `page[number]` and `page[size]` parameters to paginate results:

        ### Get first page of 10 items

        * `GET /v1/website_pages[number]=1&page[size]=10`

        ### Get second page of 25 items

        * `GET /v1/website_pages[number]=2&page[size]=25`


        ## Sorting

        Use the `sort` parameter to sort the results:

        ### Sort by created_at in ascending order

        * `GET /v1/website_pages?sort=created_at&fields[website_pages]=created_at`


        ## Filters

        Use the `filter[site_id]` parameter to get website pages for a specific site:

        ### Get website pages for site with ID 123

        * `GET /v1/website_pages?filter[site_id]=123`

        '
      tags:
      - Sites
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: created_at for descending order use ''-'' e.g. &sort=-created_at'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: integer
      - name: fields[website_pages]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[website_pages]=title
        schema:
          type: string
      responses:
        '200':
          description: Success, list of website pages which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/website_pages_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
  /v1/website_pages/{id}:
    get:
      summary: Website page details
      description: 'Details of a website page


        ## Website Page Attributes

        * `title` (string) - Title of the website page

        * `url` (string) - URL of the website page

        * `created_at` (string) - Date and time the website page was created

        * `updated_at` (string) - Date and time the website page was updated_at

        '
      tags:
      - Sites
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        description: Website page ID
        schema:
          type: string
      - name: fields[website_pages]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[website_pages]=title
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of a website page
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/website_pages_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: website page not found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_not_found'
components:
  schemas:
    sites_attributes:
      type: object
      properties:
        title:
          type: string
        subdomain:
          type: string
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    errors_not_found:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    sites_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/sites_attributes'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type: object
          nullable: true
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    website_pages_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum:
                - website_pages
              attributes:
                $ref: '#/components/schemas/website_pages_attributes'
              relationships:
                type: object
                properties:
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    sites_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/sites_attributes'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    website_pages_attributes:
      type: object
      properties:
        title:
          type: string
        url:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    website_pages_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - website_pages
            attributes:
              $ref: '#/components/schemas/website_pages_attributes'
            relationships:
              type: object
              properties:
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
