openapi: 3.0.3
info:
  title: Kajabi API V1 Authentication Customers API
  version: 1.1.0
  description: "## Public API\n* Server URL `https://api.kajabi.com`\n* Endpoint paths are prefixed with `/v1`\n* Version endpoint `GET https://api.kajabi.com/v1/version`\n* See the [Developers Site](https://developers.kajabi.com) for documentation and examples.\n* Try the demo [Postman collection](https://www.postman.com/kajabi-apis/beta-public-api-demo/collection/fg4iyaz/kajabi-public-api-v1)\n## API Keys\n* Your API `client_id` and `client_secret` are available on the [User API Keys](https://app.kajabi.com/admin/settings/security) section of the Kajabi Admin Portal.\n  * Custom API Keys can be created with specific permissions.\n  * Click the \"Create User API Key\" button, enter a name (e.g. \"My project\"), select the user and permissions, and click \"Create\".\n  * For security purposes, you may \"Delete\" or \"Rotate\" the api credentials at any time; which will invalidate any access tokens granted with the credentials.\n## Video Walkthroughs\n* [Capabilities](https://drive.google.com/file/d/1Puc9B2sSdA-RQb7YMxmUXg4FVoEXytoc/view?usp=sharing)\n* [Getting Started](https://drive.google.com/file/d/1hbGRShkxven_QMWvgYrerHKURbcZrnvJ/view?usp=sharing)\n* [Error Examples](https://drive.google.com/file/d/1i0wQK71I1jpaZVsxYwsn62gVj40S_E7Y/view?usp=sharing)\n* [External Contact Form](https://drive.google.com/file/d/1HqpULXvan5TOK3LvM7nILCuCkCaX0kFT/view?usp=sharing)\n"
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Customers
paths:
  /v1/customers:
    get:
      summary: List customers
      description: "List of customers\n## Pagination\nUse `page[number]` and `page[size]` parameters to paginate results:\n### Get first page of 10 items\n* `GET /v1/customers?page[number]=1&page[size]=10`\n### Get second page of 25 items\n* `GET /v1/customers?page[number]=2&page[size]=25`\n\nThe response includes pagination links and meta data:\n```json\n{\n  \"links\": {\n    \"self\": \"https://app.kajabi.com/api/v1/customers?page[number]=2&page[size]=10\",\n    \"first\": \"https://app.kajabi.com/api/v1/customers?page[number]=1&page[size]=10\",\n    \"prev\": \"https://app.kajabi.com/api/v1/customers?page[number]=1&page[size]=10\",\n    \"next\": \"https://app.kajabi.com/api/v1/customers?page[number]=3&page[size]=10\",\n    \"last\": \"https://app.kajabi.com/api/v1/customers?page[number]=5&page[size]=10\"\n  },\n  \"meta\": {\n    \"total_pages\": 5,\n    \"total_count\": 50,\n    \"current_page\": 2\n  }\n}\n```\n## Sorting\n* The default Sorting is by created_at in descending order (newest first)\n\nSorting by created_at in ascending order (oldest first)\n* `GET /v1/customers?filter[site_id]=123&sort=created_at`\n\nUse the `sort` parameter to sort the results:\n### Sort by name in ascending order\n* `GET /v1/customers?filter[site_id]=123&sort=name`\n### Sort by email in descending order\n* `GET /v1/customers?filter[site_id]=123&sort=-email`\n### Sort by net_revenue in ascending order\n* `GET /v1/customers?filter[site_id]=123&sort=net_revenue`\n### Sort by last_request_at in descending order\n* `GET /v1/customers?filter[site_id]=123&sort=-last_request_at`\n\nResponse will include customers sorted by the specified field\n```json\n{\n  \"data\": [{\n    \"id\": \"123\",\n    \"type\": \"customers\",\n    \"attributes\": {\n      \"name\": \"Alice Smith\",\n      \"email\": \"alice@example.com\",\n      \"external_user_id\": \"cust_123\"\n    }\n  }]\n}\n```\n## Sparse Fields\nUse the `fields[customers]` parameter to request only specific attributes:\n### Only return name and email attributes\n* `GET /v1/customers?fields[customers]=name,email`\n\nResponse will only include requested fields\n```json\n{\n  \"data\": [{\n    \"id\": \"123\",\n    \"type\": \"customers\",\n    \"attributes\": {\n      \"name\": \"Alice Smith\",\n      \"email\": \"alice@example.com\"\n    }\n  }]\n}\n```\n## Filtering\nUse the `filter[site_id]` parameter to filter customers by site:\n### Get customers for site with ID 123\n* `GET /v1/customers?filter[site_id]=123`\n\nResponse will include only customers from the specified site\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"customers\",\n    \"attributes\": {\n      \"name\": \"Alice Smith\",\n      \"email\": \"alice@example.com\",\n      \"external_user_id\": \"cust_123\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }]\n}\n```\n## Using Indexed Data Search\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"customers\",\n    \"attributes\": {\n      \"name\": \"John Smith\",\n      \"email\": \"smith.john@example.com\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }]\n}\n```\n\n## Using Multiple Filters\nYou can combine multiple filter parameters to refine your search:\n### Get customers from site 123 matching search term\n* `GET /v1/customers?filter[site_id]=123&filter[search]=smith`\n\nResponse will include only customers from the specified site matching the search term\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"customers\",\n    \"attributes\": {\n      \"name\": \"Alice Smith\",\n      \"email\": \"alice@example.com\",\n      \"external_user_id\": \"cust_123\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }]\n}\n```\n## Filtering by Site and Offer\nYou can filter customers by both site and offer ownership:\n### Get customers from site 123 who have been granted offer 789\n* `GET /v1/customers?filter[site_id]=123&filter[has_offer_id]=789`\n\nResponse will include only customers from the specified site who have been granted the offer\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"customers\",\n    \"attributes\": {\n      \"name\": \"Alice Smith\",\n      \"email\": \"alice@example.com\",\n      \"external_user_id\": \"cust_123\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      },\n      \"offers\": {\n        \"links\": {\n          \"self\": \"https://app.kajabi.com/api/v1/customers/456/relationships/offers\",\n          \"related\": \"https://app.kajabi.com/api/v1/customers/456/offers\"\n        }\n      }\n    }\n  }]\n}\n```\n## Filtering by Site and Product\nYou can filter customers by both site and product ownership:\n### Get customers from site 123 who have purchased product 789\n* `GET /v1/customers?filter[site_id]=123&filter[has_product_id]=789`\n\nResponse will include only customers from the specified site who have purchased the product\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"customers\",\n    \"attributes\": {\n      \"name\": \"Alice Smith\",\n      \"email\": \"alice@example.com\",\n      \"external_user_id\": \"cust_123\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      },\n      \"offers\": {\n        \"links\": {\n          \"self\": \"https://app.kajabi.com/api/v1/customers/456/relationships/offers\",\n          \"related\": \"https://app.kajabi.com/api/v1/customers/456/offers\"\n        }\n      }\n    }\n  }]\n}\n```\n## Using Multiple Parameters Together\nYou can combine filtering, sparse fields, pagination and search in a single request:\n### Get page 2 of customers from site 123, including only name and email fields, searching for \"smith\"\n* `GET /v1/customers?filter[site_id]=123&fields[customers]=name,email&page[number]=2&page[size]=10&filter[search]=smith`\n\nResponse will include paginated, filtered customers with sparse fields\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"customers\",\n    \"attributes\": {\n      \"name\": \"John Smith\",\n      \"email\": \"john.smith@example.com\"\n    }\n  }],\n  \"links\": {\n    \"self\": \"https://app.kajabi.com/api/v1/customers?filter[site_id]=123&fields[customers]=name,email&page[number]=2&page[size]=10&filter[search]=smith\",\n    \"first\": \"https://app.kajabi.com/api/v1/customers?filter[site_id]=123&fields[customers]=name,email&page[number]=1&page[size]=10&filter[search]=smith\",\n    \"prev\": \"https://app.kajabi.com/api/v1/customers?filter[site_id]=123&fields[customers]=name,email&page[number]=1&page[size]=10&filter[search]=smith\",\n    \"next\": null,\n    \"last\": \"https://app.kajabi.com/api/v1/customers?filter[site_id]=123&fields[customers]=name,email&page[number]=2&page[size]=10&filter[search]=smith\"\n  },\n  \"meta\": {\n    \"total_pages\": 2,\n    \"total_count\": 15,\n    \"current_page\": 2\n  }\n}\n```\n"
      tags:
      - Customers
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: name, email, created_at, net_revenue, last_request_at for descending order use ''-'' e.g. &sort=-name'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: number
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: number
      - name: fields[customers]
        in: query
        required: false
        description: 'Sparse fields, use: name, email for example ?fields[customers]=name,email'
        schema:
          type: string
      - name: filter[site_id]
        in: query
        required: false
        description: It is recommended to always filter by site_id, for example ?filter[site_id]=111. This param is required when the account has multiple sites
        schema:
          type: string
      - name: filter[search]
        in: query
        required: false
        description: Filter with fuzzy search of name/email, for example ?filter[search]=alexa
        schema:
          type: string
      - name: filter[created_in_last]
        in: query
        required: false
        description: Filter customers created in the last N days, e.g. ?filter[created_in_last]=30
        schema:
          type: string
      - name: filter[not_created_in_last]
        in: query
        required: false
        description: Filter customers not created in the last N days
        schema:
          type: string
      - name: filter[is_hidden]
        in: query
        required: false
        description: Filter hidden customers
        schema:
          type: string
      - name: filter[joined_in_last]
        in: query
        required: false
        description: Filter customers who joined in the last N days
        schema:
          type: string
      - name: filter[active_in_last]
        in: query
        required: false
        description: Filter customers active in the last N days
        schema:
          type: string
      - name: filter[inactive_in_last]
        in: query
        required: false
        description: Filter customers inactive in the last N days
        schema:
          type: string
      - name: filter[name_contains]
        in: query
        required: false
        description: Filter customers whose name contains the given value
        schema:
          type: string
      - name: filter[email_contains]
        in: query
        required: false
        description: Filter customers whose email contains the given value
        schema:
          type: string
      - name: filter[phone_number_contains]
        in: query
        required: false
        description: Filter customers whose phone number contains the given value
        schema:
          type: string
      - name: filter[address_line_1_contains]
        in: query
        required: false
        description: Filter customers whose address line 1 contains the given value
        schema:
          type: string
      - name: filter[address_line_2_contains]
        in: query
        required: false
        description: Filter customers whose address line 2 contains the given value
        schema:
          type: string
      - name: filter[address_city_contains]
        in: query
        required: false
        description: Filter customers whose city contains the given value
        schema:
          type: string
      - name: filter[address_state_contains]
        in: query
        required: false
        description: Filter customers whose state contains the given value
        schema:
          type: string
      - name: filter[address_country_contains]
        in: query
        required: false
        description: Filter customers whose country contains the given value
        schema:
          type: string
      - name: filter[address_zip_contains]
        in: query
        required: false
        description: Filter customers whose zip code contains the given value
        schema:
          type: string
      - name: filter[has_tag_id]
        in: query
        required: false
        description: Filter customers with a specific tag ID
        schema:
          type: string
      - name: filter[has_all_tag_id]
        in: query
        required: false
        description: Filter customers with all specified tag IDs
        schema:
          type: string
      - name: filter[has_no_tag_id]
        in: query
        required: false
        description: Filter customers without the specified tag ID
        schema:
          type: string
      - name: filter[subscribed]
        in: query
        required: false
        description: Filter subscribed customers
        schema:
          type: string
      - name: filter[has_offer_id]
        in: query
        required: false
        description: Filter customers with a specific offer ID
        schema:
          type: string
      - name: filter[has_no_offer_id]
        in: query
        required: false
        description: Filter customers without the specified offer ID
        schema:
          type: string
      - name: filter[has_product_id]
        in: query
        required: false
        description: Filter customers who own a specific product ID
        schema:
          type: string
      - name: filter[has_active_product_id]
        in: query
        required: false
        description: Filter customers with an active membership to a specific product ID
        schema:
          type: string
      - name: filter[has_no_product_id]
        in: query
        required: false
        description: Filter customers who do not own a specific product ID
        schema:
          type: string
      - name: filter[previously_owned_product_id]
        in: query
        required: false
        description: Filter customers who previously owned a specific product ID
        schema:
          type: string
      - name: filter[used_coupon_code]
        in: query
        required: false
        description: Filter customers who used a specific coupon code
        schema:
          type: string
      - name: filter[submitted_form_id]
        in: query
        required: false
        description: Filter customers who submitted a specific form ID
        schema:
          type: string
      - name: filter[no_submitted_form_id]
        in: query
        required: false
        description: Filter customers who have not submitted the specified form ID
        schema:
          type: string
      - name: filter[registered_event_id]
        in: query
        required: false
        description: Filter customers who registered for a specific event ID
        schema:
          type: string
      - name: filter[not_registered_event_id]
        in: query
        required: false
        description: Filter customers who have not registered for the specified event ID
        schema:
          type: string
      - name: filter[completed_assessment_id]
        in: query
        required: false
        description: Filter customers who completed a specific assessment ID
        schema:
          type: string
      - name: filter[passed_assessment_id]
        in: query
        required: false
        description: Filter customers who passed a specific assessment ID
        schema:
          type: string
      - name: filter[failed_assessment_id]
        in: query
        required: false
        description: Filter customers who failed a specific assessment ID
        schema:
          type: string
      - name: filter[net_revenue_equal_to]
        in: query
        required: false
        description: Filter customers whose net revenue equals the given value
        schema:
          type: string
      - name: filter[net_revenue_greater_than]
        in: query
        required: false
        description: Filter customers whose net revenue is greater than the given value
        schema:
          type: string
      - name: filter[net_revenue_less_than]
        in: query
        required: false
        description: Filter customers whose net revenue is less than the given value
        schema:
          type: string
      - name: filter[subscribed_in_last]
        in: query
        required: false
        description: Filter customers subscribed in the last N days
        schema:
          type: string
      - name: filter[unsubscribed_in_last]
        in: query
        required: false
        description: Filter customers unsubscribed in the last N days
        schema:
          type: string
      - name: filter[never_subscribed]
        in: query
        required: false
        description: Filter customers who have never subscribed
        schema:
          type: string
      - name: filter[sent_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who were sent a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_sent_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who were not sent the specified email broadcast ID
        schema:
          type: string
      - name: filter[no_sent_email_broadcast_ids]
        in: query
        required: false
        description: Filter customers who were not sent any of the specified email broadcast IDs
        schema:
          type: string
      - name: filter[no_delivered_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who did not receive the specified email broadcast ID
        schema:
          type: string
      - name: filter[opened_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who opened a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_opened_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who did not open the specified email broadcast ID
        schema:
          type: string
      - name: filter[clicked_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who clicked a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_clicked_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who did not click the specified email broadcast ID
        schema:
          type: string
      - name: filter[bounced_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who bounced a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_bounced_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who did not bounce the specified email broadcast ID
        schema:
          type: string
      - name: filter[dropped_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who dropped a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_dropped_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who did not drop the specified email broadcast ID
        schema:
          type: string
      - name: filter[opened_email_in_last]
        in: query
        required: false
        description: Filter customers who opened an email in the last N days
        schema:
          type: string
      - name: filter[not_opened_email_in_last]
        in: query
        required: false
        description: Filter customers who did not open an email in the last N days
        schema:
          type: string
      - name: filter[delivered_email_in_last]
        in: query
        required: false
        description: Filter customers who were delivered an email in the last N days
        schema:
          type: string
      - name: filter[not_delivered_email_in_last]
        in: query
        required: false
        description: Filter customers who were not delivered an email in the last N days
        schema:
          type: string
      - name: filter[clicked_email_in_last]
        in: query
        required: false
        description: Filter customers who clicked an email in the last N days
        schema:
          type: string
      - name: filter[not_clicked_email_in_last]
        in: query
        required: false
        description: Filter customers who did not click an email in the last N days
        schema:
          type: string
      - name: filter[is_hard_bouncing]
        in: query
        required: false
        description: Filter customers that are hard bouncing
        schema:
          type: string
      - name: filter[bounced_in_last]
        in: query
        required: false
        description: Filter customers who bounced in the last N days
        schema:
          type: string
      - name: filter[complained_in_last]
        in: query
        required: false
        description: Filter customers who complained in the last N days
        schema:
          type: string
      - name: filter[manually_unsubscribed_in_last]
        in: query
        required: false
        description: Filter customers manually unsubscribed in the last N days
        schema:
          type: string
      - name: filter[opted_out_in_last]
        in: query
        required: false
        description: Filter customers who opted out in the last N days
        schema:
          type: string
      - name: filter[healthy_contacts_with_open_data]
        in: query
        required: false
        description: Filter healthy customers with open data
        schema:
          type: string
      - name: filter[passive_contacts_with_open_data]
        in: query
        required: false
        description: Filter passive customers with open data
        schema:
          type: string
      - name: filter[unengaged_contacts_with_open_data]
        in: query
        required: false
        description: Filter unengaged customers with open data
        schema:
          type: string
      - name: filter[inactive_contacts_with_open_data]
        in: query
        required: false
        description: Filter inactive customers with open data
        schema:
          type: string
      - name: filter[subscribed_newsletter_id]
        in: query
        required: false
        description: Filter customers subscribed to a specific newsletter ID
        schema:
          type: string
      - name: filter[unsubscribed_newsletter_id]
        in: query
        required: false
        description: Filter customers unsubscribed from a specific newsletter ID
        schema:
          type: string
      - name: filter[mobile_phone_number_contains]
        in: query
        required: false
        description: Filter customers whose mobile phone number contains the given value
        schema:
          type: string
      - name: filter[subscribed_email_sequence_id]
        in: query
        required: false
        description: Filter customers subscribed to a specific email sequence ID
        schema:
          type: string
      - name: filter[not_subscribed_email_sequence_id]
        in: query
        required: false
        description: Filter customers not subscribed to a specific email sequence ID
        schema:
          type: string
      responses:
        '200':
          description: Success, filter by product ownership
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customers_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
  /v1/customers/{id}:
    get:
      summary: Customer details
      description: "Show customer details\n* The `name` and `email` attributes are kept in sync with the related `contact` resource\n* The `external_user_id` attribute may be used as a customer reference in an external system\n\n## Customer Attributes\n* `name` (string) - The customer's full name. This is a required field and can be either user-provided or auto-generated from their email address if left blank.\n* `email` (string) - The customer's email address. This is a required field and must be unique within a site. It's automatically downcased and stripped of whitespace. Used for authentication and communication.\n* `avatar` (string) - A URL to the customer's profile image. Can be either a custom uploaded avatar or falls back to Gravatar. If not set, defaults to a blank image.\n* `external_user_id` (string) - An optional external identifier that can be used to link the customer to external systems. Must be unique within a site.\n* `public_bio` (string) - A text field containing the customer's public biography or description. This is optional and can be displayed in community/social features.\n* `public_location` (string) - A text field for the customer's public location information. Optional field used for community/social features.\n* `public_website` (string) - The customer's website URL. This is validated to ensure it's a proper URL format and is transformed to ensure proper formatting.\n* `socials` (object) - A collection of the customer's social media links and profiles.\n* `net_revenue` (string) - The total revenue generated by this customer through their purchases. This is calculated from their successful payment transactions.\n* `sign_in_count` (integer) - A counter tracking how many times the customer has signed into their account.\n* `last_request_at` (string) - Timestamp of the customer's most recent activity or request. Used to track user engagement and activity.\n* `bounced_at` (string) - Timestamp indicating when the customer's email started bouncing. This is reset if the email address is changed.\n* `created_at` (string) - Timestamp when the customer record was created.\n* `updated_at` (string) - Timestamp when the customer record was last updated.\n\n## Include Related Resources\nUse the `include` parameter to include related resources:\n### Include offers and products\n* `GET /v1/customers/123?include=contact,offers,products`\n\nResponse will include related resources\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"customers\",\n    \"attributes\": {\n      \"name\": \"Alice Smith\",\n      \"email\": \"alice@example.com\",\n      \"avatar\": null,\n      \"external_user_id\": \"cust_123\",\n      \"public_bio\": null,\n      \"public_location\": null,\n      \"public_website\": null,\n      \"socials\": null,\n      \"net_revenue\": \"0.0\",\n      \"sign_in_count\": 0,\n      \"last_request_at\": null,\n      \"bounced_at\": null,\n      \"created_at\": \"2021-01-01T00:00:00Z\",\n      \"updated_at\": \"2021-01-01T00:00:00Z\"\n    },\n    \"links\": {\n      \"contact\": \"https://app.kajabi.com/api/v1/contacts/321\"\n    },\n    \"relationships\": {\n      \"contact\": {\n        \"data\": {\n          \"id\": \"321\",\n          \"type\": \"contacts\"\n        }\n      },\n      \"offers\": {\n        \"data\": [{ \"id\": \"456\", \"type\": \"offers\" }],\n        \"links\": {\n          \"self\": \"https://app.kajabi.com/api/v1/customers/123/relationships/offers\"\n        }\n      },\n      \"products\": {\n        \"data\": [{ \"id\": \"789\", \"type\": \"products\" }]\n      }\n    }\n  },\n  \"included\": [\n    {\n      \"id\": \"456\",\n      \"type\": \"offers\",\n      \"attributes\": {\n        \"name\": \"Offer 1\",\n        \"description\": \"Offer 1 description\",\n        \"internal_title\": \"Offer 1\",\n        \"price_in_cents\": 0,\n        \"payment_type\": \"free\",\n        \"token\": \"offer_123\",\n        \"payment_method\": \"none\",\n        \"price_description\": \"Free\",\n        \"checkout_url\": \"https://mywebsite.com/offers/456\",\n        \"recurring_offer\": false,\n        \"subscription\": false,\n        \"one_time\": true,\n        \"single\": false,\n        \"free\": true\n      }\n    },\n    {\n      \"id\": \"789\",\n      \"type\": \"products\",\n      \"attributes\": {\n        \"created_at\": \"2024-11-12T23:43:09.551Z\",\n        \"title\": \"Course 1\",\n        \"description\": \"Course 1 description\",\n        \"status\": \"ready\",\n        \"members_aggregate_count\": 0,\n        \"product_type_name\": \"Course\",\n        \"product_type_id\": 789,\n        \"publish_status\": \"published\",\n        \"thumbnail_url\": null\n      }\n    },\n    {\n      \"id\": \"321\",\n      \"type\": \"contacts\",\n      \"attributes\": {\n        \"name\": \"Alice Smith\",\n        \"email\": \"alice@example.com\",\n        \"address_line_1\": null,\n        \"address_line_2\": null,\n        \"address_city\": null,\n        \"address_country\": null,\n        \"address_state\": null,\n        \"address_zip\": null,\n        \"phone_number\": null,\n        \"business_number\": null,\n        \"subscribed\": false,\n        \"external_user_id\": null,\n        \"created_at\": \"2024-11-20T18:53:19.389Z\",\n        \"updated_at\": \"2024-11-20T18:53:19.389Z\"\n      }\n    }\n  ]\n}\n```\n## Sparse Fields\nUse the `fields[customers]` parameter to request only specific attributes:\n### Only return name and email attributes\n* `GET /v1/customers/123?fields[customers]=name,email`\n\nResponse will only include requested fields\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"customers\",\n    \"attributes\": {\n      \"name\": \"Alice Smith\",\n      \"email\": \"alice@example.com\"\n    }\n  }\n}\n```\n## Using Multiple Parameters Together\nYou can combine filtering, sparse fields, pagination and search in a single request:\n* `GET /v1/customers/123?include=products&fields[customers]=name&fields[product]=title`\n\nResponse will include related resources with sparse fields\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"customers\",\n    \"attributes\": {\n      \"name\": \"Alice Smith\"\n    },\n    \"relationships\": {}\n  },\n  \"included\": [\n    {\n      \"id\": \"789\",\n      \"type\": \"products\",\n      \"attributes\": {\n        \"title\": \"Course 1\"\n      }\n    }\n  ]\n}\n```\n"
      tags:
      - Customers
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: with ?include=offers,products the response will include the related resources
        schema:
          type: string
      - name: fields[customers]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[customers]=name,email
        schema:
          type: string
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: filter[products_search]
        in: query
        required: false
        description: Search products by title
        schema:
          type: string
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: filter[products_page]
        in: query
        required: false
        schema:
          type: integer
      - name: filter[products_per]
        in: query
        required: false
        schema:
          type: integer
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: filter[offers_search]
        in: query
        required: false
        description: Search offers by title or internal title
        schema:
          type: string
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: filter[offers_page]
        in: query
        required: false
        schema:
          type: integer
      - name: filter[offers_per]
        in: query
        required: false
        schema:
          type: integer
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: filter[products_search]
        in: query
        required: false
        schema:
          type: string
      - name: filter[offers_search]
        in: query
        required: false
        schema:
          type: string
      - name: filter[products_search]
        in: query
        required: false
        description: Should be ignored when include parameter is missing
        schema:
          type: string
      - name: filter[offers_search]
        in: query
        required: false
        description: Should be ignored when include parameter is missing
        schema:
          type: string
      responses:
        '200':
          description: Success - filters ignored when include parameter not present
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customers_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
  /v1/customers/{customer_id}/relationships/offers:
    get:
      summary: List customer's offers
      description: "Get the customer's relationship to offers (granted).\n\nResponse is a list of resource identifiers\n```json\n{\n  \"data\": [\n    { \"type\": \"offers\", \"id\": \"123\" },\n    { \"type\": \"offers\", \"id\": \"456\" }\n  ]\n}\n```\nThe related tag resources are available using the GET `api/v1/offers` endpoint.\nThe resource identifier includes the offer id and type.\nExample URLs: `/api/v1/offers/123`, `/api/v1/offers/456`\n"
      tags:
      - Customers
      security:
      - Bearer: []
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details for tags relationship
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customers_relationships_offers_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
    post:
      summary: Grant offer to customer
      description: '## Grant offer(s) to a customer

        Create an offer grant for a customer.


        In the request body inlcude offer resource identifier(s), `id: OFFER_ID`, `type: "offers"`.


        ```

        { "data": [{"type": "offers", "id": "123"}] }

        ```


        ## Response

        * A successful response body will list the offers related to the customer

        * An error response will include a JSON body with error details.


        ## Behaviors and side effects

        * Checks if the customerwas already granted the offer

        * May send a gift granted email if this is a gift offer

        * Triggers automations if configured

        '
      tags:
      - Customers
      security:
      - Bearer: []
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, offer (granted) using relationship to customer resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customers_relationships_offers_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/resource_identifiers'
              required:
              - data
    delete:
      summary: Revoke offer from customer
      description: '## Revoke offer grant(s) for a customer

        Revoke offer grant(s) using a list of resource identifiers

        In the request body inlcude offer resource identifier(s), `id: OFFER_ID`, `type: "offers"`.

        ```

        { "data": [{"type": "offers", "id": "123"}] }

        ```

        ## Response

        * A successful response body will list the offers related to the customer

        * An error response will include a JSON body with error details.


        ## Behaviors and side effects

        * Only affects active offers

        * Handles both offer purchases and offer grants

        * Deactivates all associated product memberships

        '
      tags:
      - Customers
      security:
      - Bearer: []
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, revokes offer from customer resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customers_relationships_offers_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/resource_identifiers'
              required:
              - data
    patch:
      summary: Replace offers for customer
      description: '## Replace offer grant(s) for a customer

        Replace offer grants (grants and revokes offers to/from customer) using a list of resource identifiers

        In the request body inlcude offer resource identifier(s), `id: OFFER_ID`, `type: "offers"`.

        ```

        { "data": [{"type": "offers", "id": "456"}, {"type": "offers", "id": "789"}] }

        ```

        ## Response

        * A successful response body will list the offers related to the customer

        * An error response will include a JSON body with error details.

        '
      tags:
      - Customers
      security:
      - Bearer: []
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, replaces offers relationships of contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customers_relationships_offers_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
              required:
              - data
components:
  schemas:
    customers_relationships_offers_response:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/resource_identifiers'
        links:
          type: object
          properties:
            self:
              type: string
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
    customers_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/customers_attributes'
              relationships:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
                  offers:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                  products:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifiers'
              links:
                type: object
                properties:
                  contact:
                    type: string
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type: object
          nullable: true
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    customers_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/customers_attributes'
            relationships:
              type: object
              properties:
                contact:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                offers:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifiers'
                    links:
                      type: object
                      properties:
                        self:
                          type: string
                products:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifiers'
            links:
              type: object
              properties:
                contact:
                  type: string
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    customers_attributes:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        avatar:
          type:
          - string
          - 'null'
        external_user_id:
          type: string
          nullable: true
          description: Supported once contact is granted an offer or makes a purchase
        public_bio:
          type:
          - string
          - 'null'
        public_location:
          type:
          - string
          - 'null'
        public_website:
          type:
          - string
          - 'null'
        socials:
          type: object
          nullable: true
          properties:
            twitter:
              type:
              - string
              - 'null'
            facebook:
              type:
              - string
              - 'null'
            instagram:
              type:
              - string
              - 'null'
        net_revenue:
          type:
          - string
          - 'null'
        sign_in_count:
          type: integer
          nullable: true
          description: Read only
        last_request_at:
          type: string
          nullable: true
          description: ISO 8601 date-time, read only
        bounced_at:
          type: string
          nullable: true
          description: ISO 8601 date-time, read only
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    resource_identifiers:
      type: array
      items:
        $ref: '#/components/schemas/resource_identifier'
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_bad_request:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
