openapi: 3.2.0
info:
  title: Kajabi API V1 Blog posts API
  version: 1.1.0
  description: '## Public API

    * Server URL `https://api.kajabi.com`

    * Endpoint paths are prefixed with `/v1`

    * Version endpoint `GET https://api.kajabi.com/v1/version`

    * See the Developers Site for documentation and examples.'
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Blog Posts
paths:
  /v1/blog_posts:
    get:
      summary: List blog posts
      description: 'Returns a list of blog posts which the current user may access

        ## Pagination

        Use `page[number]` and `page[size]` parameters to paginate results:

        ### Get first page of 10 items

        * `GET /v1/blog_posts[number]=1&page[size]=10`

        ### Get second page of 25 items

        * `GET /v1/blog_posts[number]=2&page[size]=25`


        ## Sparse Fields

        Use the `fields[blog_posts]` parameter to request only specific attributes:

        ### Only return title attribute

        * `GET /v1/blog_posts?fields[blog_posts]=title`


        ## Sorting

        Use the `sort` parameter to sort the results:

        ### Sort by published_at in descending order

        * `GET /v1/blog_posts?sort=-published_at&fields[blog_posts]=title`


        ## Filters

        Use the `filter[site_id]` parameter to get blog posts for a specific site:

        ### Get blog posts for site with ID 123

        * `GET /v1/blog_posts?filter[site_id]=123`


        List of attributes that may be used to filter: title, content, slug, page_title, page_description, published_at, created_at, updated_at, image_url, image_alt_text, tags


        The filter param uses the following syntax: `filter[attribute_name_suffix]` with suffix for comparison:

        * `eq` for equals

        * `cont` for contains

        * `not_eq` for not equals

        * `not_cont` for not contains

        * `start` for starts with

        * `end` for ends with


        For example:

        * `GET /v1/blog_posts?filter[title_start]=Announcing`

        * `GET /v1/blog_posts?filter[title_cont]=Announcing`'
      tags:
      - Blog Posts
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: title for descending order use ''-'' e.g. &sort=-title'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: integer
      - name: fields[blog_posts]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[blog_posts]=title
        schema:
          type: string
      - name: filter[title_cont]
        in: query
        required: false
        description: Filter by title contains, for example ?filter[title_cont]=hello
        schema:
          type: string
      responses:
        '200':
          description: Success, list of blog posts which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/blog_posts_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1BlogPosts
      x-operation-id-source: derived
  /v1/blog_posts/{id}:
    get:
      summary: Blog post details
      description: 'Shows details of a blog post


        ## Blog Post Attributes

        * `title` (string) - Title of the blog post

        * `url` (string) - URL of the blog post

        * `content` (string) - Content of the blog post

        * `slug` (string) - Slug of the blog post

        * `page_title` (string) - Page title of the blog post

        * `page_description` (string) - Page description of the blog post

        * `published_at` (string) - Date and time the blog post was published

        * `created_at` (string) - Date and time the blog post was created

        * `updated_at` (string) - Date and time the blog post was updated_at

        * `image_url` (string) - URL of the image associated with the blog post

        * `image_alt_text` (string) - Alt text for the image associated with the blog post

        * `tags` (array) - Tags associated with the blog post


        ## Sparse Fields

        ### Only return title attribute

        * `GET /v1/blog_posts/123?fields[blog_posts]=title`


        Response will only include requested fields

        ```json

        {

        "data": {

        "id": "123",

        "type": "blog_posts",

        "attributes": {

        "title": "Announcing New Course"

        }

        }

        }

        ```'
      tags:
      - Blog Posts
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        description: BlogPost ID
        schema:
          type: string
      - name: fields[blog_posts]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[blog_posts]=title
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of a blog post
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/blog_posts_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1BlogPostsById
      x-operation-id-source: derived
components:
  schemas:
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type:
          - object
          - 'null'
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    blog_posts_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum:
                - blog_posts
              attributes:
                $ref: '#/components/schemas/blog_posts_attributes'
              relationships:
                type: object
                properties:
                  blog:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    blog_posts_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - blog_posts
            attributes:
              $ref: '#/components/schemas/blog_posts_attributes'
            relationships:
              type: object
              properties:
                blog:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    blog_posts_attributes:
      type: object
      properties:
        title:
          type: string
        url:
          type: string
        content:
          type: string
        slug:
          type: string
        page_title:
          type: string
        page_description:
          type: string
        published_at:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
