openapi: 3.2.0
info:
  title: Kajabi API V1 Sites API
  version: 1.1.0
  description: '## Public API

    * Server URL `https://api.kajabi.com`

    * Endpoint paths are prefixed with `/v1`

    * Version endpoint `GET https://api.kajabi.com/v1/version`

    * See the Developers Site for documentation and examples.'
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Sites
paths:
  /v1/sites:
    get:
      summary: List sites
      description: 'List of sites that the current user has access to

        ## Pagination

        Use `page[number]` and `page[size]` parameters to paginate results:

        ### Get first page of 10 items

        * `GET /v1/sites?page[number]=1&page[size]=10`

        ### Get second page of 25 items

        * `GET /v1/sites?page[number]=2&page[size]=25`


        The response includes pagination links and meta data:

        ```json

        {

        "links": {

        "self": "https://api.kajabi.com/v1/sites?page[number]=2&page[size]=10",

        "first": "https://api.kajabi.com/v1/sites?page[number]=1&page[size]=10",

        "prev": "https://api.kajabi.com/v1/sites?page[number]=1&page[size]=10",

        "next": "https://api.kajabi.com/v1/sites?page[number]=3&page[size]=10",

        "last": "https://api.kajabi.com/v1/sites?page[number]=5&page[size]=10"

        },

        "meta": {

        "total_pages": 5,

        "total_count": 50,

        "current_page": 2

        }

        }

        ```

        ## Sorting

        Use the `sort` parameter to sort the results:

        ### Sort by title in ascending order

        * `GET /v1/sites?sort=title`

        ### Sort by title in descending order

        * `GET /v1/sites?sort=-title`


        Response will include sites sorted by the specified field

        ```json

        {

        "data": [

        {

        "id": "123",

        "type": "sites",

        "attributes": {

        "title": "Advanced Training Site",

        "subdomain": "advanced-training"

        }

        },

        {

        "id": "456",

        "type": "sites",

        "attributes": {

        "title": "Beginner Training Site",

        "subdomain": "beginner-training"

        }

        }

        ]

        }

        ```

        ## Sparse Fields

        Use the `fields[sites]` parameter to request only specific attributes:

        ### Only return title and subdomain attributes

        * `GET /v1/sites?fields[sites]=title,subdomain`


        Response will only include requested fields

        ```json

        {

        "data": [{

        "id": "123",

        "type": "sites",

        "attributes": {

        "title": "Advanced Training Site",

        "subdomain": "advanced-training"

        }

        }]

        }

        ```

        ## Filter by Title Contains

        Use the `filter[title_cont]` parameter to find sites where the title contains specific text:

        ### Get sites with titles containing "training"

        * `GET /v1/sites?filter[title_cont]=training`


        Response will include sites with matching titles

        ```json

        {

        "data": [{

        "id": "123",

        "type": "sites",

        "attributes": {

        "title": "Advanced Training Site",

        "subdomain": "advanced-training"

        }

        },

        {

        "id": "456",

        "type": "sites",

        "attributes": {

        "title": "Beginner Training Site",

        "subdomain": "beginner-training"

        }

        }]

        }

        ```

        ## Filter by Subdomain Contains

        Use the `filter[subdomain_cont]` parameter to find sites where the subdomain contains specific text:

        ### Get sites with subdomains containing "training"

        * `GET /v1/sites?filter[subdomain_cont]=training`


        Response will include sites with matching subdomains

        ```json

        {

        "data": [{

        "id": "123",

        "type": "sites",

        "attributes": {

        "title": "Advanced Training Site",

        "subdomain": "advanced-training"

        }

        },

        {

        "id": "456",

        "type": "sites",

        "attributes": {

        "title": "Beginner Training Site",

        "subdomain": "beginner-training"

        }

        }]

        }

        ```

        ## Using Multiple Parameters Together

        You can combine pagination, sorting and sparse fields in a single request:

        ### Get page 2 of sites, sorted by title descending, including only title and subdomain fields

        * `GET /v1/sites?page[number]=2&page[size]=10&sort=-title&fields[sites]=title,subdomain`


        Response will include paginated sites with sparse fields

        ```json

        {

        "data": [

        {

        "id": "456",

        "type": "sites",

        "attributes": {

        "title": "Beginner Training Site",

        "subdomain": "beginner-training"

        }

        }

        ],

        "links": {

        "self": "https://api.kajabi.com/v1/sites?page[number]=2&page[size]=10&sort=-title&fields[sites]=title,subdomain",

        "first": "https://api.kajabi.com/v1/sites?page[number]=1&page[size]=10&sort=-title&fields[sites]=title,subdomain",

        "prev": "https://api.kajabi.com/v1/sites?page[number]=1&page[size]=10&sort=-title&fields[sites]=title,subdomain",

        "next": null,

        "last": "https://api.kajabi.com/v1/sites?page[number]=2&page[size]=10&sort=-title&fields[sites]=title,subdomain"

        },

        "meta": {

        "total_pages": 2,

        "total_count": 15,

        "current_page": 2

        }

        }

        ```'
      tags:
      - Sites
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: title, subdomain, for descending order use ''-'' e.g. &sort=-title'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: number
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: number
      - name: fields[sites]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[sites]=title,subdomain
        schema:
          type: string
      - name: filter[title_cont]
        in: query
        required: false
        description: Filter by title contains, for example ?filter[title_cont]=training
        schema:
          type: string
      - name: filter[subdomain_cont]
        in: query
        required: false
        description: Filter by subdomain contains, for example ?filter[subdomain_cont]=training
        schema:
          type: string
      responses:
        '200':
          description: Success, lists sites which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/sites_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1Sites
      x-operation-id-source: derived
  /v1/sites/{id}:
    get:
      summary: Site details
      description: 'The site system is a fundamental part of Kajabi''s platform, representing a customer''s branded presence and serving as the container for their products, courses, and other content. Each site can be customized extensively while maintaining the core functionality needed for e-learning and digital product delivery.


        ## Site Attributes

        * `title` (string) - A required field that represents the name of the site

        * `subdomain` (string) - The subdomain of the site, used for routing and site identification

        * `created_at` (string) - A read-only timestamp, ISO date string format, that indicates when the site was created

        * `updated_at` (string) - A read-only timestamp, ISO date string format, that indicates when the site was last modified


        ## Sparse Fields

        Use the `fields[sites]` parameter to request only specific attributes:

        ### Only return title and subdomain attributes

        * `GET /v1/sites/123?fields[sites]=title,subdomain`


        Response will only include requested fields

        ```json

        {

        "data": {

        "id": "123",

        "type": "sites",

        "attributes": {

        "title": "Advanced Training Site",

        "subdomain": "advanced-training"

        }

        }

        }

        ```'
      tags:
      - Sites
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: fields[sites]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[sites]=title,subdomain
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of a specified site
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/sites_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1SitesById
      x-operation-id-source: derived
  /v1/website_pages:
    get:
      summary: List website pages
      description: 'Returns a list of website pages which the current user may access

        ## Pagination

        Use `page[number]` and `page[size]` parameters to paginate results:

        ### Get first page of 10 items

        * `GET /v1/website_pages[number]=1&page[size]=10`

        ### Get second page of 25 items

        * `GET /v1/website_pages[number]=2&page[size]=25`


        ## Sorting

        Use the `sort` parameter to sort the results:

        ### Sort by created_at in ascending order

        * `GET /v1/website_pages?sort=created_at&fields[website_pages]=created_at`


        ## Filters

        Use the `filter[site_id]` parameter to get website pages for a specific site:

        ### Get website pages for site with ID 123

        * `GET /v1/website_pages?filter[site_id]=123`'
      tags:
      - Sites
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: created_at for descending order use ''-'' e.g. &sort=-created_at'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: integer
      - name: fields[website_pages]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[website_pages]=title
        schema:
          type: string
      responses:
        '200':
          description: Success, list of website pages which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/website_pages_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1WebsitePages
      x-operation-id-source: derived
  /v1/website_pages/{id}:
    get:
      summary: Website page details
      description: 'Details of a website page


        ## Website Page Attributes

        * `title` (string) - Title of the website page

        * `url` (string) - URL of the website page

        * `created_at` (string) - Date and time the website page was created

        * `updated_at` (string) - Date and time the website page was updated_at'
      tags:
      - Sites
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        description: Website page ID
        schema:
          type: string
      - name: fields[website_pages]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[website_pages]=title
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of a website page
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/website_pages_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: website page not found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_not_found'
      operationId: getV1WebsitePagesById
      x-operation-id-source: derived
components:
  schemas:
    website_pages_attributes:
      type: object
      properties:
        title:
          type: string
        url:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type:
          - object
          - 'null'
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    website_pages_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - website_pages
            attributes:
              $ref: '#/components/schemas/website_pages_attributes'
            relationships:
              type: object
              properties:
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    sites_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/sites_attributes'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    sites_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/sites_attributes'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    errors_not_found:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    sites_attributes:
      type: object
      properties:
        title:
          type: string
        subdomain:
          type: string
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    website_pages_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum:
                - website_pages
              attributes:
                $ref: '#/components/schemas/website_pages_attributes'
              relationships:
                type: object
                properties:
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
