openapi: 3.2.0
info:
  title: Kajabi API V1 Products API
  version: 1.1.0
  description: '## Public API

    * Server URL `https://api.kajabi.com`

    * Endpoint paths are prefixed with `/v1`

    * Version endpoint `GET https://api.kajabi.com/v1/version`

    * See the Developers Site for documentation and examples.'
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Products
paths:
  /v1/products:
    get:
      summary: List products
      description: 'List of products (not archived) that can be granted to a contact

        ## Pagination

        Use `page[number]` and `page[size]` parameters to paginate results:

        ### Get first page of 10 items

        * `GET /v1/products?page[number]=1&page[size]=10`

        ### Get second page of 25 items

        * `GET /v1/products?page[number]=2&page[size]=25`


        The response includes pagination links and meta data:

        ```json

        {

        "links": {

        "self": "https://api.kajabi.com/v1/products?page[number]=2&page[size]=10",

        "first": "https://api.kajabi.com/v1/products?page[number]=1&page[size]=10",

        "prev": "https://api.kajabi.com/v1/products?page[number]=1&page[size]=10",

        "next": "https://api.kajabi.com/v1/products?page[number]=3&page[size]=10",

        "last": "https://api.kajabi.com/v1/products?page[number]=5&page[size]=10"

        },

        "meta": {

        "total_pages": 5,

        "total_count": 50,

        "current_page": 2

        }

        }

        ```

        ## Sorting

        Use the `sort` parameter to sort the results:

        ### Sort by title in ascending order

        * `GET /v1/products?sort=title`

        ### Sort by title in descending order

        * `GET /v1/products?sort=-title`


        Response will include products sorted by the specified field

        ```json

        {

        "data": [

        {

        "id": "123",

        "type": "products",

        "attributes": {

        "title": "Advanced Course",

        "description": "In-depth training",

        "status": "active"

        }

        },

        {

        "id": "456",

        "type": "products",

        "attributes": {

        "title": "Beginner Course",

        "description": "Introduction to basics",

        "status": "active"

        }

        }

        ]

        }

        ```

        ## Sparse Fields

        Use the `fields[products]` parameter to request only specific attributes:

        ### Get only title and publish_status fields

        * `GET /v1/products?fields[products]=title,publish_status`


        Response will only include the requested fields

        ```json

        {

        "data": [

        {

        "id": "123",

        "type": "products",

        "attributes": {

        "title": "Advanced Course",

        "publish_status": "published"

        }

        },

        {

        "id": "456",

        "type": "products",

        "attributes": {

        "title": "Beginner Course",

        "publish_status": "draft"

        }

        }

        ]

        }

        ```

        ## Filter by Site ID

        Use the `filter[site_id]` parameter to get products for a specific site:

        ### Get products for site with ID 123

        * `GET /v1/products?filter[site_id]=123`


        Response will only include products for that site

        ```json

        {

        "data": [

        {

        "id": "456",

        "type": "products",

        "attributes": {

        "title": "Advanced Course",

        "description": "In-depth training",

        "status": "active",

        "publish_status": "published"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "123",

        "type": "sites"

        }

        }

        }

        }

        ]

        }

        ```

        ## Filter by Title Contains

        Use the `filter[title_cont]` parameter to find products where the title contains specific text:

        ### Get products with titles containing "course"

        * `GET /v1/products?filter[title_cont]=course`


        Response will include products with matching titles

        ```json

        {

        "data": [{

        "id": "456",

        "type": "products",

        "attributes": {

        "title": "Advanced Course",

        "description": "In-depth training",

        "status": "active",

        "publish_status": "published"

        }

        },

        {

        "id": "789",

        "type": "products",

        "attributes": {

        "title": "Beginner Course",

        "description": "Introduction to basics",

        "status": "active",

        "publish_status": "published"

        }

        }]

        }

        ```

        ## Filter by Description Contains

        Use the `filter[description_cont]` parameter to find products where the description contains specific text:

        ### Get products with descriptions containing "training"

        * `GET /v1/products?filter[description_cont]=training`


        Response will include products with matching descriptions

        ```json

        {

        "data": [{

        "id": "456",

        "type": "products",

        "attributes": {

        "title": "Advanced Course",

        "description": "In-depth training program",

        "status": "active",

        "publish_status": "published"

        }

        },

        {

        "id": "789",

        "type": "products",

        "attributes": {

        "title": "Professional Course",

        "description": "Professional training and certification",

        "status": "active",

        "publish_status": "published"

        }

        }]

        }

        ```

        ## Filter by Status

        Use the `filter[status_eq]` parameter to find products with a specific status:

        ### Get ready products

        * `GET /v1/products?filter[status_eq]=ready`


        Response will include products with matching status

        ```json

        {

        "data": [{

        "id"…'
      tags:
      - Products
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: title, description, status, for descending order use ''-'' e.g. &sort=-title'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: number
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: number
      - name: fields[products]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[products]=title,publish_status
        schema:
          type: string
      - name: filter[site_id]
        in: query
        required: false
        description: Filter by site_id, for example ?filter[site_id]=111
        schema:
          type: string
      - name: filter[title_cont]
        in: query
        required: false
        description: Filter by title contains, for example ?filter[title_cont]=marketing
        schema:
          type: string
      - name: filter[description_cont]
        in: query
        required: false
        description: Filter by description contains, for example ?filter[description_cont]=marketing
        schema:
          type: string
      - name: filter[status_eq]
        in: query
        required: false
        description: Filter by status equals, for example ?filter[status_eq]=ready
        schema:
          type: string
      - name: filter[exclude_product_types][]
        in: query
        schema:
          type: array
          items:
            type: string
        required: false
        description: Exclude products by productizable_type (fully-qualified, e.g. Courses::CohortCourse). Repeatable.
      responses:
        '200':
          description: Success, list of products which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/products_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1Products
      x-operation-id-source: derived
  /v1/products/{id}:
    get:
      summary: Product details
      description: 'Show details of a product

        ## Sparse Fields

        Use the `fields[products]` parameter to request only specific attributes:

        ### Get only title and publish_status fields

        * `GET /v1/products/123?fields[products]=title,publish_status`


        Response will only include the requested fields

        ```json

        {

        "data": {

        "id": "123",

        "type": "products",

        "attributes": {

        "title": "Advanced Course",

        "publish_status": "published"

        },

        "relationships": {}

        }

        }

        ```'
      tags:
      - Products
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: fields[products]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[products]=title,publish_status
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of a product
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/products_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1ProductsById
      x-operation-id-source: derived
components:
  schemas:
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type:
          - object
          - 'null'
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    products_attributes:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        title:
          type: string
        description:
          type:
          - string
          - 'null'
        status:
          type: string
        members_aggregate_count:
          type: integer
        product_type_name:
          type: string
        product_type_id:
          type: integer
        publish_status:
          type: string
        thumbnail_url:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      required:
      - title
    products_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/products_attributes'
            relationships:
              type: object
              properties:
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
    products_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/products_attributes'
              relationships:
                type: object
                properties:
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
