openapi: 3.2.0
info:
  title: Kajabi API V1 Version API
  version: 1.1.0
  description: '## Public API

    * Server URL `https://api.kajabi.com`

    * Endpoint paths are prefixed with `/v1`

    * Version endpoint `GET https://api.kajabi.com/v1/version`

    * See the Developers Site for documentation and examples.'
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Version
paths:
  /v1/version:
    get:
      summary: Version
      description: 'Returns the current version of the Kajabi API and links to the API documentation.


        This endpoint does not require authentication; it can be used as a health check.


        ## Response attributes

        * `meta` (object) - Meta information about the API.

        * `title` (string) - The title of the API.

        * `version` (string) - The version of the API.

        * `links` (object) - Links to the API documentation.

        * `documentation` (string) - The URL to the API documentation.

        * `jsonapi` (object) - JSON API information.

        * `version` (string) - The version of the JSON API.

        * `specficiation` (string) - The URL to the JSON API specification.'
      tags:
      - Version
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/version_response'
        '503':
          description: Service unavailable
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unavailable'
      operationId: getV1Version
      x-operation-id-source: derived
components:
  schemas:
    version_response:
      type: object
      properties:
        meta:
          type: object
          properties:
            title:
              type: string
            version:
              type: string
        links:
          type: object
          properties:
            documentation:
              type: string
        jsonapi:
          type: object
          properties:
            version:
              type: string
            specficiation:
              type: string
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type:
          - object
          - 'null'
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    errors_unavailable:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
