openapi: 3.0.3
info:
  title: Kajabi API V1 Authentication Products API
  version: 1.1.0
  description: "## Public API\n* Server URL `https://api.kajabi.com`\n* Endpoint paths are prefixed with `/v1`\n* Version endpoint `GET https://api.kajabi.com/v1/version`\n* See the [Developers Site](https://developers.kajabi.com) for documentation and examples.\n* Try the demo [Postman collection](https://www.postman.com/kajabi-apis/beta-public-api-demo/collection/fg4iyaz/kajabi-public-api-v1)\n## API Keys\n* Your API `client_id` and `client_secret` are available on the [User API Keys](https://app.kajabi.com/admin/settings/security) section of the Kajabi Admin Portal.\n  * Custom API Keys can be created with specific permissions.\n  * Click the \"Create User API Key\" button, enter a name (e.g. \"My project\"), select the user and permissions, and click \"Create\".\n  * For security purposes, you may \"Delete\" or \"Rotate\" the api credentials at any time; which will invalidate any access tokens granted with the credentials.\n## Video Walkthroughs\n* [Capabilities](https://drive.google.com/file/d/1Puc9B2sSdA-RQb7YMxmUXg4FVoEXytoc/view?usp=sharing)\n* [Getting Started](https://drive.google.com/file/d/1hbGRShkxven_QMWvgYrerHKURbcZrnvJ/view?usp=sharing)\n* [Error Examples](https://drive.google.com/file/d/1i0wQK71I1jpaZVsxYwsn62gVj40S_E7Y/view?usp=sharing)\n* [External Contact Form](https://drive.google.com/file/d/1HqpULXvan5TOK3LvM7nILCuCkCaX0kFT/view?usp=sharing)\n"
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Products
paths:
  /v1/products:
    get:
      summary: List products
      description: "List of products (not archived) that can be granted to a contact\n## Pagination\nUse `page[number]` and `page[size]` parameters to paginate results:\n### Get first page of 10 items\n* `GET /v1/products?page[number]=1&page[size]=10`\n### Get second page of 25 items\n* `GET /v1/products?page[number]=2&page[size]=25`\n\nThe response includes pagination links and meta data:\n```json\n{\n  \"links\": {\n    \"self\": \"https://api.kajabi.com/v1/products?page[number]=2&page[size]=10\",\n    \"first\": \"https://api.kajabi.com/v1/products?page[number]=1&page[size]=10\",\n    \"prev\": \"https://api.kajabi.com/v1/products?page[number]=1&page[size]=10\",\n    \"next\": \"https://api.kajabi.com/v1/products?page[number]=3&page[size]=10\",\n    \"last\": \"https://api.kajabi.com/v1/products?page[number]=5&page[size]=10\"\n  },\n  \"meta\": {\n    \"total_pages\": 5,\n    \"total_count\": 50,\n    \"current_page\": 2\n  }\n}\n```\n## Sorting\nUse the `sort` parameter to sort the results:\n### Sort by title in ascending order\n* `GET /v1/products?sort=title`\n### Sort by title in descending order\n* `GET /v1/products?sort=-title`\n\nResponse will include products sorted by the specified field\n```json\n{\n  \"data\": [\n    {\n      \"id\": \"123\",\n      \"type\": \"products\",\n      \"attributes\": {\n        \"title\": \"Advanced Course\",\n        \"description\": \"In-depth training\",\n        \"status\": \"active\"\n      }\n    },\n    {\n      \"id\": \"456\",\n      \"type\": \"products\",\n      \"attributes\": {\n        \"title\": \"Beginner Course\",\n        \"description\": \"Introduction to basics\",\n        \"status\": \"active\"\n      }\n    }\n  ]\n}\n```\n## Sparse Fields\nUse the `fields[products]` parameter to request only specific attributes:\n### Get only title and publish_status fields\n* `GET /v1/products?fields[products]=title,publish_status`\n\nResponse will only include the requested fields\n```json\n{\n  \"data\": [\n    {\n      \"id\": \"123\",\n      \"type\": \"products\",\n      \"attributes\": {\n        \"title\": \"Advanced Course\",\n        \"publish_status\": \"published\"\n      }\n    },\n    {\n      \"id\": \"456\",\n      \"type\": \"products\",\n      \"attributes\": {\n        \"title\": \"Beginner Course\",\n        \"publish_status\": \"draft\"\n      }\n    }\n  ]\n}\n```\n## Filter by Site ID\nUse the `filter[site_id]` parameter to get products for a specific site:\n### Get products for site with ID 123\n* `GET /v1/products?filter[site_id]=123`\n\nResponse will only include products for that site\n```json\n{\n  \"data\": [\n    {\n      \"id\": \"456\",\n      \"type\": \"products\",\n      \"attributes\": {\n        \"title\": \"Advanced Course\",\n        \"description\": \"In-depth training\",\n        \"status\": \"active\",\n        \"publish_status\": \"published\"\n      },\n      \"relationships\": {\n        \"site\": {\n          \"data\": {\n            \"id\": \"123\",\n            \"type\": \"sites\"\n          }\n        }\n      }\n    }\n  ]\n}\n```\n## Filter by Title Contains\nUse the `filter[title_cont]` parameter to find products where the title contains specific text:\n### Get products with titles containing \"course\"\n* `GET /v1/products?filter[title_cont]=course`\n\nResponse will include products with matching titles\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"products\",\n    \"attributes\": {\n      \"title\": \"Advanced Course\",\n      \"description\": \"In-depth training\",\n      \"status\": \"active\",\n      \"publish_status\": \"published\"\n    }\n  },\n  {\n    \"id\": \"789\",\n    \"type\": \"products\",\n    \"attributes\": {\n      \"title\": \"Beginner Course\",\n      \"description\": \"Introduction to basics\",\n      \"status\": \"active\",\n      \"publish_status\": \"published\"\n    }\n  }]\n}\n```\n## Filter by Description Contains\nUse the `filter[description_cont]` parameter to find products where the description contains specific text:\n### Get products with descriptions containing \"training\"\n* `GET /v1/products?filter[description_cont]=training`\n\nResponse will include products with matching descriptions\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"products\",\n    \"attributes\": {\n      \"title\": \"Advanced Course\",\n      \"description\": \"In-depth training program\",\n      \"status\": \"active\",\n      \"publish_status\": \"published\"\n    }\n  },\n  {\n    \"id\": \"789\",\n    \"type\": \"products\",\n    \"attributes\": {\n      \"title\": \"Professional Course\",\n      \"description\": \"Professional training and certification\",\n      \"status\": \"active\",\n      \"publish_status\": \"published\"\n    }\n  }]\n}\n```\n## Filter by Status\nUse the `filter[status_eq]` parameter to find products with a specific status:\n### Get ready products\n* `GET /v1/products?filter[status_eq]=ready`\n\nResponse will include products with matching status\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"products\",\n    \"attributes\": {\n      \"title\": \"Advanced Course\",\n      \"description\": \"In-depth training program\",\n      \"status\": \"ready\",\n      \"publish_status\": \"published\"\n    }\n  },\n  {\n    \"id\": \"789\",\n    \"type\": \"products\",\n    \"attributes\": {\n      \"title\": \"Professional Course\",\n      \"description\": \"Professional training and certification\",\n      \"status\": \"ready\",\n      \"publish_status\": \"published\"\n    }\n  }]\n}\n```\n## Filter by Excluded Product Types\nUse the `filter[exclude_product_types][]` parameter to exclude products by productizable_type (fully-qualified class name):\n### Exclude CohortCourse products\n* `GET /v1/products?filter[exclude_product_types][]=Courses::CohortCourse`\n\nResponse will exclude products with the specified productizable_type while keeping legacy evergreen courses visible.\n## Using Multiple Parameters Together\nYou can combine pagination, sorting, sparse fields and filtering in a single request:\n### Get page 2 of products for site 123, sorted by title descending, including only title and publish_status fields\n* `GET /v1/products?page[number]=2&page[size]=10&sort=-title&filter[site_id]=123&fields[products]=title,publish_status`\n\nResponse will include paginated and filtered products with sparse fields\n```json\n{\n  \"data\": [\n    {\n      \"id\": \"456\",\n      \"type\": \"products\",\n      \"attributes\": {\n        \"title\": \"Beginner Course\",\n        \"publish_status\": \"draft\"\n      },\n      \"relationships\": {\n        \"site\": {\n          \"data\": {\n            \"id\": \"123\",\n            \"type\": \"sites\"\n          }\n        }\n      }\n    }\n  ],\n  \"links\": {\n    \"self\": \"https://api.kajabi.com/v1/products?page[number]=2&page[size]=10&sort=-title&filter[site_id]=123&fields[products]=title,publish_status\",\n    \"first\": \"https://api.kajabi.com/v1/products?page[number]=1&page[size]=10&sort=-title&filter[site_id]=123&fields[products]=title,publish_status\",\n    \"prev\": \"https://api.kajabi.com/v1/products?page[number]=1&page[size]=10&sort=-title&filter[site_id]=123&fields[products]=title,publish_status\",\n    \"next\": null,\n    \"last\": \"https://api.kajabi.com/v1/products?page[number]=2&page[size]=10&sort=-title&filter[site_id]=123&fields[products]=title,publish_status\"\n  },\n  \"meta\": {\n    \"total_pages\": 2,\n    \"total_count\": 15,\n    \"current_page\": 2\n  }\n}\n```\n"
      tags:
      - Products
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: title, description, status, for descending order use ''-'' e.g. &sort=-title'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: number
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: number
      - name: fields[products]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[products]=title,publish_status
        schema:
          type: string
      - name: filter[site_id]
        in: query
        required: false
        description: Filter by site_id, for example ?filter[site_id]=111
        schema:
          type: string
      - name: filter[title_cont]
        in: query
        required: false
        description: Filter by title contains, for example ?filter[title_cont]=marketing
        schema:
          type: string
      - name: filter[description_cont]
        in: query
        required: false
        description: Filter by description contains, for example ?filter[description_cont]=marketing
        schema:
          type: string
      - name: filter[status_eq]
        in: query
        required: false
        description: Filter by status equals, for example ?filter[status_eq]=ready
        schema:
          type: string
      - name: filter[exclude_product_types][]
        in: query
        schema:
          type: array
          items:
            type: string
        required: false
        description: Exclude products by productizable_type (fully-qualified, e.g. Courses::CohortCourse). Repeatable.
      responses:
        '200':
          description: Success, list of products which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/products_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
  /v1/products/{id}:
    get:
      summary: Product details
      description: "Show details of a product\n## Sparse Fields\nUse the `fields[products]` parameter to request only specific attributes:\n### Get only title and publish_status fields\n* `GET /v1/products/123?fields[products]=title,publish_status`\n\nResponse will only include the requested fields\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"products\",\n    \"attributes\": {\n      \"title\": \"Advanced Course\",\n      \"publish_status\": \"published\"\n    },\n    \"relationships\": {}\n  }\n}\n```\n"
      tags:
      - Products
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: fields[products]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[products]=title,publish_status
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of a product
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/products_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
components:
  schemas:
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
    products_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/products_attributes'
            relationships:
              type: object
              properties:
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type: object
          nullable: true
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    products_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/products_attributes'
              relationships:
                type: object
                properties:
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    products_attributes:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        title:
          type: string
        description:
          type:
          - string
          - 'null'
        status:
          type: string
        members_aggregate_count:
          type: integer
        product_type_name:
          type: string
        product_type_id:
          type: integer
        publish_status:
          type: string
        thumbnail_url:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      required:
      - title
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
