openapi: 3.0.3
info:
  title: Kajabi API V1 Authentication Offers API
  version: 1.1.0
  description: "## Public API\n* Server URL `https://api.kajabi.com`\n* Endpoint paths are prefixed with `/v1`\n* Version endpoint `GET https://api.kajabi.com/v1/version`\n* See the [Developers Site](https://developers.kajabi.com) for documentation and examples.\n* Try the demo [Postman collection](https://www.postman.com/kajabi-apis/beta-public-api-demo/collection/fg4iyaz/kajabi-public-api-v1)\n## API Keys\n* Your API `client_id` and `client_secret` are available on the [User API Keys](https://app.kajabi.com/admin/settings/security) section of the Kajabi Admin Portal.\n  * Custom API Keys can be created with specific permissions.\n  * Click the \"Create User API Key\" button, enter a name (e.g. \"My project\"), select the user and permissions, and click \"Create\".\n  * For security purposes, you may \"Delete\" or \"Rotate\" the api credentials at any time; which will invalidate any access tokens granted with the credentials.\n## Video Walkthroughs\n* [Capabilities](https://drive.google.com/file/d/1Puc9B2sSdA-RQb7YMxmUXg4FVoEXytoc/view?usp=sharing)\n* [Getting Started](https://drive.google.com/file/d/1hbGRShkxven_QMWvgYrerHKURbcZrnvJ/view?usp=sharing)\n* [Error Examples](https://drive.google.com/file/d/1i0wQK71I1jpaZVsxYwsn62gVj40S_E7Y/view?usp=sharing)\n* [External Contact Form](https://drive.google.com/file/d/1HqpULXvan5TOK3LvM7nILCuCkCaX0kFT/view?usp=sharing)\n"
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Offers
paths:
  /v1/offers:
    get:
      summary: List offers
      description: "List of offers (not archived) for a site that can be granted to a contact\n## Pagination\nUse `page[number]` and `page[size]` parameters to paginate results:\n### Get first page of 10 items\n* `GET /v1/offers?page[number]=1&page[size]=10`\n### Get second page of 25 items\n* `GET /v1/offers?page[number]=2&page[size]=25`\n\nThe response includes pagination links and meta data:\n```json\n{\n  \"links\": {\n    \"self\": \"https://api.kajabi.com/v1/offers?page[number]=2&page[size]=10\",\n    \"first\": \"https://api.kajabi.com/v1/offers?page[number]=1&page[size]=10\",\n    \"prev\": \"https://api.kajabi.com/v1/offers?page[number]=1&page[size]=10\",\n    \"next\": \"https://api.kajabi.com/v1/offers?page[number]=3&page[size]=10\",\n    \"last\": \"https://api.kajabi.com/v1/offers?page[number]=5&page[size]=10\"\n  },\n  \"meta\": {\n    \"total_pages\": 5,\n    \"total_count\": 50,\n    \"current_page\": 2\n  }\n}\n```\n## Sorting\nUse the `sort` parameter to sort the results:\n### Sort by title in ascending order\n* `GET /v1/offers?sort=title`\n### Sort by title in descending order\n* `GET /v1/offers?sort=-title`\n\nResponse will include offers sorted by the specified field\n```json\n{\n  \"data\": [\n    {\n      \"id\": \"123\",\n      \"type\": \"offers\",\n      \"attributes\": {\n        \"title\": \"Advanced Course Bundle\",\n        \"price_in_cents\": 19900,\n        \"status\": \"active\"\n      }\n    },\n    {\n      \"id\": \"456\",\n      \"type\": \"offers\",\n      \"attributes\": {\n        \"title\": \"Beginner Course Bundle\",\n        \"price_in_cents\": 9900,\n        \"status\": \"active\"\n      }\n    }\n  ]\n}\n```\n## Sparse Fields\nUse the `fields[offers]` parameter to request only specific attributes:\n### Only return title and price_in_cents attributes\n* `GET /v1/offers?fields[offers]=title,price_in_cents`\n\nResponse will only include requested fields\n```json\n{\n  \"data\": [{\n    \"id\": \"123\",\n    \"type\": \"offers\",\n    \"attributes\": {\n      \"title\": \"Advanced Course Bundle\",\n      \"price_in_cents\": 19900\n    }\n  }]\n}\n```\n## Filter by Site ID\nUse the `filter[site_id]` parameter to get offers for a specific site:\n### Get offers for site with ID 123\n* `GET /v1/offers?filter[site_id]=123`\n\nResponse will only include offers for that site\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"offers\",\n    \"attributes\": {\n      \"title\": \"Advanced Course Bundle\",\n      \"price_in_cents\": 19900,\n      \"status\": \"active\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }]\n}\n```\n## Filter by Title Contains\nUse the `filter[title_cont]` parameter to find offers where the title contains specific text:\n### Get offers with titles containing \"bundle\"\n* `GET /v1/offers?filter[title_cont]=bundle`\n\nResponse will include offers with matching titles\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"offers\",\n    \"attributes\": {\n      \"title\": \"Advanced Course Bundle\",\n      \"price_in_cents\": 19900,\n      \"status\": \"active\"\n    }\n  },\n  {\n    \"id\": \"789\",\n    \"type\": \"offers\",\n    \"attributes\": {\n      \"title\": \"Basic Course Bundle\",\n      \"price_in_cents\": 9900,\n      \"status\": \"active\"\n    }\n  }]\n}\n```\n## Filter by Description Contains\nUse the `filter[description_cont]` parameter to find offers where the description contains specific text:\n### Get offers with descriptions containing \"marketing\"\n* `GET /v1/offers?filter[description_cont]=marketing`\n\nResponse will include offers with matching descriptions\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"offers\",\n    \"attributes\": {\n      \"title\": \"Marketing Course Bundle\",\n      \"description\": \"Complete marketing course bundle with advanced strategies\",\n      \"price_in_cents\": 19900,\n      \"status\": \"active\"\n    }\n  },\n  {\n    \"id\": \"789\",\n    \"type\": \"offers\",\n    \"attributes\": {\n      \"title\": \"Business Essentials\",\n      \"description\": \"Business fundamentals including marketing and sales\",\n      \"price_in_cents\": 9900,\n      \"status\": \"active\"\n    }\n  }]\n}\n```\n## Using Multiple Parameters Together\nYou can combine pagination, sorting, sparse fields and filtering in a single request:\n### Get page 2 of offers for site 123, sorted by price_in_cents descending, including only title and price_in_cents fields\n* `GET /v1/offers?page[number]=2&page[size]=10&sort=-price_in_cents&filter[site_id]=123&fields[offers]=title,price_in_cents`\n\nResponse will include paginated and filtered offers with sparse fields\n```json\n{\n  \"data\": [\n    {\n      \"id\": \"456\",\n      \"type\": \"offers\",\n      \"attributes\": {\n        \"title\": \"Basic Course Bundle\",\n        \"price_in_cents\": 9900\n      },\n      \"relationships\": {\n        \"site\": {\n          \"data\": {\n            \"id\": \"123\",\n            \"type\": \"sites\"\n          }\n        }\n      }\n    }\n  ],\n  \"links\": {\n    \"self\": \"https://api.kajabi.com/v1/offers?page[number]=2&page[size]=10&sort=-price_in_cents&filter[site_id]=123&fields[offers]=title,price_in_cents\",\n    \"first\": \"https://api.kajabi.com/v1/offers?page[number]=1&page[size]=10&sort=-price_in_cents&filter[site_id]=123&fields[offers]=title,price_in_cents\",\n    \"prev\": \"https://api.kajabi.com/v1/offers?page[number]=1&page[size]=10&sort=-price_in_cents&filter[site_id]=123&fields[offers]=title,price_in_cents\",\n    \"next\": null,\n    \"last\": \"https://api.kajabi.com/v1/offers?page[number]=2&page[size]=10&sort=-price_in_cents&filter[site_id]=123&fields[offers]=title,price_in_cents\"\n  },\n  \"meta\": {\n    \"total_pages\": 2,\n    \"total_count\": 15,\n    \"current_page\": 2\n  }\n}\n```\n"
      tags:
      - Offers
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: title, price_in_cents, for descending order use ''-'' e.g. &sort=-price_in_cents'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: number
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: number
      - name: fields[offers]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[offers]=title,price_in_cents
        schema:
          type: string
      - name: filter[site_id]
        in: query
        required: false
        description: Filter by site_id, for example ?filter[site_id]=111
        schema:
          type: string
      - name: filter[title_cont]
        in: query
        required: false
        description: Filter by title contains, for example ?filter[title_cont]=course
        schema:
          type: string
      - name: filter[description_cont]
        in: query
        required: false
        description: Filter by description contains, for example ?filter[description_cont]=course
        schema:
          type: string
      responses:
        '200':
          description: Success, list of offers which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/offers_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
  /v1/offers/{id}:
    get:
      summary: Offer details
      description: "The offer system is a core part of Kajabi's e-commerce functionality, allowing course creators and digital product owners to monetize their content through various pricing and payment models while maintaining flexibility in how offers are presented and processed.\n\n## Offer attributes\n* `title` (string) - Required, public name of the offer shown to customers\n* `description` (string) - Optional, detailed information about what's included in the offer\n* `internal_title` (string) - Optional, for internal reference/organization (not shown to customers)\n* `currency` (string) - The currency of the offer, defaults to USD\n* `price_in_cents` (integer) - The USD price in cents (for precise decimal handling)\n* `payment_type` (string) - Indicates the payment structure\n* `token` (string) - A unique identifier for the offer, particularly in checkout URLs\n* `payment_method` (string) - Indicates the payment method, Returns empty string if no payment method is set\n* `price_description` (string) - Human-readable representation of the offer's price, includes formatting and currency information\n* `checkout_url` (string) - Full URL where customers can purchase the offer\n  * Includes the offer token for identification\n  * Uses the site's public host and protocol settings\n* `recurring_offer` (boolean) - Whether the offer has recurring payments\n* `subscription` (boolean) - Whether the offer is a subscription offer\n* `one_time` (boolean) - Whether the offer is a one-time offer\n* `single` (boolean) - Whether the offer is a single offer\n* `free` (boolean) - Whether the offer is a free offer\n* `image_url` (string) - URL to the image associated with the offer (nullable)\n\n## Include Relationships\nUse the `include` parameter to include related products:\n* `GET /v1/offers/123?include=products`\n\nResponse will include products relationship\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"offers\",\n    \"attributes\": {\n      \"title\": \"Advanced Course Bundle\",\n      \"description\": \"Complete advanced course bundle with expert guidance\",\n      \"internal_title\": \"advanced_course_bundle\",\n      \"currency\": \"USD\",\n      \"price_in_cents\": 19900,\n      \"payment_type\": \"stripe\",\n      \"token\": \"123\",\n      \"payment_method\": \"stripe\",\n      \"price_description\": \"$199.00\",\n      \"checkout_url\": \"https://api.kajabi.com/checkout/123\",\n      \"recurring_offer\": false,\n      \"subscription\": false,\n      \"one_time\": true,\n      \"single\": true,\n      \"free\": false,\n      \"image_url\": \"https://api.kajabi.com/images/456\"\n    },\n    \"relationships\": {\n      \"products\": {\n        \"data\": [\n          {\n            \"id\": \"456\",\n            \"type\": \"products\"\n          }\n        ]\n      }\n    }\n  },\n  \"included\": [\n    {\n      \"id\": \"456\",\n      \"type\": \"products\",\n      \"attributes\": {\n        \"created_at\": \"2021-01-01T00:00:00Z\",\n        \"title\": \"Advanced Course\",\n        \"description\": \"Complete advanced course with expert guidance\",\n        \"status\": \"ready\",\n        \"members_aggregate_count\": 100,\n        \"product_type_name\": \"Course\",\n        \"product_type_id\": 456,\n        \"publish_status\": \"published\",\n        \"image_url\": \"https://api.kajabi.com/images/456\"\n      }\n    }\n  ]\n}\n```\n## Sparse Fields\n### Only return title and price_in_cents attributes\n* `GET /v1/offers/123?fields[offers]=title,price_in_cents`\n\nResponse will only include requested fields\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"offers\",\n    \"attributes\": {\n      \"title\": \"Advanced Course Bundle\",\n      \"price_in_cents\": 19900\n    }\n  }\n}\n```\n\n## Multiple parameters together\nYou can combine include and sparse fields in a single request:\n### Get offer 123 with products, including only title and description fields, and products with title and publish_status fields\n* `GET /v1/offers/123?include=products&fields[offers]=title,description&fields[products]=title,publish_status`\n\nResponse will include offer and products with sparse fields\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"offers\",\n    \"attributes\": {\n      \"title\": \"Advanced Course Bundle\",\n      \"description\": \"Complete advanced course bundle with expert guidance\"\n    },\n    \"relationships\": {}\n  },\n  \"included\": [\n    {\n      \"id\": \"456\",\n      \"type\": \"products\",\n      \"attributes\": {\n        \"title\": \"Advanced Course\",\n        \"publish_status\": \"published\"\n      }\n    }\n  ]\n}\n```\n"
      tags:
      - Offers
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Load the related resources, for example ?include=products
        schema:
          type: string
      - name: fields[offers]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[offers]=title,price_in_cents
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of an offer
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/offers_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
  /v1/offers/{offer_id}/relationships/products:
    get:
      summary: List offer's products
      description: get the offer's relationship to products, response is a list of resource identifiers
      tags:
      - Offers
      security:
      - Bearer: []
      parameters:
      - name: offer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details for tags relationship
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
components:
  schemas:
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
    offers_attributes:
      type: object
      properties:
        title:
          type: string
        description:
          type:
          - string
          - 'null'
        internal_title:
          type:
          - string
          - 'null'
        currency:
          type: string
        price_in_cents:
          type: integer
        payment_type:
          type: string
        token:
          type: string
        payment_method:
          type: string
        price_description:
          type: string
        checkout_url:
          type: string
        recurring_offer:
          type: boolean
        subscription:
          type: boolean
        one_time:
          type: boolean
        single:
          type: boolean
        free:
          type: boolean
        image_url:
          type:
          - string
          - 'null'
      required:
      - title
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type: object
          nullable: true
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    contacts_relationships_tags_response:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/resource_identifiers'
        links:
          type: object
          properties:
            self:
              type: string
    resource_identifiers:
      type: array
      items:
        $ref: '#/components/schemas/resource_identifier'
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    offers_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/offers_attributes'
            relationships:
              type: object
              properties:
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                products:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    offers_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/offers_attributes'
              relationships:
                type: object
                properties:
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
                  products:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
