openapi: 3.2.0
info:
  title: Kajabi API V1 Forms API
  version: 1.1.0
  description: '## Public API

    * Server URL `https://api.kajabi.com`

    * Endpoint paths are prefixed with `/v1`

    * Version endpoint `GET https://api.kajabi.com/v1/version`

    * See the Developers Site for documentation and examples.'
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Forms
paths:
  /v1/form_submissions:
    get:
      summary: List form submissions
      description: 'Form submissions for authorized sites


        ## Pagination

        Use `page[number]` and `page[size]` parameters to paginate results:

        ### Get first page of 10 items

        * `GET /v1/form_submissions?page[number]=1&page[size]=10`

        ### Get second page of 25 items

        * `GET /v1/form_submissions?page[number]=2&page[size]=25`


        The response includes pagination links and meta data:

        ```json

        {

        "links": {

        "self": "https://api.kajabi.com/v1/form_submissions?page[number]=2&page[size]=10",

        "first": "https://api.kajabi.com/v1/form_submissions?page[number]=1&page[size]=10",

        "prev": "https://api.kajabi.com/v1/form_submissions?page[number]=1&page[size]=10",

        "next": "https://api.kajabi.com/v1/form_submissions?page[number]=3&page[size]=10",

        "last": "https://api.kajabi.com/v1/form_submissions?page[number]=5&page[size]=10"

        },

        "meta": {

        "total_pages": 5,

        "total_count": 50,

        "current_page": 2

        }

        }

        ```


        ## Filtering

        Use filter parameters to narrow down results:

        ### Filter by site ID

        * `GET /v1/form_submissions?filter[site_id]=123`

        ### Filter by form ID

        * `GET /v1/form_submissions?filter[form_id]=456`


        ## Sorting

        Use the `sort` parameter to sort results:

        ### Sort by creation date (oldest first)

        * `GET /v1/form_submissions?sort=created_at`

        ### Sort by name (alphabetical)

        * `GET /v1/form_submissions?sort=name`'
      tags:
      - Forms
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: name, email, created_at. For descending order use ''-'' e.g. &sort=-name'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: integer
      - name: filter[site_id]
        in: query
        required: false
        description: 'Filter by site ID, example: filter[site_id]=123'
        schema:
          type: string
      - name: filter[form_id]
        in: query
        required: false
        description: 'Filter by form ID, example: filter[form_id]=456'
        schema:
          type: string
      responses:
        '200':
          description: Success, filtered by form_id
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/form_submissions_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1FormSubmissions
      x-operation-id-source: derived
  /v1/form_submissions/{id}:
    get:
      summary: Form submission details
      description: 'Shows details of a form submission


        ## Form Submission Attributes

        * `name` (string) - The name of the person who submitted the form

        * `email` (string) - The email address of the person who submitted the form

        * `address_line_1` (string) - First line of address if provided

        * `address_line_2` (string) - Second line of address if provided

        * `address_city` (string) - City if provided

        * `address_country` (string) - Country if provided

        * `address_state` (string) - State if provided

        * `address_zip` (string) - ZIP/postal code if provided

        * `phone_number` (string) - Phone number if provided

        * `business_number` (string) - Business number if provided

        * `mobile_phone_number` (string) - Mobile phone number if provided


        ## Custom Fields

        Form submissions may also include custom field values that were collected through the form.


        ## Relationships

        Form submissions belong to:

        * A site

        * A form


        ## Include Related Resources

        Use the `include` parameter to load related resources:

        ### Include site and form

        * `GET /v1/form_submissions/123?include=site,form`'
      tags:
      - Forms
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Load the related resources, for example ?include=site,form
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of a form submission
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/form_submissions_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Form submission not found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_not_found'
      operationId: getV1FormSubmissionsById
      x-operation-id-source: derived
  /v1/forms:
    get:
      summary: List forms
      description: 'Contact forms for a site

        ## Pagination

        Use `page[number]` and `page[size]` parameters to paginate results:

        ### Get first page of 10 items

        * `GET /v1/forms?page[number]=1&page[size]=10`

        ### Get second page of 25 items

        * `GET /v1/forms?page[number]=2&page[size]=25`


        The response includes pagination links and meta data:

        ```json

        {

        "links": {

        "self": "https://api.kajabi.com/v1/forms?page[number]=2&page[size]=10",

        "first": "https://api.kajabi.com/v1/forms?page[number]=1&page[size]=10",

        "prev": "https://api.kajabi.com/v1/forms?page[number]=1&page[size]=10",

        "next": "https://api.kajabi.com/v1/forms?page[number]=3&page[size]=10",

        "last": "https://api.kajabi.com/v1/forms?page[number]=5&page[size]=10"

        },

        "meta": {

        "total_pages": 5,

        "total_count": 50,

        "current_page": 2

        }

        }

        ```

        ## Sorting

        Use the `sort` parameter to sort the results:

        ### Sort by title in ascending order

        * `GET /v1/forms?sort=title`

        ### Sort by title in descending order

        * `GET /v1/forms?sort=-title`


        Response will include forms sorted by the specified field

        ```json

        {

        "data": [

        {

        "id": "123",

        "type": "forms",

        "attributes": {

        "title": "Contact Form A",

        "description": "General contact form"

        }

        },

        {

        "id": "456",

        "type": "forms",

        "attributes": {

        "title": "Contact Form B",

        "description": "Newsletter signup form"

        }

        }

        ]

        }

        ```

        ## Sparse Fields

        Use the `fields[forms]` parameter to request only specific attributes:

        ### Only return title and description attributes

        * `GET /v1/forms?fields[forms]=title,description`


        Response will only include requested fields

        ```json

        {

        "data": [{

        "id": "123",

        "type": "forms",

        "attributes": {

        "title": "Contact Form A",

        "description": "General contact form"

        }

        }]

        }

        ```

        ## Filter by Site ID

        Use the `filter[site_id]` parameter to get forms for a specific site:

        ### Get forms for site with ID 123

        * `GET /v1/forms?filter[site_id]=123`


        Response will only include forms for that site

        ```json

        {

        "data": [{

        "id": "456",

        "type": "forms",

        "attributes": {

        "title": "Contact Form A",

        "description": "General contact form"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "123",

        "type": "sites"

        }

        }

        }

        }]

        }

        ```

        ## Filter by Title Contains

        Use the `filter[title_cont]` parameter to find forms where the title contains specific text:

        ### Get forms with titles containing "course"

        * `GET /v1/forms?filter[title_cont]=course`


        Response will include forms with matching titles

        ```json

        {

        "data": [{

        "id": "456",

        "type": "forms",

        "attributes": {

        "title": "Course Registration Form",

        "description": "Sign up form for online courses"

        }

        }]

        }

        ```

        ## Using Multiple Parameters Together

        You can combine pagination, sorting, sparse fields and filtering in a single request:

        ### Get page 2 of forms for site 123, sorted by title descending, including only title and description fields

        * `GET /v1/forms?page[number]=2&page[size]=10&sort=-title&filter[site_id]=123&fields[forms]=title,description`


        Response will include paginated and filtered forms with sparse fields

        ```json

        {

        "data": [

        {

        "id": "456",

        "type": "forms",

        "attributes": {

        "title": "Newsletter Form",

        "description": "Newsletter signup form"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "123",

        "type": "sites"

        }

        }

        }

        }

        ],

        "links": {

        "self": "https://api.kajabi.com/v1/forms?page[number]=2&page[size]=10&sort=-title&filter[site_id]=123&fields[forms]=title,description",

        "first": "https://api.kajabi.com/v1/forms?page[number]=1&page[size]=10&sort=-title&filter[site_id]=123&fields[forms]=title,description",

        "prev": "https://api.kajabi.com/v1/forms?page[number]=1&page[size]=10&sort=-title&filter[site_id]=123&fields[forms]=title,description",

        "next": null,

        "last": "https://api.kajabi.com/v1/forms?page[number]=2&page[size]=10&sort=-title&filter[site_id]=123&fields[forms]=title,description"

        },

        "meta": {

        "total_pages": 2,

        "total_count": 15,

        "current_page": 2

        }

        }

        ```'
      tags:
      - Forms
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: title for descending order use ''-'' e.g. &sort=-title'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: integer
      - name: fields[forms]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[forms]=title
        schema:
          type: string
      - name: filter[site_id]
        in: query
        required: false
        description: Filter by site_id, for example ?filter[site_id]=111
        schema:
          type: string
      - name: filter[title_cont]
        in: query
        required: false
        description: Filter by title contains, for example ?filter[title_cont]=course
        schema:
          type: string
      responses:
        '200':
          description: Success, list of forms which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/forms_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1Forms
      x-operation-id-source: derived
  /v1/forms/{id}:
    get:
      summary: Form details
      description: 'Shows details of a form


        Forms belong to a site and can be associated with:

        * Landing pages

        * Offers

        * Email sequences

        * Events

        * Newsletters


        ## Form Attributes

        * `title` (string) - A required field that represents the name or heading of the form.'
      tags:
      - Forms
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Load the related resources, for example ?include=fields,site,offer,contact_tags
        schema:
          type: string
      - name: fields[forms]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[forms]=title,webhook_url
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of a form
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/forms_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: form not found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_not_found'
      operationId: getV1FormsById
      x-operation-id-source: derived
  /v1/forms/{id}/submit:
    post:
      summary: Submit form
      description: '## Submit a form

        * The `name` and `email` attributes are required.

        * The `email` attribute must be a valid and deliverable email address.


        Example request body:

        ```json

        {

        "data": {

        "type": "form_submissions",

        "attributes": {

        "name": "John Doe",

        "email": "john.doe@example.com"

        }

        }

        }

        ```


        Response will include the newly created form submission resource.

        ```json

        {

        "data": {

        "id": "313",

        "type": "form_submissions",

        "attributes": {

        "name": "John Doe",

        "email": "john.doe@example.com",

        "address_line_1": null,

        "address_line_2": null,

        "address_city": null,

        "address_country": null,

        "address_state": null,

        "address_zip": null,

        "phone_number": null,

        "business_number": null,

        "mobile_phone_number": null

        },

        "relationships": {

        "site": {

        "data": {

        "id": "2",

        "type": "sites"

        }

        },

        "form": {

        "data": {

        "id": "15",

        "type": "forms"

        }

        }

        }

        }

        }

        ```

        ## Behaviors and side effects

        * Checks for disposable emails

        * Validates email deliverability

        * Sends double opt-in email if needed

        * Subscribes contact (with opt-in handling)

        * Subscribes to SMS if applicable

        * Adds tags to contact

        * Grants offers if configured

        * Subscribes to email sequences

        * Delivers webhooks

        * Triggers automations'
      tags:
      - Forms
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Success, shows the form submission data
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/form_submission_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      $ref: '#/components/schemas/form_submission_attributes'
                  required:
                  - type
                  - attributes
              required:
              - data
      operationId: postV1FormsByIdSubmit
      x-operation-id-source: derived
components:
  schemas:
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type:
          - object
          - 'null'
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    forms_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - forms
            attributes:
              $ref: '#/components/schemas/form_attributes'
            relationships:
              type: object
              properties:
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                offer:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                fields:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifiers'
    resource_identifiers:
      type: array
      items:
        $ref: '#/components/schemas/resource_identifier'
    form_attributes:
      type: object
      properties:
        title:
          type:
          - string
          - 'null'
        default:
          type: boolean
        webhook_url:
          type:
          - object
          - 'null'
        url:
          type: string
        created_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    errors_not_found:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    form_submission_attributes:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        phone_number:
          type:
          - string
          - 'null'
        business_number:
          type:
          - string
          - 'null'
        address_line_1:
          type:
          - string
          - 'null'
        address_line_2:
          type:
          - string
          - 'null'
        address_city:
          type:
          - string
          - 'null'
        address_state:
          type:
          - string
          - 'null'
        address_country:
          type:
          - string
          - 'null'
        address_zip:
          type:
          - string
          - 'null'
        custom_1:
          type:
          - string
          - 'null'
          description: Support depends on custom fields of a site
        custom_2:
          type:
          - string
          - 'null'
          description: Support depends on custom fields of a site
        custom_3:
          type:
          - string
          - 'null'
          description: Support depends on custom fields of a site
    form_submissions_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/form_submission_attributes'
              relationships:
                type: object
                properties:
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
                  form:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    form_submission_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/form_submission_attributes'
            relationships:
              type: object
              properties:
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                form:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    forms_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum:
                - forms
              attributes:
                $ref: '#/components/schemas/form_attributes'
              relationships:
                type: object
                properties:
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
                  offer:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
                  fields:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifiers'
    form_submissions_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/form_submission_attributes'
            relationships:
              type: object
              properties:
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                form:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
