openapi: 3.2.0
info:
  title: Kajabi API V1 Customers API
  version: 1.1.0
  description: '## Public API

    * Server URL `https://api.kajabi.com`

    * Endpoint paths are prefixed with `/v1`

    * Version endpoint `GET https://api.kajabi.com/v1/version`

    * See the Developers Site for documentation and examples.'
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Customers
paths:
  /v1/customers:
    get:
      summary: List customers
      description: 'List of customers

        ## Pagination

        Use `page[number]` and `page[size]` parameters to paginate results:

        ### Get first page of 10 items

        * `GET /v1/customers?page[number]=1&page[size]=10`

        ### Get second page of 25 items

        * `GET /v1/customers?page[number]=2&page[size]=25`


        The response includes pagination links and meta data:

        ```json

        {

        "links": {

        "self": "https://app.kajabi.com/api/v1/customers?page[number]=2&page[size]=10",

        "first": "https://app.kajabi.com/api/v1/customers?page[number]=1&page[size]=10",

        "prev": "https://app.kajabi.com/api/v1/customers?page[number]=1&page[size]=10",

        "next": "https://app.kajabi.com/api/v1/customers?page[number]=3&page[size]=10",

        "last": "https://app.kajabi.com/api/v1/customers?page[number]=5&page[size]=10"

        },

        "meta": {

        "total_pages": 5,

        "total_count": 50,

        "current_page": 2

        }

        }

        ```

        ## Sorting

        * The default Sorting is by created_at in descending order (newest first)


        Sorting by created_at in ascending order (oldest first)

        * `GET /v1/customers?filter[site_id]=123&sort=created_at`


        Use the `sort` parameter to sort the results:

        ### Sort by name in ascending order

        * `GET /v1/customers?filter[site_id]=123&sort=name`

        ### Sort by email in descending order

        * `GET /v1/customers?filter[site_id]=123&sort=-email`

        ### Sort by net_revenue in ascending order

        * `GET /v1/customers?filter[site_id]=123&sort=net_revenue`

        ### Sort by last_request_at in descending order

        * `GET /v1/customers?filter[site_id]=123&sort=-last_request_at`


        Response will include customers sorted by the specified field

        ```json

        {

        "data": [{

        "id": "123",

        "type": "customers",

        "attributes": {

        "name": "Alice Smith",

        "email": "alice@example.com",

        "external_user_id": "cust_123"

        }

        }]

        }

        ```

        ## Sparse Fields

        Use the `fields[customers]` parameter to request only specific attributes:

        ### Only return name and email attributes

        * `GET /v1/customers?fields[customers]=name,email`


        Response will only include requested fields

        ```json

        {

        "data": [{

        "id": "123",

        "type": "customers",

        "attributes": {

        "name": "Alice Smith",

        "email": "alice@example.com"

        }

        }]

        }

        ```

        ## Filtering

        Use the `filter[site_id]` parameter to filter customers by site:

        ### Get customers for site with ID 123

        * `GET /v1/customers?filter[site_id]=123`


        Response will include only customers from the specified site

        ```json

        {

        "data": [{

        "id": "456",

        "type": "customers",

        "attributes": {

        "name": "Alice Smith",

        "email": "alice@example.com",

        "external_user_id": "cust_123"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "123",

        "type": "sites"

        }

        }

        }

        }]

        }

        ```

        ## Using Indexed Data Search

        ```json

        {

        "data": [{

        "id": "456",

        "type": "customers",

        "attributes": {

        "name": "John Smith",

        "email": "smith.john@example.com"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "123",

        "type": "sites"

        }

        }

        }

        }]

        }

        ```


        ## Using Multiple Filters

        You can combine multiple filter parameters to refine your search:

        ### Get customers from site 123 matching search term

        * `GET /v1/customers?filter[site_id]=123&filter[search]=smith`


        Response will include only customers from the specified site matching the search term

        ```json

        {

        "data": [{

        "id": "456",

        "type": "customers",

        "attributes": {

        "name": "Alice Smith",

        "email": "alice@example.com",

        "external_user_id": "cust_123"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "123",

        "type": "sites"

        }

        }

        }

        }]

        }

        ```

        ## Filtering by Site and Offer

        You can filter customers by both site and offer ownership:

        ### Get customers from site 123 who have been granted offer 789

        * `GET /v1/customers?filter[site_id]=123&filter[has_offer_id]=789`


        Response will include only customers from the specified site who have been granted the offer

        ```json

        {

        "data": [{

        "id": "456",

        "type": "customers",

        "attributes": {

        "name": "Alice Smith",

        "email": "alice@example.com",

        "external_user_id": "cust_123"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "123",

        "type": "sites"

        }

        },

        "offers": {

        "links": {

        "self": "https://app.kajabi.com/api/v1/customers/456/relationships/offers",

        "related"…'
      tags:
      - Customers
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: name, email, created_at, net_revenue, last_request_at for descending order use ''-'' e.g. &sort=-name'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: number
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: number
      - name: fields[customers]
        in: query
        required: false
        description: 'Sparse fields, use: name, email for example ?fields[customers]=name,email'
        schema:
          type: string
      - name: filter[site_id]
        in: query
        required: false
        description: It is recommended to always filter by site_id, for example ?filter[site_id]=111. This param is required when the account has multiple sites
        schema:
          type: string
      - name: filter[search]
        in: query
        required: false
        description: Filter with fuzzy search of name/email, for example ?filter[search]=alexa
        schema:
          type: string
      - name: filter[created_in_last]
        in: query
        required: false
        description: Filter customers created in the last N days, e.g. ?filter[created_in_last]=30
        schema:
          type: string
      - name: filter[not_created_in_last]
        in: query
        required: false
        description: Filter customers not created in the last N days
        schema:
          type: string
      - name: filter[is_hidden]
        in: query
        required: false
        description: Filter hidden customers
        schema:
          type: string
      - name: filter[joined_in_last]
        in: query
        required: false
        description: Filter customers who joined in the last N days
        schema:
          type: string
      - name: filter[active_in_last]
        in: query
        required: false
        description: Filter customers active in the last N days
        schema:
          type: string
      - name: filter[inactive_in_last]
        in: query
        required: false
        description: Filter customers inactive in the last N days
        schema:
          type: string
      - name: filter[name_contains]
        in: query
        required: false
        description: Filter customers whose name contains the given value
        schema:
          type: string
      - name: filter[email_contains]
        in: query
        required: false
        description: Filter customers whose email contains the given value
        schema:
          type: string
      - name: filter[phone_number_contains]
        in: query
        required: false
        description: Filter customers whose phone number contains the given value
        schema:
          type: string
      - name: filter[address_line_1_contains]
        in: query
        required: false
        description: Filter customers whose address line 1 contains the given value
        schema:
          type: string
      - name: filter[address_line_2_contains]
        in: query
        required: false
        description: Filter customers whose address line 2 contains the given value
        schema:
          type: string
      - name: filter[address_city_contains]
        in: query
        required: false
        description: Filter customers whose city contains the given value
        schema:
          type: string
      - name: filter[address_state_contains]
        in: query
        required: false
        description: Filter customers whose state contains the given value
        schema:
          type: string
      - name: filter[address_country_contains]
        in: query
        required: false
        description: Filter customers whose country contains the given value
        schema:
          type: string
      - name: filter[address_zip_contains]
        in: query
        required: false
        description: Filter customers whose zip code contains the given value
        schema:
          type: string
      - name: filter[has_tag_id]
        in: query
        required: false
        description: Filter customers with a specific tag ID
        schema:
          type: string
      - name: filter[has_all_tag_id]
        in: query
        required: false
        description: Filter customers with all specified tag IDs
        schema:
          type: string
      - name: filter[has_no_tag_id]
        in: query
        required: false
        description: Filter customers without the specified tag ID
        schema:
          type: string
      - name: filter[subscribed]
        in: query
        required: false
        description: Filter subscribed customers
        schema:
          type: string
      - name: filter[has_offer_id]
        in: query
        required: false
        description: Filter customers with a specific offer ID
        schema:
          type: string
      - name: filter[has_no_offer_id]
        in: query
        required: false
        description: Filter customers without the specified offer ID
        schema:
          type: string
      - name: filter[has_product_id]
        in: query
        required: false
        description: Filter customers who own a specific product ID
        schema:
          type: string
      - name: filter[has_active_product_id]
        in: query
        required: false
        description: Filter customers with an active membership to a specific product ID
        schema:
          type: string
      - name: filter[has_no_product_id]
        in: query
        required: false
        description: Filter customers who do not own a specific product ID
        schema:
          type: string
      - name: filter[previously_owned_product_id]
        in: query
        required: false
        description: Filter customers who previously owned a specific product ID
        schema:
          type: string
      - name: filter[used_coupon_code]
        in: query
        required: false
        description: Filter customers who used a specific coupon code
        schema:
          type: string
      - name: filter[submitted_form_id]
        in: query
        required: false
        description: Filter customers who submitted a specific form ID
        schema:
          type: string
      - name: filter[no_submitted_form_id]
        in: query
        required: false
        description: Filter customers who have not submitted the specified form ID
        schema:
          type: string
      - name: filter[registered_event_id]
        in: query
        required: false
        description: Filter customers who registered for a specific event ID
        schema:
          type: string
      - name: filter[not_registered_event_id]
        in: query
        required: false
        description: Filter customers who have not registered for the specified event ID
        schema:
          type: string
      - name: filter[completed_assessment_id]
        in: query
        required: false
        description: Filter customers who completed a specific assessment ID
        schema:
          type: string
      - name: filter[passed_assessment_id]
        in: query
        required: false
        description: Filter customers who passed a specific assessment ID
        schema:
          type: string
      - name: filter[failed_assessment_id]
        in: query
        required: false
        description: Filter customers who failed a specific assessment ID
        schema:
          type: string
      - name: filter[net_revenue_equal_to]
        in: query
        required: false
        description: Filter customers whose net revenue equals the given value
        schema:
          type: string
      - name: filter[net_revenue_greater_than]
        in: query
        required: false
        description: Filter customers whose net revenue is greater than the given value
        schema:
          type: string
      - name: filter[net_revenue_less_than]
        in: query
        required: false
        description: Filter customers whose net revenue is less than the given value
        schema:
          type: string
      - name: filter[subscribed_in_last]
        in: query
        required: false
        description: Filter customers subscribed in the last N days
        schema:
          type: string
      - name: filter[unsubscribed_in_last]
        in: query
        required: false
        description: Filter customers unsubscribed in the last N days
        schema:
          type: string
      - name: filter[never_subscribed]
        in: query
        required: false
        description: Filter customers who have never subscribed
        schema:
          type: string
      - name: filter[sent_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who were sent a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_sent_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who were not sent the specified email broadcast ID
        schema:
          type: string
      - name: filter[no_sent_email_broadcast_ids]
        in: query
        required: false
        description: Filter customers who were not sent any of the specified email broadcast IDs
        schema:
          type: string
      - name: filter[no_delivered_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who did not receive the specified email broadcast ID
        schema:
          type: string
      - name: filter[opened_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who opened a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_opened_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who did not open the specified email broadcast ID
        schema:
          type: string
      - name: filter[clicked_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who clicked a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_clicked_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who did not click the specified email broadcast ID
        schema:
          type: string
      - name: filter[bounced_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who bounced a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_bounced_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who did not bounce the specified email broadcast ID
        schema:
          type: string
      - name: filter[dropped_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who dropped a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_dropped_email_broadcast_id]
        in: query
        required: false
        description: Filter customers who did not drop the specified email broadcast ID
        schema:
          type: string
      - name: filter[opened_email_in_last]
        in: query
        required: false
        description: Filter customers who opened an email in the last N days
        schema:
          type: string
      - name: filter[not_opened_email_in_last]
        in: query
        required: false
        description: Filter customers who did not open an email in the last N days
        schema:
          type: string
      - name: filter[delivered_email_in_last]
        in: query
        required: false
        description: Filter customers who were delivered an email in the last N days
        schema:
          type: string
      - name: filter[not_delivered_email_in_last]
        in: query
        required: false
        description: Filter customers who were not delivered an email in the last N days
        schema:
          type: string
      - name: filter[clicked_email_in_last]
        in: query
        required: false
        description: Filter customers who clicked an email in the last N days
        schema:
          type: string
      - name: filter[not_clicked_email_in_last]
        in: query
        required: false
        description: Filter customers who did not click an email in the last N days
        schema:
          type: string
      - name: filter[is_hard_bouncing]
        in: query
        required: false
        description: Filter customers that are hard bouncing
        schema:
          type: string
      - name: filter[bounced_in_last]
        in: query
        required: false
        description: Filter customers who bounced in the last N days
        schema:
          type: string
      - name: filter[complained_in_last]
        in: query
        required: false
        description: Filter customers who complained in the last N days
        schema:
          type: string
      - name: filter[manually_unsubscribed_in_last]
        in: query
        required: false
        description: Filter customers manually unsubscribed in the last N days
        schema:
          type: string
      - name: filter[opted_out_in_last]
        in: query
        required: false
        description: Filter customers who opted out in the last N days
        schema:
          type: string
      - name: filter[healthy_contacts_with_open_data]
        in: query
        required: false
        description: Filter healthy customers with open data
        schema:
          type: string
      - name: filter[passive_contacts_with_open_data]
        in: query
        required: false
        description: Filter passive customers with open data
        schema:
          type: string
      - name: filter[unengaged_contacts_with_open_data]
        in: query
        required: false
        description: Filter unengaged customers with open data
        schema:
          type: string
      - name: filter[inactive_contacts_with_open_data]
        in: query
        required: false
        description: Filter inactive customers with open data
        schema:
          type: string
      - name: filter[subscribed_newsletter_id]
        in: query
        required: false
        description: Filter customers subscribed to a specific newsletter ID
        schema:
          type: string
      - name: filter[unsubscribed_newsletter_id]
        in: query
        required: false
        description: Filter customers unsubscribed from a specific newsletter ID
        schema:
          type: string
      - name: filter[mobile_phone_number_contains]
        in: query
        required: false
        description: Filter customers whose mobile phone number contains the given value
        schema:
          type: string
      - name: filter[subscribed_email_sequence_id]
        in: query
        required: false
        description: Filter customers subscribed to a specific email sequence ID
        schema:
          type: string
      - name: filter[not_subscribed_email_sequence_id]
        in: query
        required: false
        description: Filter customers not subscribed to a specific email sequence ID
        schema:
          type: string
      responses:
        '200':
          description: Success, filter by product ownership
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customers_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1Customers
      x-operation-id-source: derived
  /v1/customers/{id}:
    get:
      summary: Customer details
      description: 'Show customer details

        * The `name` and `email` attributes are kept in sync with the related `contact` resource

        * The `external_user_id` attribute may be used as a customer reference in an external system


        ## Customer Attributes

        * `name` (string) - The customer''s full name.'
      tags:
      - Customers
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: with ?include=offers,products the response will include the related resources
        schema:
          type: string
      - name: fields[customers]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[customers]=name,email
        schema:
          type: string
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: filter[products_search]
        in: query
        required: false
        description: Search products by title
        schema:
          type: string
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: filter[products_page]
        in: query
        required: false
        schema:
          type: integer
      - name: filter[products_per]
        in: query
        required: false
        schema:
          type: integer
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: filter[offers_search]
        in: query
        required: false
        description: Search offers by title or internal title
        schema:
          type: string
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: filter[offers_page]
        in: query
        required: false
        schema:
          type: integer
      - name: filter[offers_per]
        in: query
        required: false
        schema:
          type: integer
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: filter[products_search]
        in: query
        required: false
        schema:
          type: string
      - name: filter[offers_search]
        in: query
        required: false
        schema:
          type: string
      - name: filter[products_search]
        in: query
        required: false
        description: Should be ignored when include parameter is missing
        schema:
          type: string
      - name: filter[offers_search]
        in: query
        required: false
        description: Should be ignored when include parameter is missing
        schema:
          type: string
      responses:
        '200':
          description: Success - filters ignored when include parameter not present
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customers_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1CustomersById
      x-operation-id-source: derived
  /v1/customers/{customer_id}/relationships/offers:
    get:
      summary: List customer's offers
      description: 'Get the customer''s relationship to offers (granted).


        Response is a list of resource identifiers

        ```json

        {

        "data": [

        { "type": "offers", "id": "123" },

        { "type": "offers", "id": "456" }

        ]

        }

        ```

        The related tag resources are available using the GET `api/v1/offers` endpoint.

        The resource identifier includes the offer id and type.

        Example URLs: `/api/v1/offers/123`, `/api/v1/offers/456`'
      tags:
      - Customers
      security:
      - Bearer: []
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details for tags relationship
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customers_relationships_offers_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1CustomersByCustomerIdRelationshipsOffers
      x-operation-id-source: derived
    post:
      summary: Grant offer to customer
      description: '## Grant offer(s) to a customer

        Create an offer grant for a customer.


        In the request body inlcude offer resource identifier(s), `id: OFFER_ID`, `type: "offers"`.


        ```

        { "data": [{"type": "offers", "id": "123"}] }

        ```


        ## Response

        * A successful response body will list the offers related to the customer

        * An error response will include a JSON body with error details.


        ## Behaviors and side effects

        * Checks if the customerwas already granted the offer

        * May send a gift granted email if this is a gift offer

        * Triggers automations if configured'
      tags:
      - Customers
      security:
      - Bearer: []
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, offer (granted) using relationship to customer resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customers_relationships_offers_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/resource_identifiers'
              required:
              - data
      operationId: postV1CustomersByCustomerIdRelationshipsOffers
      x-operation-id-source: derived
    delete:
      summary: Revoke offer from customer
      description: '## Revoke offer grant(s) for a customer

        Revoke offer grant(s) using a list of resource identifiers

        In the request body inlcude offer resource identifier(s), `id: OFFER_ID`, `type: "offers"`.

        ```

        { "data": [{"type": "offers", "id": "123"}] }

        ```

        ## Response

        * A successful response body will list the offers related to the customer

        * An error response will include a JSON body with error details.


        ## Behaviors and side effects

        * Only affects active offers

        * Handles both offer purchases and offer grants

        * Deactivates all associated product memberships'
      tags:
      - Customers
      security:
      - Bearer: []
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, revokes offer from customer resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customers_relationships_offers_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/resource_identifiers'
              required:
              - data
      operationId: deleteV1CustomersByCustomerIdRelationshipsOffers
      x-operation-id-source: derived
    patch:
      summary: Replace offers for customer
      description: '## Replace offer grant(s) for a customer

        Replace offer grants (grants and revokes offers to/from customer) using a list of resource identifiers

        In the request body inlcude offer resource identifier(s), `id: OFFER_ID`, `type: "offers"`.

        ```

        { "data": [{"type": "offers", "id": "456"}, {"type": "offers", "id": "789"}] }

        ```

        ## Response

        * A successful response body will list the offers related to the customer

        * An error response will include a JSON body with error details.'
      tags:
      - Customers
      security:
      - Bearer: []
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, replaces offers relationships of contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customers_relationships_offers_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
              required:
              - data
      operationId: patchV1CustomersByCustomerIdRelationshipsOffers
      x-operation-id-source: derived
components:
  schemas:
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type:
          - object
          - 'null'
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    errors_bad_request:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    customers_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/customers_attributes'
            relationships:
              type: object
              properties:
                contact:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                offers:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifiers'
                    links:
                      type: object
                      properties:
                        self:
                          type: string
                products:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifiers'
            links:
              type: object
              properties:
                contact:
                  type: string
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    resource_identifiers:
      type: array
      items:
        $ref: '#/components/schemas/resource_identifier'
    customers_attributes:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        avatar:
          type:
          - string
          - 'null'
        external_user_id:
          type:
          - string
          - 'null'
          description: Supported once contact is granted an offer or makes a purchase
        public_bio:
          type:
          - string
          - 'null'
        public_location:
          type:
          - string
          - 'null'
        public_website:
          type:
          - string
          - 'null'
        socials:
          type:
          - object
          - 'null'
          properties:
            twitter:
              type:
              - string
              - 'null'
            facebook:
              type:
              - string
              - 'null'
            instagram:
              type:
              - string
              - 'null'
        net_revenue:
          type:
          - string
          - 'null'
        sign_in_count:
          type:
          - integer
          - 'null'
          description: Read only
        last_request_at:
          type:
          - string
          - 'null'
          description: ISO 8601 date-time, read only
        bounced_at:
          type:
          - string
          - 'null'
          description: ISO 8601 date-time, read only
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    customers_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/customers_attributes'
              relationships:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
                  offers:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                  products:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifiers'
              links:
                type: object
                properties:
                  contact:
                    type: string
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    customers_relationships_offers_response:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/resource_identifiers'
        links:
          type: object
          properties:
            self:
              type: string
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
