openapi: 3.0.3
info:
  title: Kajabi API V1 Authentication Contacts API
  version: 1.1.0
  description: "## Public API\n* Server URL `https://api.kajabi.com`\n* Endpoint paths are prefixed with `/v1`\n* Version endpoint `GET https://api.kajabi.com/v1/version`\n* See the [Developers Site](https://developers.kajabi.com) for documentation and examples.\n* Try the demo [Postman collection](https://www.postman.com/kajabi-apis/beta-public-api-demo/collection/fg4iyaz/kajabi-public-api-v1)\n## API Keys\n* Your API `client_id` and `client_secret` are available on the [User API Keys](https://app.kajabi.com/admin/settings/security) section of the Kajabi Admin Portal.\n  * Custom API Keys can be created with specific permissions.\n  * Click the \"Create User API Key\" button, enter a name (e.g. \"My project\"), select the user and permissions, and click \"Create\".\n  * For security purposes, you may \"Delete\" or \"Rotate\" the api credentials at any time; which will invalidate any access tokens granted with the credentials.\n## Video Walkthroughs\n* [Capabilities](https://drive.google.com/file/d/1Puc9B2sSdA-RQb7YMxmUXg4FVoEXytoc/view?usp=sharing)\n* [Getting Started](https://drive.google.com/file/d/1hbGRShkxven_QMWvgYrerHKURbcZrnvJ/view?usp=sharing)\n* [Error Examples](https://drive.google.com/file/d/1i0wQK71I1jpaZVsxYwsn62gVj40S_E7Y/view?usp=sharing)\n* [External Contact Form](https://drive.google.com/file/d/1HqpULXvan5TOK3LvM7nILCuCkCaX0kFT/view?usp=sharing)\n"
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Contacts
paths:
  /v1/contacts:
    post:
      summary: Create a contact
      description: "Create a contact for a site.\n## Contact attributes\n* New contact does not support `external_user_id` attribute.\n* See custom_fields endpoint to discover attributes for using custom fields attributes.\n\n## Create a contact\nRequest body must include a `site` relationship.\nExample request body:\n```json\n{\n  \"data\": {\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john.doe@example.com\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"type\": \"sites\",\n          \"id\": \"123\"\n        }\n      }\n    }\n  }\n}\n```\nResponse will include the newly created contact resource.\n```json\n{\n  \"data\": {\n    \"id\": \"456\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john.doe@example.com\",\n      \"address_line_1\": null,\n      \"address_line_2\": null,\n      \"address_city\": null,\n      \"address_country\": null,\n      \"address_state\": null,\n      \"address_zip\": null,\n      \"phone_number\": null,\n      \"business_number\": null,\n      \"subscribed\": false,\n      \"external_user_id\": null,\n      \"created_at\": \"2024-01-15T10:30:00Z\",\n      \"updated_at\": \"2024-01-15T10:30:00Z\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }\n}\n```\n"
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters: []
      responses:
        '201':
          description: Success, new contact created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '400':
          description: Bad request, Site relationship is required
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '422':
          description: Unprocessable entity, attributes have semantic errors
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unprocessable'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      $ref: '#/components/schemas/contacts_attributes'
                    relationships:
                      type: object
                      properties:
                        site:
                          type: object
                          properties:
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                              required:
                              - id
                              - type
                  required:
                  - type
                  - attributes
                  - relationships
              required:
              - data
    get:
      summary: List contacts
      description: "List of contacts, we recommended filtering by site.\n\n## Filtering\nUse the `filter[site_id]` parameter to filter contacts by site:\n\n### Get contacts for site with ID 123\n* `GET /v1/contacts?filter[site_id]=123`\n\nResponse will include only contacts for the specified site\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"John Smith\",\n      \"email\": \"john@example.com\",\n      \"created_at\": \"2024-01-15T10:30:00Z\",\n      \"updated_at\": \"2024-01-15T10:30:00Z\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }]\n}\n```\n## Search Filter\nUse the `filter[search]` parameter along with `filter[site_id]` to search contacts by name or email:\n\n### Search for contacts containing \"smith\" in site with ID 123\n* `GET /v1/contacts?filter[site_id]=123&filter[search]=smith`\n\nResponse will include only matching contacts for the specified site\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"John Smith\",\n      \"email\": \"smith.john@example.com\",\n      \"created_at\": \"2024-01-15T10:30:00Z\",\n      \"updated_at\": \"2024-01-15T10:30:00Z\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }]\n}\n```\n## Search\nUse the `filter[search]` parameter along with `filter[site_id]` to search contacts.\n\n### Search for contacts containing \"smith\" in site with ID 123\n* `GET /v1/contacts?filter[site_id]=123&filter[search]=smith`\n\nResponse will include matching contacts\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"John Smith\",\n      \"email\": \"smith.john@example.com\",\n      \"created_at\": \"2024-01-15T10:30:00Z\",\n      \"updated_at\": \"2024-01-15T10:30:00Z\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }]\n}\n```\n## Using Pagination with Site Filter\nUse the `filter[site_id]` parameter along with pagination parameters `page[number]` and `page[size]` to get paginated results for a specific site:\n\n### Get page 2 of contacts from site with ID 123, with 10 items per page\n* `GET /v1/contacts?filter[site_id]=123&page[number]=2&page[size]=10`\n\nResponse will include paginated contacts for the specified site along with pagination metadata\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"John Smith\",\n      \"email\": \"smith.john@example.com\",\n      \"created_at\": \"2024-01-15T10:30:00Z\",\n      \"updated_at\": \"2024-01-15T10:30:00Z\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }],\n  \"links\": {\n    \"self\": \"https://api.kajabi.com/v1/contacts?filter[site_id]=123&page[number]=2&page[size]=10\",\n    \"first\": \"https://api.kajabi.com/v1/contacts?filter[site_id]=123&page[number]=1&page[size]=10\",\n    \"prev\": \"https://api.kajabi.com/v1/contacts?filter[site_id]=123&page[number]=1&page[size]=10\",\n    \"next\": \"https://api.kajabi.com/v1/contacts?filter[site_id]=123&page[number]=3&page[size]=10\",\n    \"last\": \"https://api.kajabi.com/v1/contacts?filter[site_id]=123&page[number]=5&page[size]=10\"\n  },\n  \"meta\": {\n    \"total_pages\": 5,\n    \"total_count\": 50,\n    \"current_page\": 2\n  }\n}\n```\n## Using Sort with Site Filter\n* The default Sorting is by created_at in descending order (newest first)\n\nSorting by created_at in ascending order (oldest first)\n* `GET /v1/contacts?filter[site_id]=123&sort=created_at`\n\nUse the `sort` parameter along with `filter[site_id]` to get sorted results for a specific site:\n### Get contacts from site with ID 123, sorted by name in ascending order\n* `GET /v1/contacts?filter[site_id]=123&sort=name`\n### Get contacts from site with ID 123, sorted by email in descending order\n* `GET /v1/contacts?filter[site_id]=123&sort=-email`\n\nResponse will include sorted contacts for the specified site\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"Alice Smith\",\n      \"email\": \"alice@example.com\",\n      \"created_at\": \"2024-01-15T10:30:00Z\",\n      \"updated_at\": \"2024-01-15T10:30:00Z\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }]\n}\n```\n## Using Sparse Fields with Site Filter\nUse the `fields[contacts]` parameter along with `filter[site_id]` to get specific fields for contacts in a site:\n### Get only name and email fields for contacts from site with ID 123\n* `GET /v1/contacts?filter[site_id]=123&fields[contacts]=name,email`\n\nResponse will include only requested fields for contacts in the specified site\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"Alice Smith\",\n      \"email\": \"alice@example.com\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }]\n}\n```\n## Filtering by Site and Offer\nUse the `filter[site_id]` parameter along with `filter[has_offer_id]` to get contacts who have been granted a specific offer\n\n### Get contacts from site with ID 123 who have been granted offer with ID 789\n* `GET /v1/contacts?filter[site_id]=123&filter[has_offer_id]=789`\n\nResponse will include only contacts from the specified site who have been granted the offer\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"Alice Smith\",\n      \"email\": \"alice@example.com\",\n      \"created_at\": \"2024-01-15T10:30:00Z\",\n      \"updated_at\": \"2024-01-15T10:30:00Z\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }]\n}\n```\n\n## Filtering by Site and Tag\nUse the `filter[site_id]` parameter along with `filter[has_tag_id]` to get contacts who have a specific tag\n\n### Get contacts from site with ID 123 who have tag with ID 456\n* `GET /v1/contacts?filter[site_id]=123&filter[has_tag_id]=456`\n\nResponse will include only contacts from the specified site who have the tag\n```json\n{\n  \"data\": [{\n    \"id\": \"789\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"Bob Jones\",\n      \"email\": \"bob@example.com\",\n      \"created_at\": \"2024-01-15T10:30:00Z\",\n      \"updated_at\": \"2024-01-15T10:30:00Z\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }]\n}\n```\n## Using Multiple Parameters Together\nYou can combine multiple parameters to filter, search, paginate and format the response:\n\n### Get paginated contacts from site 123 with tag 456, searching for \"smith\", using indexed data and sparse fields\n* `GET /v1/contacts?filter[site_id]=123&filter[has_tag_id]=456&filter[search]=smith&=true&page[number]=1&page[size]=10&fields[contacts]=name,email`\n\nResponse will include paginated contacts matching all filters with only requested fields\n```json\n{\n  \"data\": [{\n    \"id\": \"789\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"John Smith\",\n      \"email\": \"smith.john@example.com\"\n    }\n  }],\n  \"links\": {\n    \"self\": \"https://api.kajabi.com/v1/contacts?filter[site_id]=123&filter[has_tag_id]=456&filter[search]=smith&=true&page[number]=1&page[size]=10&fields[contacts]=name,email\",\n    \"first\": \"https://api.kajabi.com/v1/contacts?filter[site_id]=123&filter[has_tag_id]=456&filter[search]=smith&=true&page[number]=1&page[size]=10&fields[contacts]=name,email\",\n    \"prev\": null,\n    \"next\": null,\n    \"last\": \"https://api.kajabi.com/v1/contacts?filter[site_id]=123&filter[has_tag_id]=456&filter[search]=smith&=true&page[number]=1&page[size]=10&fields[contacts]=name,email\"\n  },\n  \"meta\": {\n    \"total_pages\": 1,\n    \"total_count\": 1,\n    \"current_page\": 1\n  }\n}\n```\n"
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: name, email, created_at, for descending order use ''-'' e.g. &sort=-name'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: number
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: number
      - name: fields[contacts]
        in: query
        required: false
        description: 'Sparse fields, use: name, email for example ?fields[contacts]=name,email'
        schema:
          type: string
      - name: filter[site_id]
        in: query
        required: false
        description: It is recommended to always filter by site_id, for example ?filter[site_id]=111. This param is required when the account has multiple sites
        schema:
          type: string
      - name: filter[search]
        in: query
        required: false
        description: Filter with fuzzy search of name/email, for example ?filter[search]=alexa
        schema:
          type: string
      - name: filter[created_in_last]
        in: query
        required: false
        description: Filter contacts created in the last N days, e.g. ?filter[created_in_last]=30
        schema:
          type: string
      - name: filter[not_created_in_last]
        in: query
        required: false
        description: Filter contacts not created in the last N days
        schema:
          type: string
      - name: filter[is_hidden]
        in: query
        required: false
        description: Filter hidden contacts
        schema:
          type: string
      - name: filter[joined_in_last]
        in: query
        required: false
        description: Filter contacts who joined in the last N days
        schema:
          type: string
      - name: filter[active_in_last]
        in: query
        required: false
        description: Filter contacts active in the last N days
        schema:
          type: string
      - name: filter[inactive_in_last]
        in: query
        required: false
        description: Filter contacts inactive in the last N days
        schema:
          type: string
      - name: filter[name_contains]
        in: query
        required: false
        description: Filter contacts whose name contains the given value
        schema:
          type: string
      - name: filter[email_contains]
        in: query
        required: false
        description: Filter contacts whose email contains the given value
        schema:
          type: string
      - name: filter[phone_number_contains]
        in: query
        required: false
        description: Filter contacts whose phone number contains the given value
        schema:
          type: string
      - name: filter[address_line_1_contains]
        in: query
        required: false
        description: Filter contacts whose address line 1 contains the given value
        schema:
          type: string
      - name: filter[address_line_2_contains]
        in: query
        required: false
        description: Filter contacts whose address line 2 contains the given value
        schema:
          type: string
      - name: filter[address_city_contains]
        in: query
        required: false
        description: Filter contacts whose city contains the given value
        schema:
          type: string
      - name: filter[address_state_contains]
        in: query
        required: false
        description: Filter contacts whose state contains the given value
        schema:
          type: string
      - name: filter[address_country_contains]
        in: query
        required: false
        description: Filter contacts whose country contains the given value
        schema:
          type: string
      - name: filter[address_zip_contains]
        in: query
        required: false
        description: Filter contacts whose zip code contains the given value
        schema:
          type: string
      - name: filter[has_tag_id]
        in: query
        required: false
        description: Filter contacts with a specific tag ID
        schema:
          type: string
      - name: filter[has_all_tag_id]
        in: query
        required: false
        description: Filter contacts with all specified tag IDs
        schema:
          type: string
      - name: filter[has_no_tag_id]
        in: query
        required: false
        description: Filter contacts without the specified tag ID
        schema:
          type: string
      - name: filter[subscribed]
        in: query
        required: false
        description: Filter subscribed contacts
        schema:
          type: string
      - name: filter[has_offer_id]
        in: query
        required: false
        description: Filter contacts with a specific offer ID
        schema:
          type: string
      - name: filter[has_no_offer_id]
        in: query
        required: false
        description: Filter contacts without the specified offer ID
        schema:
          type: string
      - name: filter[has_product_id]
        in: query
        required: false
        description: Filter contacts who own a specific product ID
        schema:
          type: string
      - name: filter[has_active_product_id]
        in: query
        required: false
        description: Filter contacts with an active membership to a specific product ID
        schema:
          type: string
      - name: filter[has_no_product_id]
        in: query
        required: false
        description: Filter contacts who do not own a specific product ID
        schema:
          type: string
      - name: filter[previously_owned_product_id]
        in: query
        required: false
        description: Filter contacts who previously owned a specific product ID
        schema:
          type: string
      - name: filter[used_coupon_code]
        in: query
        required: false
        description: Filter contacts who used a specific coupon code
        schema:
          type: string
      - name: filter[submitted_form_id]
        in: query
        required: false
        description: Filter contacts who submitted a specific form ID
        schema:
          type: string
      - name: filter[no_submitted_form_id]
        in: query
        required: false
        description: Filter contacts who have not submitted the specified form ID
        schema:
          type: string
      - name: filter[registered_event_id]
        in: query
        required: false
        description: Filter contacts who registered for a specific event ID
        schema:
          type: string
      - name: filter[not_registered_event_id]
        in: query
        required: false
        description: Filter contacts who have not registered for the specified event ID
        schema:
          type: string
      - name: filter[completed_assessment_id]
        in: query
        required: false
        description: Filter contacts who completed a specific assessment ID
        schema:
          type: string
      - name: filter[passed_assessment_id]
        in: query
        required: false
        description: Filter contacts who passed a specific assessment ID
        schema:
          type: string
      - name: filter[failed_assessment_id]
        in: query
        required: false
        description: Filter contacts who failed a specific assessment ID
        schema:
          type: string
      - name: filter[net_revenue_equal_to]
        in: query
        required: false
        description: Filter contacts whose net revenue equals the given value
        schema:
          type: string
      - name: filter[net_revenue_greater_than]
        in: query
        required: false
        description: Filter contacts whose net revenue is greater than the given value
        schema:
          type: string
      - name: filter[net_revenue_less_than]
        in: query
        required: false
        description: Filter contacts whose net revenue is less than the given value
        schema:
          type: string
      - name: filter[subscribed_in_last]
        in: query
        required: false
        description: Filter contacts subscribed in the last N days
        schema:
          type: string
      - name: filter[unsubscribed_in_last]
        in: query
        required: false
        description: Filter contacts unsubscribed in the last N days
        schema:
          type: string
      - name: filter[never_subscribed]
        in: query
        required: false
        description: Filter contacts who have never subscribed
        schema:
          type: string
      - name: filter[sent_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who were sent a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_sent_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who were not sent the specified email broadcast ID
        schema:
          type: string
      - name: filter[no_sent_email_broadcast_ids]
        in: query
        required: false
        description: Filter contacts who were not sent any of the specified email broadcast IDs
        schema:
          type: string
      - name: filter[no_delivered_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who did not receive the specified email broadcast ID
        schema:
          type: string
      - name: filter[opened_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who opened a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_opened_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who did not open the specified email broadcast ID
        schema:
          type: string
      - name: filter[clicked_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who clicked a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_clicked_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who did not click the specified email broadcast ID
        schema:
          type: string
      - name: filter[bounced_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who bounced a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_bounced_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who did not bounce the specified email broadcast ID
        schema:
          type: string
      - name: filter[dropped_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who dropped a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_dropped_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who did not drop the specified email broadcast ID
        schema:
          type: string
      - name: filter[opened_email_in_last]
        in: query
        required: false
        description: Filter contacts who opened an email in the last N days
        schema:
          type: string
      - name: filter[not_opened_email_in_last]
        in: query
        required: false
        description: Filter contacts who did not open an email in the last N days
        schema:
          type: string
      - name: filter[delivered_email_in_last]
        in: query
        required: false
        description: Filter contacts who were delivered an email in the last N days
        schema:
          type: string
      - name: filter[not_delivered_email_in_last]
        in: query
        required: false
        description: Filter contacts who were not delivered an email in the last N days
        schema:
          type: string
      - name: filter[clicked_email_in_last]
        in: query
        required: false
        description: Filter contacts who clicked an email in the last N days
        schema:
          type: string
      - name: filter[not_clicked_email_in_last]
        in: query
        required: false
        description: Filter contacts who did not click an email in the last N days
        schema:
          type: string
      - name: filter[is_hard_bouncing]
        in: query
        required: false
        description: Filter contacts that are hard bouncing
        schema:
          type: string
      - name: filter[bounced_in_last]
        in: query
        required: false
        description: Filter contacts who bounced in the last N days
        schema:
          type: string
      - name: filter[complained_in_last]
        in: query
        required: false
        description: Filter contacts who complained in the last N days
        schema:
          type: string
      - name: filter[manually_unsubscribed_in_last]
        in: query
        required: false
        description: Filter contacts manually unsubscribed in the last N days
        schema:
          type: string
      - name: filter[opted_out_in_last]
        in: query
        required: false
        description: Filter contacts who opted out in the last N days
        schema:
          type: string
      - name: filter[healthy_contacts_with_open_data]
        in: query
        required: false
        description: Filter healthy contacts with open data
        schema:
          type: string
      - name: filter[passive_contacts_with_open_data]
        in: query
        required: false
        description: Filter passive contacts with open data
        schema:
          type: string
      - name: filter[unengaged_contacts_with_open_data]
        in: query
        required: false
        description: Filter unengaged contacts with open data
        schema:
          type: string
      - name: filter[inactive_contacts_with_open_data]
        in: query
        required: false
        description: Filter inactive contacts with open data
        schema:
          type: string
      - name: filter[subscribed_newsletter_id]
        in: query
        required: false
        description: Filter contacts subscribed to a specific newsletter ID
        schema:
          type: string
      - name: filter[unsubscribed_newsletter_id]
        in: query
        required: false
        description: Filter contacts unsubscribed from a specific newsletter ID
        schema:
          type: string
      - name: filter[mobile_phone_number_contains]
        in: query
        required: false
        description: Filter contacts whose mobile phone number contains the given value
        schema:
          type: string
      - name: filter[subscribed_email_sequence_id]
        in: query
        required: false
        description: Filter contacts subscribed to a specific email sequence ID
        schema:
          type: string
      - name: filter[not_subscribed_email_sequence_id]
        in: query
        required: false
        description: Filter contacts not subscribed to a specific email sequence ID
        schema:
          type: string
      responses:
        '200':
          description: Success, list search results
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
  /v1/contacts/{id}:
    get:
      summary: Contact details
      description: "Show details for a contact\n## Contact Attributes\n* `name` (string) - The name of the contact\n* `email` (string) - The email of the contact, must be a valid and deliverable email address\n* `address_line_1` (string) - The first line of the contact's address\n* `address_line_2` (string) - The second line of the contact's address\n* `address_city` (string) - The city of the contact's address\n* `address_country` (string) - The country of the contact's address\n* `address_state` (string) - The state of the contact's address\n* `address_zip` (string) - The zip code of the contact's address\n* `phone_number` (string) - The phone number of the contact\n* `business_number` (string) - The business phone number of the contact\n* `subscribed` (boolean) - Whether the contact has opted in to receive marketing communications from the site\n* `external_user_id` (string) - The external user ID of the contact/customer; this field is only updatable if the contact has been granted an offer or made a purchase\n* `created_at` (string) - The date and time the contact was created\n* `updated_at` (string) - The date and time the contact was last updated\n\n## Including Relationships\nUse the `include` parameter to include related resources in the response:\n* `GET /v1/contacts/123?include=offers,tags,customer`\n\nResponse will include the related contact offers, tags and customer resources\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"John Smith\",\n      \"email\": \"john@example.com\",\n      \"address_line_1\": null,\n      \"address_line_2\": null,\n      \"address_city\": null,\n      \"address_country\": null,\n      \"address_state\": null,\n      \"address_zip\": null,\n      \"phone_number\": null,\n      \"business_number\": null,\n      \"subscribed\": false,\n      \"external_user_id\": null,\n      \"created_at\": \"2024-01-15T10:30:00Z\",\n      \"updated_at\": \"2024-01-15T10:30:00Z\"\n    },\n    \"links\": {\n      \"customer\": \"https://api.kajabi.com/v1/customers/321\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      },\n      \"offers\": {\n        \"links\": {\n          \"data\": [\n            { \"id\": \"456\", \"type\": \"offers\" }\n          ],\n          \"self\": \"https://api.kajabi.com/v1/contacts/123/relationships/offers\"\n        }\n      },\n      \"tags\": {\n        \"data\": [\n          { \"id\": \"789\", \"type\": \"contact_tags\" }\n        ],\n        \"links\": {\n          \"self\": \"https://api.kajabi.com/v1/contacts/123/relationships/tags\"\n        }\n      },\n      \"customer\": {\n        \"data\": {\n          \"id\": \"321\",\n          \"type\": \"customers\"\n        }\n      }\n    }\n  },\n  \"included\": [\n    {\n      \"id\": \"456\",\n      \"type\": \"offers\",\n      \"attributes\": {\n        \"name\": \"Offer 1\",\n        \"description\": \"Offer 1 description\",\n        \"internal_title\": \"Offer 1\",\n        \"price_in_cents\": 0,\n        \"payment_type\": \"free\",\n        \"token\": \"offer_123\",\n        \"payment_method\": \"none\",\n        \"price_description\": \"Free\",\n        \"checkout_url\": \"https://mywebsite.com/offers/456\",\n        \"recurring_offer\": false,\n        \"subscription\": false,\n        \"one_time\": true,\n        \"single\": false,\n        \"free\": true\n      }\n    },\n    {\n      \"id\": \"789\",\n      \"type\": \"contact_tags\",\n      \"attributes\": {\n        \"name\": \"Tag Name\"\n      }\n    },\n    {\n      \"id\": \"321\",\n      \"type\": \"customers\",\n      \"attributes\": {\n        \"name\": \"John Smith\",\n        \"email\": \"john@example.com\",\n        \"avatar\": null,\n        \"external_user_id\": \"cust_123\",\n        \"public_bio\": null,\n        \"public_location\": null,\n        \"public_website\": null,\n        \"socials\": null,\n        \"net_revenue\": \"0.0\",\n        \"sign_in_count\": 0,\n        \"last_request_at\": null,\n        \"bounced_at\": null,\n        \"created_at\": \"2024-01-15T10:30:00Z\",\n        \"updated_at\": \"2024-01-15T10:30:00Z\"\n      }\n    }\n  ]\n}\n```\n## Sparse Fields\nUse the `fields[contacts]` parameter to get specific fields for a contact:\n* `GET /v1/contacts/123?fields[contacts]=name,email`\n\nResponse will include only requested fields for the contact\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"John Smith\",\n      \"email\": \"john@example.com\"\n    }\n  }\n}\n```\n## Using Multiple Parameters Together\nYou can combine multiple parameters to include related resources and get specific fields for a contact:\n* `GET /v1/contacts/123?include=customer&fields[contacts]=email&fields[customers]=net_revenue`\n\nResponse will include the related customer resource and only requested fields for the contact and customer\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"email\": \"sam@example.com\"\n    },\n    \"relationships\": {}\n  },\n  \"included\": [\n    {\n      \"id\": \"321\",\n      \"type\": \"customers\",\n      \"attributes\": {\n        \"net_revenue\": \"0.0\"\n      }\n    }\n  ]\n}\n```\n"
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: with ?include=offers,tags,customer the response will include the related contact offers, tags and customer resources
        schema:
          type: string
      - name: fields[contacts]
        in: query
        required: false
        description: 'Sparse fields, use: name, email for example ?fields[contacts]=name,email'
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details for specified contact and tags relationship
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
    patch:
      summary: Update contact
      description: "## Contact attributes\n* A contact with a related customer resource does support `external_user_id` attribute.\n* See custom_fields endpoint to discover attributes for using custom fields attributes.\n## Update a contact\nExample request body:\n```json\n{\n  \"data\": {\n    \"type\": \"contacts\",\n    \"id\": \"456\",\n    \"attributes\": {\n      \"phone_number\": \"12134567890\"\n    }\n  }\n}\n```\nResponse will include the update contact resource.\n```json\n{\n  \"data\": {\n    \"id\": \"456\",\n    \"type\": \"contacts\",\n    \"attributes\": {\n      \"name\": \"John Doe\",\n      \"email\": \"john.doe@example.com\",\n      \"address_line_1\": null,\n      \"address_line_2\": null,\n      \"address_city\": null,\n      \"address_country\": null,\n      \"address_state\": null,\n      \"address_zip\": null,\n      \"phone_number\": \"12134567890\",\n      \"business_number\": null,\n      \"subscribed\": false,\n      \"external_user_id\": null,\n      \"created_at\": \"2024-01-15T10:30:00Z\",\n      \"updated_at\": \"2024-01-15T10:30:00Z\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }\n}\n```\n"
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, contact updated
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '422':
          description: Unprocessable entity, attributes have semantic errors
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unprocessable'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                    attributes:
                      $ref: '#/components/schemas/contacts_attributes'
                  required:
                  - id
                  - type
                  - attributes
                relationships:
                  type: object
                  properties:
                    tags:
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/resource_identifier'
              required:
              - data
    delete:
      summary: Delete contact
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, destroys the contact
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/empty_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '422':
          description: Unprocessable entity, contact has active Kajabi Payments subscriptions
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unprocessable'
  /v1/contacts/{contact_id}/relationships/offers:
    get:
      summary: List contact's offers
      description: "Get the contact's relationship to offers (granted).\n\nResponse is a list of resource identifiers\n```json\n{\n  \"data\": [\n    { \"type\": \"offers\", \"id\": \"123\" },\n    { \"type\": \"offers\", \"id\": \"456\" }\n  ]\n}\n```\nThe related tag resources are available using the GET `api/v1/offers` endpoint.\nThe resource identifier includes the offer id and type.\nExample URLs: `/api/v1/offers/123`, `/api/v1/offers/456`\n"
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details for tags relationship
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
    post:
      summary: Grant offer to contact
      description: "## Grant offer(s) to a contact\nCreate an offer grant for a contact which results in creating a new customer record for your contact.\n\nIn the request body inlcude offer resource identifier(s), `id: OFFER_ID`, `type: \"offers\"`.\n\nTo skip sending a welcome email to the customer include a `meta` object in the request body.\n\n```\n{ \"data\": [{\"type\": \"offers\", \"id\": \"123\"}], \"meta\": {\"send_customer_welcome_email\": false}}\n```\n\nThe `meta` attribute `send_customer_welcome_email` as `false` will prevent sending the welcome email.\n\n(The default behavior is to send the welcome email.)\n\n## Response\n* A successful response body will list the offers related to the contact\n* An error response will include a JSON body with error details.\n\n## Behaviors and side effects\n* Checks if the contact was already granted the offer\n* Checks for existing customerby email\n  * If no existing customer, generates a new customer record with contact details\n* May send a welcome email to the customer\n* May send a gift granted email if this is a gift offer\n* Triggers automations if configured\n\n"
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, adds tag relationship to contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
                meta:
                  type: object
                  properties:
                    send_customer_welcome_email:
                      type: boolean
              required:
              - data
    delete:
      summary: Revoke offer from contact
      description: '## Revoke offer grant(s) for a contact

        Revoke offer grant(s) using a list of resource identifiers

        In the request body inlcude offer resource identifier(s), `id: OFFER_ID`, `type: "offers"`.

        ```

        { "data": [{"type": "offers", "id": "123"}] }

        ```

        ## Response

        * A successful response body will list the offers related to the contact

        * An error response will include a JSON body with error details.


        ## Behaviors and side effects

        * Only affects active offers

        * Handles both offer purchases and offer grants

        * Deactivates all associated product memberships

        '
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, removes tag relationship to contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
              required:
              - data
    patch:
      summary: Replace offers for contact
      description: '## Replace offer grant(s) for a contact

        Replace offer grants (grants and revokes offers to/from contact) using a list of resource identifiers

        In the request body inlcude offer resource identifier(s), `id: OFFER_ID`, `type: "offers"`.

        ```

        { "data": [{"type": "offers", "id": "456"}, {"type": "offers", "id": "789"}] }

        ```

        ## Response

        * A successful response body will list the offers related to the contact

        * An error response will include a JSON body with error details.

        '
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, replaces offers relationships of contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
              required:
              - data
  /v1/contacts/{contact_id}/relationships/tags:
    get:
      summary: List contact's tags
      description: "Get the contact's relationship to tags, response is a list of resource identifiers\n\nResponse is a list of resource identifiers\n```json\n{\n  \"data\": [\n    { \"type\": \"contact_tags\", \"id\": \"123\" },\n    { \"type\": \"contact_tags\", \"id\": \"456\" }\n  ]\n}\n```\nThe related tag resources are available using the GET `api/v1/contact_tags` endpoint.\nThe resource identifier includes the contact tag id and type.\nExample URLs: `/api/v1/contact_tags/123`, `/api/v1/contact_tags/456`\n"
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details for tags relationship
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
    post:
      summary: Add tag to contact
      description: 'Add tag relationships to contact resource using a list of resource identifiers


        Request body includes a list of resource identifiers, `id: CONTACT_TAG_ID`, `type: "contact_tags"`.

        ```json

        { "data": [{ "type": "contact_tags", "id": "456" }] }

        ```

        The response body will include the updated list of tag relationships.


        Example response body:

        ```json

        { "data": [{ "type": "contact_tags", "id": "123" }, { "type": "contact_tags", "id": "456" }] }

        ```

        '
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, adds tag relationship to contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
              required:
              - data
    delete:
      summary: Remove tag from contact
      description: 'Remove tag relationships to contact resource using a list of resource identifiers.


        Request body includes a list of resource identifiers, `id: CONTACT_TAG_ID`, `type: "contact_tags"`.

        ```json

        { "data": [{ "type": "contact_tags", "id": "456" }] }

        ```

        The response body will include the updated list of tag relationships.


        Example response body:

        ```json

        { "data": [{ "type": "contact_tags", "id": "123" }] }

        ```

        '
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, removes tag relationship to contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
              required:
              - data
    patch:
      summary: Replace tags for contact
      description: 'Replace tag relationships to contact resource using a list of resource identifiers.


        Request body includes a list of resource identifiers, `id: CONTACT_TAG_ID`, `type: "contact_tags"`.

        ```json

        { "data": [{ "type": "contact_tags", "id": "123" }, { "type": "contact_tags", "id": "456" }] }

        ```


        The response body will include the updated list of tag relationships.

        ```json

        { "data": [{ "type": "contact_tags", "id": "123" }, { "type": "contact_tags", "id": "456" }] }

        ```

        '
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, replaces tag relationships of contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
              required:
              - data
components:
  schemas:
    contacts_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/contacts_attributes'
            relationships:
              type: object
              properties:
                customer:
                  type: object
                  nullable: true
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                offers:
                  type: object
                  nullable: true
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifiers'
                    links:
                      type: object
                      properties:
                        self:
                          type: string
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                tags:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifiers'
            links:
              type: object
              properties:
                customer:
                  type: string
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
    errors_unprocessable:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type: object
          nullable: true
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    contacts_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/contacts_attributes'
              relationships:
                type: object
                properties:
                  customer:
                    type: object
                    nullable: true
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
                  offers:
                    type: object
                    nullable: true
                    properties:
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
                  tags:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifiers'
              links:
                type: object
                properties:
                  customer:
                    type: string
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    empty_response:
      type: object
      properties:
        data:
          type: object
          properties: {}
    contacts_attributes:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        phone_number:
          type:
          - string
          - 'null'
        business_number:
          type:
          - string
          - 'null'
        subscribed:
          type: boolean
        address_line_1:
          type:
          - string
          - 'null'
        address_line_2:
          type:
          - string
          - 'null'
        address_city:
          type:
          - string
          - 'null'
        address_state:
          type:
          - string
          - 'null'
        address_country:
          type:
          - string
          - 'null'
        external_user_id:
          type: string
          nullable: true
          description: Supported once contact is granted an offer or makes a purchase
        address_zip:
          type:
          - string
          - 'null'
        custom_1:
          type: string
          nullable: true
          description: Support depends on custom fields of a site
        custom_2:
          type: string
          nullable: true
          description: Support depends on custom fields of a site
        custom_3:
          type: string
          nullable: true
          description: Support depends on custom fields of a site
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    contacts_relationships_tags_response:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/resource_identifiers'
        links:
          type: object
          properties:
            self:
              type: string
    resource_identifiers:
      type: array
      items:
        $ref: '#/components/schemas/resource_identifier'
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_bad_request:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
