openapi: 3.2.0
info:
  title: Kajabi API V1 Custom Fields API
  version: 1.1.0
  description: '## Public API

    * Server URL `https://api.kajabi.com`

    * Endpoint paths are prefixed with `/v1`

    * Version endpoint `GET https://api.kajabi.com/v1/version`

    * See the Developers Site for documentation and examples.'
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Custom Fields
paths:
  /v1/custom_fields:
    get:
      summary: List custom fields
      description: '## Custom Field attributes

        The ''handle'' attribute may be used as a key for a contact resource, e.g.'
      tags:
      - Custom Fields
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: title, handle, type, required for descending order use ''-'' e.g. &sort=-title'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: number
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: number
      - name: fields[custom_fields]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[custom_fields]=handle,title,required
        schema:
          type: string
      - name: filter[site_id]
        in: query
        required: false
        description: Filter by site_id, for example ?filter[site_id]=111
        schema:
          type: string
      - name: filter[title_cont]
        in: query
        required: false
        description: Filter by title contains, for example ?filter[title_cont]=favorite
        schema:
          type: string
      - name: filter[type_eq]
        in: query
        required: false
        description: Filter by field type equals, for example ?filter[type_eq]=TextField
        schema:
          type: string
      - name: filter[required_eq]
        in: query
        required: false
        description: Filter by required field equals, for example ?filter[required_eq]=true
        schema:
          type: string
      responses:
        '200':
          description: Success, list of custom fields which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/custom_fields_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1CustomFields
      x-operation-id-source: derived
  /v1/custom_fields/{id}:
    get:
      summary: Custom field details
      description: '## Custom Field attributes

        * `handle` (string) - The key for a `contact` resource, e.g. `custom_1`, `custom_2`, `custom_3`

        * `title` (string) - The title of the custom field

        * `type` (string) - The type of the custom field

        * `required` (boolean) - Whether the custom field is required

        * `archived` (boolean) - Whether the custom field is archived

        ## Sparse Fields

        Use the `fields[custom_fields]` parameter to include only specific attributes:

        ### Include only handle and title fields

        * `GET /v1/custom_fields/123?fields[custom_fields]=handle,title`


        Response will include only the specified fields

        ```json

        {

        "data": {

        "id": "123",

        "type": "custom_fields",

        "attributes": {

        "handle": "custom_1",

        "title": "Favorite Song"

        }

        }

        }

        ```'
      tags:
      - Custom Fields
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: fields[custom_fields]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[custom_fields]=title,handle
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of a custom field
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/custom_fields_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1CustomFieldsById
      x-operation-id-source: derived
components:
  schemas:
    custom_fields_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/custom_fields_attributes'
              relationships:
                type: object
                properties:
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type:
          - object
          - 'null'
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    custom_fields_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/custom_fields_attributes'
            relationships:
              type: object
              properties:
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
    custom_fields_attributes:
      type: object
      properties:
        title:
          type: string
        handle:
          type: string
        type:
          type: string
        required:
          type: boolean
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
