openapi: 3.2.0
info:
  title: Kajabi API V1 Me API
  version: 1.1.0
  description: '## Public API

    * Server URL `https://api.kajabi.com`

    * Endpoint paths are prefixed with `/v1`

    * Version endpoint `GET https://api.kajabi.com/v1/version`

    * See the Developers Site for documentation and examples.'
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Me
paths:
  /v1/me:
    get:
      summary: My user profile
      description: 'Returns the current user''s profile data.

        ## Response attributes

        The response will include the following attributes:

        * `initials` - A derived attribute that represents the user''s initials based on their name. This is typically used for avatar placeholders or compact user displays. For example, "John Doe" would have initials "JD".

        * `name` - The user''s full name. This is a required field that can be:

        * Set directly as a full name

        * Automatically generated from first name and last name fields when either changes

        * Used for display purposes throughout the platform

        * `email` - The user''s email address. This is a critical field that:

        * Is required and must be unique

        * Is used for authentication

        * Can trigger email change notifications

        * Is used for password recovery

        * Can be marked as bounced (and reset when email changes)

        * Is validated against email format requirements

        * `role_level` - Represents the user''s permission level in the system. This attribute:

        * Common values include:

        * OWNER - Account owner with full permissions

        * ADMINISTRATOR - Admin with site management permissions

        * Determines what actions and resources the user can access

        * Is used for permission checks throughout the system'
      tags:
      - Me
      security:
      - Bearer: []
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/me_response'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1Me
      x-operation-id-source: derived
components:
  schemas:
    me_attributes:
      type: object
      properties:
        initials:
          type: string
        name:
          type: string
        email:
          type: string
        role_level:
          type: string
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type:
          - object
          - 'null'
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    me_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/me_attributes'
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
