openapi: 3.2.0
info:
  title: Kajabi API V1 Contact Tags API
  version: 1.1.0
  description: '## Public API

    * Server URL `https://api.kajabi.com`

    * Endpoint paths are prefixed with `/v1`

    * Version endpoint `GET https://api.kajabi.com/v1/version`

    * See the Developers Site for documentation and examples.'
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Contact Tags
paths:
  /v1/contact_tags:
    get:
      summary: List contact tags
      description: 'Tags (not archived) for a site


        ## Contact Tag Attributes

        * `name` (string) - The name of the contact tag


        ## Pagination

        Use the `page[number]` and `page[size]` query parameters to paginate results:

        ### Get first page of 10 items

        * `GET /v1/contact_tags?page[number]=1&page[size]=10`

        ### Get second page of 25 items

        * `GET /v1/contact_tags?page[number]=2&page[size]=25`


        The response includes pagination links and meta data:

        ```json

        {

        "links": {

        "self": "https://api.kajabi.com/v1/contact_tags?page[number]=2&page[size]=10",

        "first": "https://api.kajabi.com/v1/contact_tags?page[number]=1&page[size]=10",

        "prev": "https://api.kajabi.com/v1/contact_tags?page[number]=1&page[size]=10",

        "next": "https://api.kajabi.com/v1/contact_tags?page[number]=3&page[size]=10",

        "last": "https://api.kajabi.com/v1/contact_tags?page[number]=5&page[size]=10"

        },

        "meta": {

        "total_pages": 5,

        "total_count": 50,

        "current_page": 2

        }

        }

        ```

        ## Filter by Site ID

        Use the `filter[site_id]` parameter to get contact tags for a specific site:

        ### Get contact tags for site with ID 123

        * `GET /v1/contact_tags?filter[site_id]=123`


        Response will only include contact tags for that site

        ```json

        {

        "data": [{

        "id": "456",

        "type": "contact_tags",

        "attributes": {

        "name": "Source"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "123",

        "type": "sites"

        }

        }

        }

        }]

        }

        ```

        ## Filter by Name Contains

        Use the `filter[name_cont]` parameter to find contact tags where the name contains specific text:

        ### Get contact tags with names containing "vip"

        * `GET /v1/contact_tags?filter[name_cont]=vip`


        Response will include contact tags with matching names

        ```json

        {

        "data": [{

        "id": "456",

        "type": "contact_tags",

        "attributes": {

        "name": "VIP Customer"

        }

        }]

        }

        ```

        ## Using Multiple Parameters Together

        You can combine pagination, sorting, sparse fields and filtering in a single request:

        ### Get page 2 of contact tags for site 123, sorted by name descending

        * `GET /v1/contact_tags?page[number]=2&page[size]=10&sort=-name&filter[site_id]=123`


        Response will include only requested fields, sorted and paginated

        ```json

        {

        "data": [{

        "id": "456",

        "type": "contact_tags",

        "attributes": {

        "name": "Webinar Attendee"

        }

        }, {

        "id": "789",

        "type": "contact_tags",

        "attributes": {

        "name": "VIP Customer"

        }

        }],

        "links": {

        "self": "https://api.kajabi.com/v1/contact_tags?page[number]=2&page[size]=10&sort=-name&fields[contact_tags]=name,handle&filter[site_id]=123",

        "first": "https://api.kajabi.com/v1/contact_tags?page[number]=1&page[size]=10&sort=-name&fields[contact_tags]=name,handle&filter[site_id]=123",

        "prev": "https://api.kajabi.com/v1/contact_tags?page[number]=1&page[size]=10&sort=-name&fields[contact_tags]=name,handle&filter[site_id]=123",

        "next": "https://api.kajabi.com/v1/contact_tags?page[number]=3&page[size]=10&sort=-name&fields[contact_tags]=name,handle&filter[site_id]=123",

        "last": "https://api.kajabi.com/v1/contact_tags?page[number]=5&page[size]=10&sort=-name&fields[contact_tags]=name,handle&filter[site_id]=123"

        },

        "meta": {

        "total_pages": 5,

        "total_count": 50,

        "current_page": 2

        }

        }

        ```'
      tags:
      - Contact Tags
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: name, email, for descending order use ''-'' e.g. &sort=-name'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: number
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: number
      - name: fields[contact_tags]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[contact_tags]=name
        schema:
          type: string
      - name: filter[site_id]
        in: query
        required: false
        description: Filter by site_id, for example ?filter[site_id]=111
        schema:
          type: string
      - name: filter[name_cont]
        in: query
        required: false
        description: Filter by name contains, for example ?filter[name_cont]=vip
        schema:
          type: string
      responses:
        '200':
          description: Success, list of contact tags which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contact_tags_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1ContactTags
      x-operation-id-source: derived
  /v1/contact_tags/{id}:
    get:
      summary: Contact tag details
      description: '## Contact Tag Attributes

        * `name` (string) - The name of the contact tag


        ## Contact Tag Relationships

        The contact tag belongs to a site'
      tags:
      - Contact Tags
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of a contact tag
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contact_tags_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1ContactTagsById
      x-operation-id-source: derived
components:
  schemas:
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type:
          - object
          - 'null'
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    contact_tags_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/contact_tags_attributes'
              relationships:
                type: object
                properties:
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    contact_tags_attributes:
      type: object
      properties:
        name:
          type: string
      required:
      - name
    contact_tags_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/contact_tags_attributes'
            relationships:
              type: object
              properties:
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
