openapi: 3.2.0
info:
  title: Kajabi API V1 Kajabi Payments Payouts API
  version: 1.1.0
  description: '## Public API

    * Server URL `https://api.kajabi.com`

    * Endpoint paths are prefixed with `/v1`

    * Version endpoint `GET https://api.kajabi.com/v1/version`

    * See the Developers Site for documentation and examples.'
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Kajabi Payments Payouts
paths:
  /v1/kajabi_payments_payouts:
    get:
      summary: List payouts
      description: 'List of Kajabi Payments payouts for a site. Payouts represent transfers of funds from Kajabi to the site owner''s connected bank account or payment method.


        **Note**: Date fields are returned in UTC:

        * `initiated_date` - Payout creation timestamp in UTC

        * `estimated_arrival_date` - Expected arrival timestamp in UTC


        ## Pagination

        Use `page[number]` parameter to paginate results:

        ### Get first page

        * `GET /v1/kajabi_payments_payouts?page[number]=1&filter[site_id]=123`

        ### Get second page

        * `GET /v1/kajabi_payments_payouts?page[number]=2&filter[site_id]=123`


        The response includes pagination links and meta data:

        ```json

        {

        "links": {

        "self": "https://api.kajabi.com/v1/kajabi_payments_payouts?page[number]=2&filter[site_id]=123",

        "first": "https://api.kajabi.com/v1/kajabi_payments_payouts?page[number]=1&filter[site_id]=123",

        "prev": "https://api.kajabi.com/v1/kajabi_payments_payouts?page[number]=1&filter[site_id]=123",

        "next": "https://api.kajabi.com/v1/kajabi_payments_payouts?page[number]=3&filter[site_id]=123",

        "last": "https://api.kajabi.com/v1/kajabi_payments_payouts?page[number]=5&filter[site_id]=123"

        },

        "meta": {

        "total": 50,

        "pagination": {

        "current": 2,

        "first": 1,

        "prev": 1,

        "next": 3,

        "last": 5,

        "records": 10,

        }

        }

        }

        ```


        ## Filtering by Site

        Use the `filter[site_id]` parameter to filter payouts by site (required):

        ### Get payouts for site with ID 123

        * `GET /v1/kajabi_payments_payouts?filter[site_id]=123`


        ## Filtering by Status

        Use the `filter[status]` parameter to filter payouts by status:

        ### Get paid payouts for site with ID 123

        * `GET /v1/kajabi_payments_payouts?filter[site_id]=123&filter[status]=paid`


        Valid status values:

        * `pending` - The payout has been created but hasn''t been submitted to the bank yet

        * `in_transit` - The payout has been submitted to the bank and is being processed

        * `paid` - The payout succeeded and the money has successfully reached your bank account

        * `failed` - Something went wrong and the payout couldn''t be transferred to your account

        * `canceled` - The payout was canceled before it could complete


        ## Date Range Filtering

        Use the `filter[start_date]` and `filter[end_date]` parameters to filter payouts by date range:

        ### Get payouts between January 1st and January 31st, 2024

        * `GET /v1/kajabi_payments_payouts?filter[site_id]=123&filter[start_date]=2024-01-01&filter[end_date]=2024-01-31`


        Response will include only payouts within the specified date range.


        ## Using Multiple Parameters Together

        You can combine multiple parameters to filter the response:

        ### Get paginated, filtered payouts

        * `GET /v1/kajabi_payments_payouts?page[number]=1&filter[site_id]=123&filter[status]=paid&filter[start_date]=2024-01-01&filter[end_date]=2024-01-31`


        Response will include paginated payouts matching all filters:

        ```json

        {

        "data": [{

        "id": "payout_abc123",

        "type": "kajabi_payments_payouts",

        "attributes": {

        "status": "Paid",

        "amount": 1500.00,

        "currency": "USD",

        "initiated_date": "2024-01-10T10:00:00.000Z",

        "estimated_arrival_date": "2024-01-17T10:00:00.000Z",

        "bank_account": "Chase Bank - 1234"

        }

        }]

        }

        ```'
      tags:
      - Kajabi Payments Payouts
      security:
      - Bearer: []
      parameters:
      - name: page[number]
        in: query
        required: false
        description: Page number for pagination, for example ?page[number]=2
        schema:
          type: number
      - name: filter[site_id]
        in: query
        required: true
        description: Site ID to fetch payouts for (required), for example ?filter[site_id]=123
        schema:
          type: string
      - name: filter[status]
        in: query
        required: false
        description: Filter by payout status (pending, paid, failed, canceled), for example ?filter[status]=paid
        schema:
          type: string
      - name: filter[start_date]
        in: query
        required: false
        description: Filter payouts after this date (ISO 8601), for example ?filter[start_date]=2024-01-01
        schema:
          type: string
      - name: filter[end_date]
        in: query
        required: false
        description: Filter payouts before this date (ISO 8601), for example ?filter[end_date]=2024-12-31
        schema:
          type: string
      responses:
        '200':
          description: Success, returns empty list when no payouts exist
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1KajabiPaymentsPayouts
      x-operation-id-source: derived
  /v1/kajabi_payments_payouts/{id}:
    get:
      summary: Get payout details
      description: 'Get detailed information about a specific Kajabi Payments payout, including all associated transactions.


        **Note**: Date fields are returned in UTC:

        * `initiated_date` - Payout creation timestamp in UTC

        * `estimated_arrival_date` - Expected arrival timestamp in UTC

        * `transactions[].created_at` - Transaction timestamp in UTC


        ## Transaction Fields

        Each transaction in the `transactions` array includes:

        * **Transaction Type** - Whether or not this transaction was a sale, refund, or adjustment

        * **Pricing Type** - When this is a sale this is the offer''s pricing type, i.e. one-time, subscription, or payment plan

        * **Sales Tax** - The sales tax collected for this transaction

        * **Amount** - The transaction amount

        * **Currency** - Three-letter currency code (USD, EUR, GBP, etc.)

        * **Fee** - The transaction processing fee

        * **Net** - The transaction net amount (amount - fee)

        * **Customer ID** - Customer ID associated with the transaction

        * **Customer Name** - Customer''s full name

        * **Customer Email** - Customer''s email address

        * **Offer ID** - When a sale or refund, the ID(s) of the purchased offer

        * **Offer Title** - When a sale or refund, the title(s) of the purchased offer

        * **Provider** - The payment processor (Kajabi Payments, Stripe, PayPal, etc.)

        * **Payment Method** - For a sale or refund, the payment method that was used (Credit Card, etc.)

        * **Created At** - When the transaction occurred (in UTC)

        * **Coupon Used** - For a sale or refund, the coupon code if one was applied

        * **Presented Amount** - The transaction original transaction amount (before currency conversion)

        * **Presented Currency** - The transaction original currency code

        * **Exchange Rate** - The currency exchange rate applied

        * **Quantity** - The quantity of the offer that was purchased

        * **Order Number** - For a sale or refund, the order number when an order was purchased


        ## Transaction Types

        * `Sale` - All payments and that were received as part of this payout

        * `Refund` - Any refunds that occurred as part of this payout

        * `Adjustment` - All other adjustments that occurred as a part of this payout


        ## Example Response

        ```json

        {

        "data": {

        "id": "payout_abc123",

        "type": "kajabi_payments_payouts",

        "attributes": {

        "status": "Paid",

        "amount": 1450.50,

        "currency": "USD",

        "initiated_date": "2024-01-10T10:00:00.000Z",

        "estimated_arrival_date": "2024-01-17T10:00:00.000Z",

        "bank_account": "Chase Bank - 1234",

        "transactions": [

        {

        "transaction_type": "Sales",

        "pricing_type": "Subscription",

        "sales_tax": 0.0,

        "amount": 99.00,

        "currency": "USD",

        "fee": 3.17,

        "net": 95.83,

        "customer_id": 789,

        "customer_name": "John Doe",

        "customer_email": "john@example.com",

        "offer_ids": [

        101

        ],

        "offer_titles": [

        "Premium Membership"

        ],

        "provider": "Kajabi Payments",

        "payment_method": "Visa",

        "created_at": "2024-01-08T14:30:00.000Z",

        "coupon_used": "SAVE20",

        "presented_amount": 99.00,

        "presented_currency": "USD",

        "exchange_rate": 1.0,

        "quantity": 1,

        "order_number": "ORD-12345"

        }

        ]

        }

        }

        }

        ```'
      tags:
      - Kajabi Payments Payouts
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        description: Payout ID, for example payout_abc123
        schema:
          type: string
      - name: filter[site_id]
        in: query
        required: true
        description: Site ID to authorize access (required), for example ?filter[site_id]=123
        schema:
          type: string
      responses:
        '200':
          description: Success, returns payout details with all transactions
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not Found, payout does not exist or user doesn't have access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_not_found'
      operationId: getV1KajabiPaymentsPayoutsById
      x-operation-id-source: derived
components:
  schemas:
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type:
          - object
          - 'null'
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_not_found:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
