openapi: 3.2.0
info:
  title: Kajabi API V1 Contacts API
  version: 1.1.0
  description: '## Public API

    * Server URL `https://api.kajabi.com`

    * Endpoint paths are prefixed with `/v1`

    * Version endpoint `GET https://api.kajabi.com/v1/version`

    * See the Developers Site for documentation and examples.'
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Contacts
paths:
  /v1/contacts:
    post:
      summary: Create a contact
      description: 'Create a contact for a site.

        ## Contact attributes

        * New contact does not support `external_user_id` attribute.

        * See custom_fields endpoint to discover attributes for using custom fields attributes.


        ## Create a contact

        Request body must include a `site` relationship.

        Example request body:

        ```json

        {

        "data": {

        "type": "contacts",

        "attributes": {

        "name": "John Doe",

        "email": "john.doe@example.com"

        },

        "relationships": {

        "site": {

        "data": {

        "type": "sites",

        "id": "123"

        }

        }

        }

        }

        }

        ```

        Response will include the newly created contact resource.

        ```json

        {

        "data": {

        "id": "456",

        "type": "contacts",

        "attributes": {

        "name": "John Doe",

        "email": "john.doe@example.com",

        "address_line_1": null,

        "address_line_2": null,

        "address_city": null,

        "address_country": null,

        "address_state": null,

        "address_zip": null,

        "phone_number": null,

        "business_number": null,

        "subscribed": false,

        "external_user_id": null,

        "created_at": "2024-01-15T10:30:00Z",

        "updated_at": "2024-01-15T10:30:00Z"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "123",

        "type": "sites"

        }

        }

        }

        }

        }

        ```'
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters: []
      responses:
        '201':
          description: Success, new contact created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '400':
          description: Bad request, Site relationship is required
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '422':
          description: Unprocessable entity, attributes have semantic errors
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unprocessable'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      $ref: '#/components/schemas/contacts_attributes'
                    relationships:
                      type: object
                      properties:
                        site:
                          type: object
                          properties:
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                              required:
                              - id
                              - type
                  required:
                  - type
                  - attributes
                  - relationships
              required:
              - data
      operationId: postV1Contacts
      x-operation-id-source: derived
    get:
      summary: List contacts
      description: List of contacts, we recommended filtering by site.
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: name, email, created_at, for descending order use ''-'' e.g. &sort=-name'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: number
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: number
      - name: fields[contacts]
        in: query
        required: false
        description: 'Sparse fields, use: name, email for example ?fields[contacts]=name,email'
        schema:
          type: string
      - name: filter[site_id]
        in: query
        required: false
        description: It is recommended to always filter by site_id, for example ?filter[site_id]=111. This param is required when the account has multiple sites
        schema:
          type: string
      - name: filter[search]
        in: query
        required: false
        description: Filter with fuzzy search of name/email, for example ?filter[search]=alexa
        schema:
          type: string
      - name: filter[created_in_last]
        in: query
        required: false
        description: Filter contacts created in the last N days, e.g. ?filter[created_in_last]=30
        schema:
          type: string
      - name: filter[not_created_in_last]
        in: query
        required: false
        description: Filter contacts not created in the last N days
        schema:
          type: string
      - name: filter[is_hidden]
        in: query
        required: false
        description: Filter hidden contacts
        schema:
          type: string
      - name: filter[joined_in_last]
        in: query
        required: false
        description: Filter contacts who joined in the last N days
        schema:
          type: string
      - name: filter[active_in_last]
        in: query
        required: false
        description: Filter contacts active in the last N days
        schema:
          type: string
      - name: filter[inactive_in_last]
        in: query
        required: false
        description: Filter contacts inactive in the last N days
        schema:
          type: string
      - name: filter[name_contains]
        in: query
        required: false
        description: Filter contacts whose name contains the given value
        schema:
          type: string
      - name: filter[email_contains]
        in: query
        required: false
        description: Filter contacts whose email contains the given value
        schema:
          type: string
      - name: filter[phone_number_contains]
        in: query
        required: false
        description: Filter contacts whose phone number contains the given value
        schema:
          type: string
      - name: filter[address_line_1_contains]
        in: query
        required: false
        description: Filter contacts whose address line 1 contains the given value
        schema:
          type: string
      - name: filter[address_line_2_contains]
        in: query
        required: false
        description: Filter contacts whose address line 2 contains the given value
        schema:
          type: string
      - name: filter[address_city_contains]
        in: query
        required: false
        description: Filter contacts whose city contains the given value
        schema:
          type: string
      - name: filter[address_state_contains]
        in: query
        required: false
        description: Filter contacts whose state contains the given value
        schema:
          type: string
      - name: filter[address_country_contains]
        in: query
        required: false
        description: Filter contacts whose country contains the given value
        schema:
          type: string
      - name: filter[address_zip_contains]
        in: query
        required: false
        description: Filter contacts whose zip code contains the given value
        schema:
          type: string
      - name: filter[has_tag_id]
        in: query
        required: false
        description: Filter contacts with a specific tag ID
        schema:
          type: string
      - name: filter[has_all_tag_id]
        in: query
        required: false
        description: Filter contacts with all specified tag IDs
        schema:
          type: string
      - name: filter[has_no_tag_id]
        in: query
        required: false
        description: Filter contacts without the specified tag ID
        schema:
          type: string
      - name: filter[subscribed]
        in: query
        required: false
        description: Filter subscribed contacts
        schema:
          type: string
      - name: filter[has_offer_id]
        in: query
        required: false
        description: Filter contacts with a specific offer ID
        schema:
          type: string
      - name: filter[has_no_offer_id]
        in: query
        required: false
        description: Filter contacts without the specified offer ID
        schema:
          type: string
      - name: filter[has_product_id]
        in: query
        required: false
        description: Filter contacts who own a specific product ID
        schema:
          type: string
      - name: filter[has_active_product_id]
        in: query
        required: false
        description: Filter contacts with an active membership to a specific product ID
        schema:
          type: string
      - name: filter[has_no_product_id]
        in: query
        required: false
        description: Filter contacts who do not own a specific product ID
        schema:
          type: string
      - name: filter[previously_owned_product_id]
        in: query
        required: false
        description: Filter contacts who previously owned a specific product ID
        schema:
          type: string
      - name: filter[used_coupon_code]
        in: query
        required: false
        description: Filter contacts who used a specific coupon code
        schema:
          type: string
      - name: filter[submitted_form_id]
        in: query
        required: false
        description: Filter contacts who submitted a specific form ID
        schema:
          type: string
      - name: filter[no_submitted_form_id]
        in: query
        required: false
        description: Filter contacts who have not submitted the specified form ID
        schema:
          type: string
      - name: filter[registered_event_id]
        in: query
        required: false
        description: Filter contacts who registered for a specific event ID
        schema:
          type: string
      - name: filter[not_registered_event_id]
        in: query
        required: false
        description: Filter contacts who have not registered for the specified event ID
        schema:
          type: string
      - name: filter[completed_assessment_id]
        in: query
        required: false
        description: Filter contacts who completed a specific assessment ID
        schema:
          type: string
      - name: filter[passed_assessment_id]
        in: query
        required: false
        description: Filter contacts who passed a specific assessment ID
        schema:
          type: string
      - name: filter[failed_assessment_id]
        in: query
        required: false
        description: Filter contacts who failed a specific assessment ID
        schema:
          type: string
      - name: filter[net_revenue_equal_to]
        in: query
        required: false
        description: Filter contacts whose net revenue equals the given value
        schema:
          type: string
      - name: filter[net_revenue_greater_than]
        in: query
        required: false
        description: Filter contacts whose net revenue is greater than the given value
        schema:
          type: string
      - name: filter[net_revenue_less_than]
        in: query
        required: false
        description: Filter contacts whose net revenue is less than the given value
        schema:
          type: string
      - name: filter[subscribed_in_last]
        in: query
        required: false
        description: Filter contacts subscribed in the last N days
        schema:
          type: string
      - name: filter[unsubscribed_in_last]
        in: query
        required: false
        description: Filter contacts unsubscribed in the last N days
        schema:
          type: string
      - name: filter[never_subscribed]
        in: query
        required: false
        description: Filter contacts who have never subscribed
        schema:
          type: string
      - name: filter[sent_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who were sent a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_sent_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who were not sent the specified email broadcast ID
        schema:
          type: string
      - name: filter[no_sent_email_broadcast_ids]
        in: query
        required: false
        description: Filter contacts who were not sent any of the specified email broadcast IDs
        schema:
          type: string
      - name: filter[no_delivered_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who did not receive the specified email broadcast ID
        schema:
          type: string
      - name: filter[opened_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who opened a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_opened_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who did not open the specified email broadcast ID
        schema:
          type: string
      - name: filter[clicked_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who clicked a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_clicked_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who did not click the specified email broadcast ID
        schema:
          type: string
      - name: filter[bounced_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who bounced a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_bounced_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who did not bounce the specified email broadcast ID
        schema:
          type: string
      - name: filter[dropped_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who dropped a specific email broadcast ID
        schema:
          type: string
      - name: filter[no_dropped_email_broadcast_id]
        in: query
        required: false
        description: Filter contacts who did not drop the specified email broadcast ID
        schema:
          type: string
      - name: filter[opened_email_in_last]
        in: query
        required: false
        description: Filter contacts who opened an email in the last N days
        schema:
          type: string
      - name: filter[not_opened_email_in_last]
        in: query
        required: false
        description: Filter contacts who did not open an email in the last N days
        schema:
          type: string
      - name: filter[delivered_email_in_last]
        in: query
        required: false
        description: Filter contacts who were delivered an email in the last N days
        schema:
          type: string
      - name: filter[not_delivered_email_in_last]
        in: query
        required: false
        description: Filter contacts who were not delivered an email in the last N days
        schema:
          type: string
      - name: filter[clicked_email_in_last]
        in: query
        required: false
        description: Filter contacts who clicked an email in the last N days
        schema:
          type: string
      - name: filter[not_clicked_email_in_last]
        in: query
        required: false
        description: Filter contacts who did not click an email in the last N days
        schema:
          type: string
      - name: filter[is_hard_bouncing]
        in: query
        required: false
        description: Filter contacts that are hard bouncing
        schema:
          type: string
      - name: filter[bounced_in_last]
        in: query
        required: false
        description: Filter contacts who bounced in the last N days
        schema:
          type: string
      - name: filter[complained_in_last]
        in: query
        required: false
        description: Filter contacts who complained in the last N days
        schema:
          type: string
      - name: filter[manually_unsubscribed_in_last]
        in: query
        required: false
        description: Filter contacts manually unsubscribed in the last N days
        schema:
          type: string
      - name: filter[opted_out_in_last]
        in: query
        required: false
        description: Filter contacts who opted out in the last N days
        schema:
          type: string
      - name: filter[healthy_contacts_with_open_data]
        in: query
        required: false
        description: Filter healthy contacts with open data
        schema:
          type: string
      - name: filter[passive_contacts_with_open_data]
        in: query
        required: false
        description: Filter passive contacts with open data
        schema:
          type: string
      - name: filter[unengaged_contacts_with_open_data]
        in: query
        required: false
        description: Filter unengaged contacts with open data
        schema:
          type: string
      - name: filter[inactive_contacts_with_open_data]
        in: query
        required: false
        description: Filter inactive contacts with open data
        schema:
          type: string
      - name: filter[subscribed_newsletter_id]
        in: query
        required: false
        description: Filter contacts subscribed to a specific newsletter ID
        schema:
          type: string
      - name: filter[unsubscribed_newsletter_id]
        in: query
        required: false
        description: Filter contacts unsubscribed from a specific newsletter ID
        schema:
          type: string
      - name: filter[mobile_phone_number_contains]
        in: query
        required: false
        description: Filter contacts whose mobile phone number contains the given value
        schema:
          type: string
      - name: filter[subscribed_email_sequence_id]
        in: query
        required: false
        description: Filter contacts subscribed to a specific email sequence ID
        schema:
          type: string
      - name: filter[not_subscribed_email_sequence_id]
        in: query
        required: false
        description: Filter contacts not subscribed to a specific email sequence ID
        schema:
          type: string
      responses:
        '200':
          description: Success, list search results
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1Contacts
      x-operation-id-source: derived
  /v1/contacts/{id}:
    get:
      summary: Contact details
      description: 'Show details for a contact

        ## Contact Attributes

        * `name` (string) - The name of the contact

        * `email` (string) - The email of the contact, must be a valid and deliverable email address

        * `address_line_1` (string) - The first line of the contact''s address

        * `address_line_2` (string) - The second line of the contact''s address

        * `address_city` (string) - The city of the contact''s address

        * `address_country` (string) - The country of the contact''s address

        * `address_state` (string) - The state of the contact''s address

        * `address_zip` (string) - The zip code of the contact''s address

        * `phone_number` (string) - The phone number of the contact

        * `business_number` (string) - The business phone number of the contact

        * `subscribed` (boolean) - Whether the contact has opted in to receive marketing communications from the site

        * `external_user_id` (string) - The external user ID of the contact/customer; this field is only updatable if the contact has been granted an offer or made a purchase

        * `created_at` (string) - The date and time the contact was created

        * `updated_at` (string) - The date and time the contact was last updated


        ## Including Relationships

        Use the `include` parameter to include related resources in the response:

        * `GET /v1/contacts/123?include=offers,tags,customer`


        Response will include the related contact offers, tags and customer resources

        ```json

        {

        "data": {

        "id": "123",

        "type": "contacts",

        "attributes": {

        "name": "John Smith",

        "email": "john@example.com",

        "address_line_1": null,

        "address_line_2": null,

        "address_city": null,

        "address_country": null,

        "address_state": null,

        "address_zip": null,

        "phone_number": null,

        "business_number": null,

        "subscribed": false,

        "external_user_id": null,

        "created_at": "2024-01-15T10:30:00Z",

        "updated_at": "2024-01-15T10:30:00Z"

        },

        "links": {

        "customer": "https://api.kajabi.com/v1/customers/321"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "123",

        "type": "sites"

        }

        },

        "offers": {

        "links": {

        "data": [

        { "id": "456", "type": "offers" }

        ],

        "self": "https://api.kajabi.com/v1/contacts/123/relationships/offers"

        }

        },

        "tags": {

        "data": [

        { "id": "789", "type": "contact_tags" }

        ],

        "links": {

        "self": "https://api.kajabi.com/v1/contacts/123/relationships/tags"

        }

        },

        "customer": {

        "data": {

        "id": "321",

        "type": "customers"

        }

        }

        }

        },

        "included": [

        {

        "id": "456",

        "type": "offers",

        "attributes": {

        "name": "Offer 1",

        "description": "Offer 1 description",

        "internal_title": "Offer 1",

        "price_in_cents": 0,

        "payment_type": "free",

        "token": "offer_123",

        "payment_method": "none",

        "price_description": "Free",

        "checkout_url": "https://mywebsite.com/offers/456",

        "recurring_offer": false,

        "subscription": false,

        "one_time": true,

        "single": false,

        "free": true

        }

        },

        {

        "id": "789",

        "type": "contact_tags",

        "attributes": {

        "name": "Tag Name"

        }

        },

        {

        "id": "321",

        "type": "customers",

        "attributes": {

        "name": "John Smith",

        "email": "john@example.com",

        "avatar": null,

        "external_user_id": "cust_123",

        "public_bio": null,

        "public_location": null,

        "public_website": null,

        "socials": null,

        "net_revenue": "0.0",

        "sign_in_count": 0,

        "last_request_at": null,

        "bounced_at": null,

        "created_at": "2024-01-15T10:30:00Z",

        "updated_at": "2024-01-15T10:30:00Z"

        }

        }

        ]

        }

        ```

        ## Sparse Fields

        Use the `fields[contacts]` parameter to get specific fields for a contact:

        * `GET /v1/contacts/123?fields[contacts]=name,email`


        Response will include only requested fields for the contact

        ```json

        {

        "data": {

        "id": "123",

        "type": "contacts",

        "attributes": {

        "name": "John Smith",

        "email": "john@example.com"

        }

        }

        }

        ```

        ## Using Multiple Parameters Together

        You can combine multiple parameters to include related resources and get specific fields for a contact:

        * `GET /v1/contacts/123?include=customer&fields[contacts]=email&fields[customers]=net_revenue`


        Response will include the related customer resource and only requested fields for the contact and customer

        ```json

        {

        "data": {

        "id": "123",

        "type": "contacts",

        "attributes": {

        "email"…'
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: with ?include=offers,tags,customer the response will include the related contact offers, tags and customer resources
        schema:
          type: string
      - name: fields[contacts]
        in: query
        required: false
        description: 'Sparse fields, use: name, email for example ?fields[contacts]=name,email'
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details for specified contact and tags relationship
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1ContactsById
      x-operation-id-source: derived
    patch:
      summary: Update contact
      description: '## Contact attributes

        * A contact with a related customer resource does support `external_user_id` attribute.

        * See custom_fields endpoint to discover attributes for using custom fields attributes.

        ## Update a contact

        Example request body:

        ```json

        {

        "data": {

        "type": "contacts",

        "id": "456",

        "attributes": {

        "phone_number": "12134567890"

        }

        }

        }

        ```

        Response will include the update contact resource.

        ```json

        {

        "data": {

        "id": "456",

        "type": "contacts",

        "attributes": {

        "name": "John Doe",

        "email": "john.doe@example.com",

        "address_line_1": null,

        "address_line_2": null,

        "address_city": null,

        "address_country": null,

        "address_state": null,

        "address_zip": null,

        "phone_number": "12134567890",

        "business_number": null,

        "subscribed": false,

        "external_user_id": null,

        "created_at": "2024-01-15T10:30:00Z",

        "updated_at": "2024-01-15T10:30:00Z"

        },

        "relationships": {

        "site": {

        "data": {

        "id": "123",

        "type": "sites"

        }

        }

        }

        }

        }

        ```'
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, contact updated
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '422':
          description: Unprocessable entity, attributes have semantic errors
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unprocessable'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                    attributes:
                      $ref: '#/components/schemas/contacts_attributes'
                  required:
                  - id
                  - type
                  - attributes
                relationships:
                  type: object
                  properties:
                    tags:
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/resource_identifier'
              required:
              - data
      operationId: patchV1ContactsById
      x-operation-id-source: derived
    delete:
      summary: Delete contact
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, destroys the contact
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/empty_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '422':
          description: Unprocessable entity, contact has active Kajabi Payments subscriptions
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unprocessable'
      operationId: deleteV1ContactsById
      x-operation-id-source: derived
  /v1/contacts/{contact_id}/relationships/offers:
    get:
      summary: List contact's offers
      description: 'Get the contact''s relationship to offers (granted).


        Response is a list of resource identifiers

        ```json

        {

        "data": [

        { "type": "offers", "id": "123" },

        { "type": "offers", "id": "456" }

        ]

        }

        ```

        The related tag resources are available using the GET `api/v1/offers` endpoint.

        The resource identifier includes the offer id and type.

        Example URLs: `/api/v1/offers/123`, `/api/v1/offers/456`'
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details for tags relationship
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1ContactsByContactIdRelationshipsOffers
      x-operation-id-source: derived
    post:
      summary: Grant offer to contact
      description: '## Grant offer(s) to a contact

        Create an offer grant for a contact which results in creating a new customer record for your contact.


        In the request body inlcude offer resource identifier(s), `id: OFFER_ID`, `type: "offers"`.


        To skip sending a welcome email to the customer include a `meta` object in the request body.


        ```

        { "data": [{"type": "offers", "id": "123"}], "meta": {"send_customer_welcome_email": false}}

        ```


        The `meta` attribute `send_customer_welcome_email` as `false` will prevent sending the welcome email.


        (The default behavior is to send the welcome email.)


        ## Response

        * A successful response body will list the offers related to the contact

        * An error response will include a JSON body with error details.


        ## Behaviors and side effects

        * Checks if the contact was already granted the offer

        * Checks for existing customerby email

        * If no existing customer, generates a new customer record with contact details

        * May send a welcome email to the customer

        * May send a gift granted email if this is a gift offer

        * Triggers automations if configured'
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, adds tag relationship to contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
                meta:
                  type: object
                  properties:
                    send_customer_welcome_email:
                      type: boolean
              required:
              - data
      operationId: postV1ContactsByContactIdRelationshipsOffers
      x-operation-id-source: derived
    delete:
      summary: Revoke offer from contact
      description: '## Revoke offer grant(s) for a contact

        Revoke offer grant(s) using a list of resource identifiers

        In the request body inlcude offer resource identifier(s), `id: OFFER_ID`, `type: "offers"`.

        ```

        { "data": [{"type": "offers", "id": "123"}] }

        ```

        ## Response

        * A successful response body will list the offers related to the contact

        * An error response will include a JSON body with error details.


        ## Behaviors and side effects

        * Only affects active offers

        * Handles both offer purchases and offer grants

        * Deactivates all associated product memberships'
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, removes tag relationship to contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
              required:
              - data
      operationId: deleteV1ContactsByContactIdRelationshipsOffers
      x-operation-id-source: derived
    patch:
      summary: Replace offers for contact
      description: '## Replace offer grant(s) for a contact

        Replace offer grants (grants and revokes offers to/from contact) using a list of resource identifiers

        In the request body inlcude offer resource identifier(s), `id: OFFER_ID`, `type: "offers"`.

        ```

        { "data": [{"type": "offers", "id": "456"}, {"type": "offers", "id": "789"}] }

        ```

        ## Response

        * A successful response body will list the offers related to the contact

        * An error response will include a JSON body with error details.'
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, replaces offers relationships of contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
              required:
              - data
      operationId: patchV1ContactsByContactIdRelationshipsOffers
      x-operation-id-source: derived
  /v1/contacts/{contact_id}/relationships/tags:
    get:
      summary: List contact's tags
      description: 'Get the contact''s relationship to tags, response is a list of resource identifiers


        Response is a list of resource identifiers

        ```json

        {

        "data": [

        { "type": "contact_tags", "id": "123" },

        { "type": "contact_tags", "id": "456" }

        ]

        }

        ```

        The related tag resources are available using the GET `api/v1/contact_tags` endpoint.

        The resource identifier includes the contact tag id and type.

        Example URLs: `/api/v1/contact_tags/123`, `/api/v1/contact_tags/456`'
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details for tags relationship
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      operationId: getV1ContactsByContactIdRelationshipsTags
      x-operation-id-source: derived
    post:
      summary: Add tag to contact
      description: 'Add tag relationships to contact resource using a list of resource identifiers


        Request body includes a list of resource identifiers, `id: CONTACT_TAG_ID`, `type: "contact_tags"`.

        ```json

        { "data": [{ "type": "contact_tags", "id": "456" }] }

        ```

        The response body will include the updated list of tag relationships.


        Example response body:

        ```json

        { "data": [{ "type": "contact_tags", "id": "123" }, { "type": "contact_tags", "id": "456" }] }

        ```'
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, adds tag relationship to contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
              required:
              - data
      operationId: postV1ContactsByContactIdRelationshipsTags
      x-operation-id-source: derived
    delete:
      summary: Remove tag from contact
      description: 'Remove tag relationships to contact resource using a list of resource identifiers.


        Request body includes a list of resource identifiers, `id: CONTACT_TAG_ID`, `type: "contact_tags"`.

        ```json

        { "data": [{ "type": "contact_tags", "id": "456" }] }

        ```

        The response body will include the updated list of tag relationships.


        Example response body:

        ```json

        { "data": [{ "type": "contact_tags", "id": "123" }] }

        ```'
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, removes tag relationship to contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
              required:
              - data
      operationId: deleteV1ContactsByContactIdRelationshipsTags
      x-operation-id-source: derived
    patch:
      summary: Replace tags for contact
      description: 'Replace tag relationships to contact resource using a list of resource identifiers.


        Request body includes a list of resource identifiers, `id: CONTACT_TAG_ID`, `type: "contact_tags"`.

        ```json

        { "data": [{ "type": "contact_tags", "id": "123" }, { "type": "contact_tags", "id": "456" }] }

        ```


        The response body will include the updated list of tag relationships.

        ```json

        { "data": [{ "type": "contact_tags", "id": "123" }, { "type": "contact_tags", "id": "456" }] }

        ```'
      tags:
      - Contacts
      security:
      - Bearer: []
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success, replaces tag relationships of contact resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/contacts_relationships_tags_response'
        '400':
          description: Bad Request, invalid request body
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_bad_request'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
        '404':
          description: Not found, the resource is unknown
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/resource_identifier'
              required:
              - data
      operationId: patchV1ContactsByContactIdRelationshipsTags
      x-operation-id-source: derived
components:
  schemas:
    contacts_attributes:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        phone_number:
          type:
          - string
          - 'null'
        business_number:
          type:
          - string
          - 'null'
        subscribed:
          type: boolean
        address_line_1:
          type:
          - string
          - 'null'
        address_line_2:
          type:
          - string
          - 'null'
        address_city:
          type:
          - string
          - 'null'
        address_state:
          type:
          - string
          - 'null'
        address_country:
          type:
          - string
          - 'null'
        external_user_id:
          type:
          - string
          - 'null'
          description: Supported once contact is granted an offer or makes a purchase
        address_zip:
          type:
          - string
          - 'null'
        custom_1:
          type:
          - string
          - 'null'
          description: Support depends on custom fields of a site
        custom_2:
          type:
          - string
          - 'null'
          description: Support depends on custom fields of a site
        custom_3:
          type:
          - string
          - 'null'
          description: Support depends on custom fields of a site
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type:
          - object
          - 'null'
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_unprocessable:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_bad_request:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    resource_identifiers:
      type: array
      items:
        $ref: '#/components/schemas/resource_identifier'
    empty_response:
      type: object
      properties:
        data:
          type: object
          properties: {}
    contacts_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/contacts_attributes'
              relationships:
                type: object
                properties:
                  customer:
                    type:
                    - object
                    - 'null'
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
                  offers:
                    type:
                    - object
                    - 'null'
                    properties:
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
                  tags:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifiers'
              links:
                type: object
                properties:
                  customer:
                    type: string
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    contacts_relationships_tags_response:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/resource_identifiers'
        links:
          type: object
          properties:
            self:
              type: string
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
    contacts_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/contacts_attributes'
            relationships:
              type: object
              properties:
                customer:
                  type:
                  - object
                  - 'null'
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                offers:
                  type:
                  - object
                  - 'null'
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifiers'
                    links:
                      type: object
                      properties:
                        self:
                          type: string
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                tags:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifiers'
            links:
              type: object
              properties:
                customer:
                  type: string
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
