openapi: 3.0.3
info:
  title: Kajabi API V1 Authentication Courses API
  version: 1.1.0
  description: "## Public API\n* Server URL `https://api.kajabi.com`\n* Endpoint paths are prefixed with `/v1`\n* Version endpoint `GET https://api.kajabi.com/v1/version`\n* See the [Developers Site](https://developers.kajabi.com) for documentation and examples.\n* Try the demo [Postman collection](https://www.postman.com/kajabi-apis/beta-public-api-demo/collection/fg4iyaz/kajabi-public-api-v1)\n## API Keys\n* Your API `client_id` and `client_secret` are available on the [User API Keys](https://app.kajabi.com/admin/settings/security) section of the Kajabi Admin Portal.\n  * Custom API Keys can be created with specific permissions.\n  * Click the \"Create User API Key\" button, enter a name (e.g. \"My project\"), select the user and permissions, and click \"Create\".\n  * For security purposes, you may \"Delete\" or \"Rotate\" the api credentials at any time; which will invalidate any access tokens granted with the credentials.\n## Video Walkthroughs\n* [Capabilities](https://drive.google.com/file/d/1Puc9B2sSdA-RQb7YMxmUXg4FVoEXytoc/view?usp=sharing)\n* [Getting Started](https://drive.google.com/file/d/1hbGRShkxven_QMWvgYrerHKURbcZrnvJ/view?usp=sharing)\n* [Error Examples](https://drive.google.com/file/d/1i0wQK71I1jpaZVsxYwsn62gVj40S_E7Y/view?usp=sharing)\n* [External Contact Form](https://drive.google.com/file/d/1HqpULXvan5TOK3LvM7nILCuCkCaX0kFT/view?usp=sharing)\n"
  contact:
    email: support@kajabi.com
    name: Support
    url: https://help.kajabi.com/hc/en-us/articles/4404549690523-How-to-Get-Help-From-Kajabi-Live-Agents
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.kajabi.com
  description: Production
tags:
- name: Courses
paths:
  /v1/courses:
    get:
      summary: List courses
      description: "List of courses that can be offered to a contact or purchased\n## Pagination\nUse the `page[number]` and `page[size]` query parameters to paginate results:\n### Get first page of 10 items\n* `GET /v1/courses?page[number]=1&page[size]=10`\n### Get second page of 25 items\n* `GET /v1/courses?page[number]=2&page[size]=25`\n\nThe response includes pagination links and meta data:\n```json\n{\n  \"links\": {\n    \"self\": \"https://api.kajabi.com/v1/courses?page[number]=2&page[size]=10\",\n    \"first\": \"https://api.kajabi.com/v1/courses?page[number]=1&page[size]=10\",\n    \"prev\": \"https://api.kajabi.com/v1/courses?page[number]=1&page[size]=10\",\n    \"next\": \"https://api.kajabi.com/v1/courses?page[number]=3&page[size]=10\",\n    \"last\": \"https://api.kajabi.com/v1/courses?page[number]=5&page[size]=10\"\n  },\n  \"meta\": {\n    \"total_pages\": 5,\n    \"total_count\": 50,\n    \"current_page\": 2\n  }\n}\n```\n## Sorting\nUse the `sort` parameter to sort the results:\n### Sort by title in ascending order\n* `GET /v1/courses?sort=title`\n### Sort by title in descending order\n* `GET /v1/courses?sort=-title`\n\nResponse will include courses sorted by the specified field\n```json\n{\n  \"data\": [\n    {\n      \"id\": \"123\",\n      \"type\": \"courses\",\n      \"attributes\": {\n        \"title\": \"Advanced Marketing\",\n        \"description\": \"Master level marketing course\",\n        \"status\": \"active\"\n      }\n    },\n    {\n      \"id\": \"456\",\n      \"type\": \"courses\",\n      \"attributes\": {\n        \"title\": \"Marketing Basics\",\n        \"description\": \"Introduction to marketing\",\n        \"status\": \"active\"\n      }\n    }\n  ]\n}\n```\n## Sparse Fields\nUse the `fields` parameter to request only specific attributes:\n### Only return title and thumbnail_url attributes\n* `GET /v1/courses?fields[courses]=title,thumbnail_url`\n\nResponse will only include requested fields\n```json\n{\n  \"data\": [{\n    \"id\": \"123\",\n    \"type\": \"courses\",\n    \"attributes\": {\n      \"title\": \"Marketing Fundamentals\",\n      \"thumbnail_url\": \"https://example.com/thumbnail.jpg\"\n    }\n  }]\n}\n```\n## Filter by Site ID\nUse the `filter[site_id]` parameter to get courses for a specific site:\n### Get courses for site with ID 123\n* `GET /v1/courses?filter[site_id]=123`\n\nResponse will only include courses for that site\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"courses\",\n    \"attributes\": {\n      \"title\": \"Marketing Fundamentals\",\n      \"description\": \"Introduction to marketing concepts\",\n      \"status\": \"active\"\n    },\n    \"relationships\": {\n      \"site\": {\n        \"data\": {\n          \"id\": \"123\",\n          \"type\": \"sites\"\n        }\n      }\n    }\n  }]\n}\n```\n## Filter by Title Contains\nUse the `filter[title_cont]` parameter to find courses where the title contains specific text:\n### Get courses with titles containing \"marketing\"\n* `GET /v1/courses?filter[title_cont]=marketing`\n\nResponse will include courses with matching titles\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"courses\",\n    \"attributes\": {\n      \"title\": \"Marketing Fundamentals\",\n      \"description\": \"Introduction to marketing concepts\",\n      \"status\": \"active\"\n    }\n  }]\n}\n```\n## Filter by Description Contains\nUse the `filter[description_cont]` parameter to find courses where the description contains specific text:\n### Get courses with descriptions containing \"marketing\"\n* `GET /v1/courses?filter[description_cont]=marketing`\n\nResponse will include courses with matching descriptions\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"courses\",\n    \"attributes\": {\n      \"title\": \"Marketing Fundamentals\",\n      \"description\": \"Introduction to marketing concepts and strategies\",\n      \"status\": \"active\"\n    }\n  }]\n}\n```\n## Using Multiple Parameters Together\nYou can combine pagination, sparse fields, filtering and sorting in a single request:\n### Get first page of 10 courses for site 123, sorted by title, showing only specific fields\n* `GET /v1/courses?page[number]=1&page[size]=10&filter[site_id]=123&sort=title&fields[courses]=title,thumbnail_url`\n\nResponse will include pagination, sorted filtered results with requested fields\n```json\n{\n  \"data\": [{\n    \"id\": \"456\",\n    \"type\": \"courses\",\n    \"attributes\": {\n      \"title\": \"Advanced Marketing\",\n      \"thumbnail_url\": \"https://example.com/thumbnail1.jpg\"\n    }\n  },\n  {\n    \"id\": \"789\",\n    \"type\": \"courses\",\n    \"attributes\": {\n      \"title\": \"Marketing Basics\",\n      \"thumbnail_url\": \"https://example.com/thumbnail2.jpg\"\n    }\n  }],\n  \"links\": {\n    \"self\": \"https://api.kajabi.com/v1/courses?page[number]=1&page[size]=10&filter[site_id]=123&sort=title&fields[courses]=title,thumbnail_url\",\n    \"first\": \"https://api.kajabi.com/v1/courses?page[number]=1&page[size]=10&filter[site_id]=123&sort=title&fields[courses]=title,thumbnail_url\",\n    \"next\": \"https://api.kajabi.com/v1/courses?page[number]=2&page[size]=10&filter[site_id]=123&sort=title&fields[courses]=title,thumbnail_url\",\n    \"last\": \"https://api.kajabi.com/v1/courses?page[number]=3&page[size]=10&filter[site_id]=123&sort=title&fields[courses]=title,thumbnail_url\"\n  },\n  \"meta\": {\n    \"total_pages\": 3,\n    \"total_count\": 25,\n    \"current_page\": 1\n  }\n}\n```\n"
      tags:
      - Courses
      security:
      - Bearer: []
      parameters:
      - name: sort
        in: query
        required: false
        description: 'Sort order, use: title, for descending order use ''-'' e.g. &sort=-title'
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: number
      - name: page[size]
        in: query
        required: false
        description: Number of documents
        schema:
          type: number
      - name: fields[courses]
        in: query
        required: false
        description: Partial attributes as specified, e.g. fields[courses]=title,thumbnail_url
        schema:
          type: string
      - name: filter[site_id]
        in: query
        required: false
        description: Filter by site_id, for example ?filter[site_id]=111
        schema:
          type: string
      - name: filter[title_cont]
        in: query
        required: false
        description: Filter by title contains, for example ?filter[title_cont]=marketing
        schema:
          type: string
      - name: filter[description_cont]
        in: query
        required: false
        description: Filter by description contains, for example ?filter[description_cont]=marketing
        schema:
          type: string
      - name: filter[publish_status_eq]
        in: query
        required: false
        description: Filter by publish status, for example ?filter[publish_status_eq]=published
        schema:
          type: string
      responses:
        '200':
          description: Success, list of courses which the current user may access
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/courses_index_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
  /v1/courses/{id}:
    get:
      summary: Course details
      description: "Details of a course that can be offered to a contact or purchased\n\n## Course Attributes\n* `created_at` (string) - The date and time the course was created\n* `title` (string) - The title of the course\n* `description` (string) - The description of the course\n* `thumbnail_url` (string) - The URL of the course thumbnail\n\n## Including Relationships\nUse the `include` query parameter to load related resources:\n### Include modules, lessons and related media, and offers\n* `GET /v1/courses/123?include=modules,lessons,lessons.media,offers`\n\nResponse will include the requested related resources\n(Note: The responses listed within the \"included\" array will also include the relationships for each resource)\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"courses\",\n    \"attributes\": {\n      \"created_at\": \"2024-08-06T05:30:38.669Z\",\n      \"title\": \"Advanced Marketing\",\n      \"description\": \"Master level marketing course\",\n      \"thumbnail_url\": \"https://example.com/thumbnail.jpg\"\n    },\n    \"relationships\": {\n      \"modules\": {\n        \"data\": [{\n          \"id\": \"456\",\n          \"type\": \"modules\"\n        }]\n      },\n      \"lessons\": {\n        \"data\": [{\n          \"id\": \"789\",\n          \"type\": \"lessons\"\n        }]\n      },\n      \"offers\": {\n        \"data\": [{\n          \"id\": \"101\",\n          \"type\": \"offers\"\n        }]\n      }\n    },\n    \"included\": [{\n      \"id\": \"456\",\n      \"type\": \"modules\",\n      \"attributes\": {\n        \"title\": \"Marketing Fundamentals\",\n        \"description\": \"Introduction to marketing concepts\",\n        \"position\": 1,\n        \"poster_image_url\": \"https://example.com/poster.jpg\",\n        \"publishing_option\": \"published\"\n      }\n    },\n    {\n      \"id\": \"789\",\n      \"type\": \"lessons\",\n      \"attributes\": {\n        \"title\": \"Marketing Basics\",\n        \"position\": 1,\n        \"status\": \"published\",\n        \"publishing_option\": \"published\"\n      }\n    },\n    {\n      \"id\": \"202\",\n      \"type\": \"media\",\n      \"attributes\": {\n        \"duration_in_minutes\": 1,\n      }\n    },\n    {\n      \"id\": \"101\",\n      \"type\": \"offers\",\n      \"attributes\": {\n        \"price\": 100.0,\n        \"currency\": \"USD\",\n        \"status\": \"active\"\n      }\n    }]\n  }\n}\n```\n## Module attributes\nModules are part of Kajabi's course structure: courses contain modules and modules contain lessons\n\n* `title` (string) - A required field that represents the name or heading of the module. This is used to:\n  * Identify and display the module in the course outline\n  * Organize related lessons/content\n  * Provide navigation structure in the course\n  * The title must be unique within a course.\n* `description` (string) - An optional text field that provides additional information about the module's content. This can be used to:\n  * Give students an overview of what they'll learn\n  * Explain the module's objectives\n  * Provide context for the contained lessons\n  * Help students understand the module's purpose in the course structure\n* `position` (integer) - A numeric field that determines the order of modules within a course. This:\n  * Used for sorting\n  * Allows modules to be reordered\n  * Maintains the course's logical progression\n  * Is used for navigation between modules\n  * Starts at position 1 for the first module\n* `poster_image_url` (string) - A URL to an image that represents the module visually. This:\n  * Can be uploaded through the Kajabi admin interface\n  * Is used as a thumbnail/preview image\n  * Helps with visual organization of the course\n* `publishing_option` (string) - Controls the visibility and availability of the module. Options include:\n  * `published` - Module is visible and available to students\n  * `draft` - Module is hidden and not yet available\n  * Can be used with drip settings for timed release\n  * Affects the visibility of contained lessons\n  * Syncs with the course's overall publishing status\n\n## Lesson attributes\nLessons can include various types of content: text content (body), videos, audio, quizzes, assessments, and downloads.\n\n* `title` (string) - A required field that represents the name or heading of the lesson. This:\n  * Must be present\n  * Has a maximum length of 200 characters\n  * Is used for display and navigation\n  * Can be searched (using pg_search)\n  * Is used in course outlines and navigation\n* `position` (integer) - A numeric field that determines the order of lessons within a module (category). This:\n  * Usedfor sorting (ranks :sort, column: :position)\n  * Is scoped within each module\n  * Allows lessons to be reordered\n  * Maintains the logical flow of content\n  * Is used for navigation between lessons\n* `status` (string) - An field that tracks the lesson's processing state:\n  * `ready` - Default state, lesson is ready for use\n  * `duplicating` - Lesson is being copied\n  * `failed` - An error occurred during processing\n  * This is particularly relevant for lessons with media content or during duplication.\n* `publishing_option` (string) - Controls the visibility and availability of the lesson. Options include:\n  * `draft` - Lesson is hidden and not yet available to students\n  * `published` - Lesson is visible and available (sets publish_at to current time)\n  * `drip` - Lesson becomes available after a specified number of days\n  * `locked` - Lesson is locked until certain conditions are met (e.g., completing previous lessons)\n\n## Media attributes\n* `duration_in_minutes` (float) - The length of a media file (typically video or audio) in minutes.\n\n## Sparse Fields\nUse the `fields` parameter to request only specific attributes:\n### Only return title and thumbnail_url attributes\n* `GET /v1/courses/123?fields[courses]=title,thumbnail_url`\n\nResponse will only include requested fields\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"courses\",\n    \"attributes\": {\n      \"title\": \"Marketing Fundamentals\",\n      \"thumbnail_url\": \"https://example.com/thumbnail.jpg\"\n    }\n  }\n}\n```\n\n## Using Multiple Parameters Together\nYou can combine sparse fields and include in a single request:\n### Get course details with modules and lessons, showing only specific fields\n* `GET /v1/courses/123?include=modules,lessons,lessons.media&fields[courses]=title,thumbnail_url&fields[modules]=title&fields[lessons]=title&fields[media]=duration_in_minutes`\n\nResponse will include related resources with requested fields\n```json\n{\n  \"data\": {\n    \"id\": \"123\",\n    \"type\": \"courses\",\n    \"attributes\": {\n      \"title\": \"Marketing Fundamentals\",\n      \"thumbnail_url\": \"https://example.com/thumbnail.jpg\"\n    },\n    \"relationships\": {}\n  },\n  \"included\": [{\n    \"id\": \"456\",\n    \"type\": \"modules\",\n    \"attributes\": {\n      \"title\": \"Marketing Basics\"\n    }\n  },\n  {\n    \"id\": \"789\",\n    \"type\": \"lessons\",\n    \"attributes\": {\n      \"title\": \"Marketing Strategies\"\n    }\n  },\n  {\n    \"id\": \"101\",\n    \"type\": \"media\",\n    \"attributes\": {\n      \"duration_in_minutes\": 30\n    }\n  }]\n}\n```\n"
      tags:
      - Courses
      security:
      - Bearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Load the related resources, for example ?include=modules,lessons,lessons.media
        schema:
          type: string
      responses:
        '200':
          description: Success, shows details of a course
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/courses_show_response'
        '401':
          description: Unauthorized, Authorization header is missing or invalid
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_unauthorized'
        '403':
          description: Forbidden, insufficient permission to access the resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/errors_forbidden'
components:
  schemas:
    courses_index_response:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                $ref: '#/components/schemas/courses_attributes'
              relationships:
                type: object
                properties:
                  site:
                    type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/resource_identifier'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
    courses_attributes:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: ISO 8601 date-time, read only
        title:
          type: string
        description:
          type:
          - string
          - 'null'
        thumbnail_url:
          type:
          - string
          - 'null'
      required:
      - title
    resource_identifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
    offers_attributes:
      type: object
      properties:
        title:
          type: string
        description:
          type:
          - string
          - 'null'
        internal_title:
          type:
          - string
          - 'null'
        currency:
          type: string
        price_in_cents:
          type: integer
        payment_type:
          type: string
        token:
          type: string
        payment_method:
          type: string
        price_description:
          type: string
        checkout_url:
          type: string
        recurring_offer:
          type: boolean
        subscription:
          type: boolean
        one_time:
          type: boolean
        single:
          type: boolean
        free:
          type: boolean
        image_url:
          type:
          - string
          - 'null'
      required:
      - title
    errors_attributes:
      type: object
      properties:
        status:
          type: string
        source:
          type: object
          nullable: true
          properties:
            pointer:
              type: string
        title:
          type: string
        detail:
          type: string
    course_lessons_attributes:
      type: object
      properties:
        title:
          type: string
        position:
          type:
          - string
          - 'null'
        status:
          type: string
        publishing_option:
          type: string
    courses_show_response:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              $ref: '#/components/schemas/courses_attributes'
            relationships:
              type: object
              properties:
                site:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifier'
                offers:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifiers'
                modules:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifiers'
                lessons:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/resource_identifiers'
        links:
          type: object
          properties:
            self:
              type: string
            current:
              type: string
        included:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                anyOf:
                - $ref: '#/components/schemas/offers_attributes'
                - $ref: '#/components/schemas/courses_attributes'
                - $ref: '#/components/schemas/course_modules_attributes'
                - $ref: '#/components/schemas/course_lessons_attributes'
              relationships:
                type: object
                properties: {}
    resource_identifiers:
      type: array
      items:
        $ref: '#/components/schemas/resource_identifier'
    course_modules_attributes:
      type: object
      properties:
        title:
          type: string
        description:
          type:
          - string
          - 'null'
        position:
          type:
          - string
          - 'null'
        poster_image_url:
          type:
          - string
          - 'null'
        publishing_option:
          type: string
    errors_unauthorized:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
    errors_forbidden:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errors_attributes'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-mint:
  mcp:
    enabled: true
